<style>

.black-block {
    background-color:#998e70;
    width:30px;
    height:30px;
    border-radius: 15px;
}

.white-block {
    background-color:#e5e4e2;
    width:30px;
    height:30px;
    border-radius: 15px;
}

.doubleblack-block {
    background-color:#998e70;
    width:30px;
    height:30px;
    border-radius: 15px;
}

.doublewhite-block {
    background-color:#e5e4e2;
    width:30px;
    height:30px;
    border-radius: 15px;
}

.empty-block {
    width:30px;
    height:30px;
}

table#graph-grid{
    background-image: url('/assets/checkers.png');
    margin: auto;
}

</style>
<div>
    <div class="checkers-grid" style="display: block; margin: auto; border-radius: 10px;">
    </div>
</div>
