<style>
    #graph-grid {
        margin: 20px auto;
        border: 1px solid #666;
        background: #aaa;
    }
    .graph-row {
        background-color: none;
        border: none;
    }
    .graph-col {
        height: 30px;
        width: 30px;
        background-color: none;
        border: 1px solid #000;
    }

    .graph-col-solid {
        background: #333;
    }

    .blue-block {
        height: 30px;
        width: 30px;
        border: 1px solid #000;
        background: #4682B4;
    }

    .red-block {
        height: 30px;
        width: 30px;
        border: 1px solid #000;
        background: #FF6347;
    }

    .violet-block {
        height: 30px;
        width: 30px;
        border: 1px solid #000;
        background: #EE82EE;
    }

    .indigo-block {
        height: 30px;
        width: 30px;
        border: 1px solid #000;
        background: #4B0082;
    }

    .green-block {
        height: 30px;
        width: 30px;
        border: 1px solid #000;
        background: #008000;
    }

    .yellow-block {
        height: 30px;
        width: 30px;
        border: 1px solid #000;
        background: #FFFF00;
    }

    .orange-block {
        height: 30px;
        width: 30px;
        border: 1px solid #000;
        background: #FFA500;
    }
</style>
<div>
    <div class="cmania-grid" style="display: block; margin: auto; border-radius: 10px;">
    </div>
</div>
