<style>
    #graph-grid {
        margin: 20px auto;
        border: 1px solid #666;
        background: #FFEBCD;
    }
    .graph-row {
        background-color: none;
        border: none;
    }
    .graph-col {
        height: 30px;
        width: 30px;
        background-color: none;
        border: 1px solid #000;
    }

    .graph-col-solid {
        background: #333;
    }

    .black-block {
        height: 30px;
        width: 30px;
        border-radius:13px;
        border: 1px solid #000;
        background: #474747;
    }

    .white-block {
        height: 30px;
        width: 30px;
        border-radius:13px;
        border: 1px solid #000;
        background: #A0A0A0;
    }

</style>
<div>
    <div class="clobber-grid" style="display: block; margin: auto; border-radius: 10px;">
    </div>
</div>
