<style>
    #graph-grid {
        margin: 20px auto;
        border: 1px solid #666;
        background: #0099CC;
    }
    .graph-row {
        background-color: none;
        border: none;
    }
    .graph-col {
        height: 30px;
        width: 30px;
        background-color: #FFFFFF;
        border-radius:15px;
    }

    .graph-col-solid {
        background: #333;
    }

    .yellow-block {
        height: 30px;
        width: 30px;
        background-color: #FFFF00;
        border-radius:15px;
    }

    .red-block {
        height: 30px;
        width: 30px;
        background-color: #FF0000;
        border-radius:15px;
    }

</style>
<div>
    <div class="connect4-grid" style="display: block; margin: auto; border-radius: 10px;">
    </div>
</div>
