<style>
    .moves {
        width: 200px;
        margin: auto;
        border: 1px solid #333;
        margin-bottom: 20px;
    }
    .moves td {
        width: 100px;
        border: 1px solid #333;
    }
    .moves tr {
        border: 1px solid #333;
    }
    .cops {
        background: url('/assets/copsandrobber.png') no-repeat top left;
        background-position: 0 0;
        width: 20px;
        height: 20px;
    }
    .robber {
        background: url('/assets/copsandrobber.png') no-repeat top left;
        background-position: 0 -30px;
        width: 20px;
        height: 20px;
    }
</style>
<div>
    <div class="game-grid" style="display: block; margin: auto; border-radius: 10px;">
        <% var rows = 20; %>
        <% var columns = 20; %>
        <table style="margin: 20px auto; border: 2px solid #666;">
            <% for (i = 0; i < rows; i++) { %>
            <tr style=" background-color: #ddd; border: 2px solid #666;">
                <% for (j = 0; j < columns; j++) { %>
                   <td class="<%= i %>-<%= j %> m" style="height: 20px; width: 20px; background-color: #eee; border: 2px solid #666; font-size: 6px; text-align: center;">
                   </td>
                <% } %>
            </tr>
            <% } %>
        </table>
    </div>
</div>
