<div><div><div><div>

</div></div></div></div>

<style>
    .move
    {
        display: block;
        margin:20px auto;
        width:130px;
        height:30px;
        background: #DDD;
        border: 2px solid #666;
        padding: 10px;
        font-size: 30px;
        text-align: center;
        line-height: 30px;
    }
</style>
<div>
    <div class="game-grid" style="display: block; margin: auto; border-radius: 10px;">
        
        <div class="move">
            
        </div>

    </div>
</div>
