<div><div><div><div>

</div></div></div></div>

<style>
    .moves {
        width: 200px;
        margin: auto;
        border: 1px solid #333;
        margin-bottom: 20px;
    }
    .moves td {
        width: 31px;
        border: 1px solid #333;
    }
    .moves tr {
        border: 1px solid #333;
    }
    .game-grid div {
        height: 20px; 
        width: 20px; 
        position: absolute;
    }
    .empty{
        border-radius:10px;
        background-color:white;
        box-shadow: 0px 0px 3px 0px #000 inset;
    }
    .white{
        border-radius:10px;
        background-color:white;
        box-shadow: -2px -2px 12px 0px #333 inset;   
    }
    .black{
        border-radius:10px;
        background-color:#666;
        box-shadow: -2px -2px 12px 0px #222 inset;   
    }
</style>
<div>
    <div class="game-grid" style="display: block; margin: auto; border-radius: 0px; background: url('assets/games/morrisnine.jpg') no-repeat; background-size: 350px 350px; height:350px; width:350px; position:relative;">
        <div class="empty 0-0" style="left:5.5px; top:5.5px;"></div>
        <div class="empty 0-3" style="left:165px; top:5.5px;"></div>
        <div class="empty 0-6" style="left:324px; top:5.5px;"></div>

        <div class="empty 1-1" style="left:59px; top:59px;"></div>
        <div class="empty 1-3" style="left:165px; top:59px;"></div>
        <div class="empty 1-5" style="left:271px; top:59px;"></div>

        <div class="empty 2-2" style="left:111.5px; top:111.5px;"></div>
        <div class="empty 2-3" style="left:165px; top:111.5px;"></div>
        <div class="empty 2-4" style="left:218px; top:111.5px;"></div>

        <div class="empty 3-0" style="left:5.5px; top:165px;"></div>
        <div class="empty 3-1" style="left:59px; top:165px;"></div>
        <div class="empty 3-2" style="left:111.5px; top:165px;"></div>
        <div class="empty 3-4" style="left:218px; top:165px;"></div>
        <div class="empty 3-5" style="left:271px; top:165px;"></div>
        <div class="empty 3-6" style="left:324px; top:165px;"></div>

        <div class="empty 4-2" style="left:111.5px; top:218px;"></div>
        <div class="empty 4-3" style="left:165px; top:218px;"></div>
        <div class="empty 4-4" style="left:218px; top:218px;"></div>

        <div class="empty 5-1" style="left:59px; top:271px;"></div>
        <div class="empty 5-3" style="left:165px; top:271px;"></div>
        <div class="empty 5-5" style="left:271px; top:271px;"></div>

        <div class="empty 6-0" style="left:5.5px; top:324px;"></div>
        <div class="empty 6-3" style="left:165px; top:324px;"></div>
        <div class="empty 6-6" style="left:324px; top:324px;"></div>
    </div>
</div>
