<style>
    .moves {
        width: 200px;
        margin: auto;
        border: 1px solid #333;
        margin-bottom: 20px;
    }
    .moves td {
        width: 100px;
        border: 1px solid #333;
    }
    .moves tr {
        border: 1px solid #333;
    }
</style>
<div>
    <div class="game-grid" style="display: block; margin: auto; border-radius: 10px;">
        <% var rows = 3; %>
        <% var columns = 3; %>
        <table style="margin: 20px auto; border: 2px solid #666;">
            <% for (i = 0; i < rows; i++) { %>
            <tr style="height: 80px; width: 240px; background-color: #ddd; border: 2px solid #666;">
                <% for (j = 0; j < rows; j++) { %>
                   <td class="<%= i %>-<%= j %>" style="height: 40px; width: 40px; background-color: #eee; border: 2px solid #666; padding: 20px; font-size: 40px; text-align: center;">&nbsp;</td>
                <% } %>
            </tr>
            <% } %>
        </table>
    </div>
</div>
