<style>
    #graph-grid {
        margin: 20px auto;
        border: 1px solid #666;
        background: #fff;
    }
    .graph-row {
        background-color: none;
        border: none;
    }
    .graph-col {
        height: 30px;
        width: 30px;
        background-color: none;
        border: 1px solid #000;
    }

    .graph-col-solid {
        background: #333;
    }

    .black-block {
        height: 30px;
        width: 30px;
        border: 1px solid #000;
        background: #474747;
    }

    .red-block {
        height: 30px;
        width: 30px;
        border: 2px solid #000;
        background: #FF0000;
    }

    .green-block {
        height: 30px;
        width: 30px;
        border: 2px solid #000;
        background: #00FF00;
    }

</style>
<div>
    <div class="tron-generic-grid" style="display: block; margin: auto; border-radius: 10px;">
    </div>
</div>
