<!--<h4>Questions You Follow</h4>
<% _.each(collection, function(activity) { %>
<div class="follow-question-wrap">
    <h5><a class="backbone" href="<%= HR.appController.get_current_contest_namespace() %>/challenges/<%= activity.question.challenge_slug %>/forum/questions/<%= activity.question.id %>"><%= activity.question.title %></a></h5>
    <!--<div class="user-notification">-->
        <!--<a href="" class="backbone dropdown"><span class="number">3</span> new notifications</a>-->
    <!--</div>-->
<!--</div>
<%}) %>-->
