<section class="forum container">
  <header class="page-title container">
    <div class="row">
      <h1 class="span16"><%=challenge.get('name')%> Forum</h1>
    </div>
  </header>
  <div class="row">
    <div class="span11 light-wrap wrap forum-teaser-wrap pull-left">
      <h3><%= (question.id)? "Edit":"Ask a"%> question</h3>
      <fieldset>
        <div class="control-group">
          <label for="question-title" class="control-label">Title</label>
          <div class="controls">
            <input type="text" id="question-title" class="span10" value="<%= question.get('title') %>"></input>
          </div>
        </div>
        <div class="control-group">
          <label for="question-description" class="control-label">Question</label>
          <div class="controls">
            <textarea rows="10" class="span10" id="question-description"></textarea>
          </div>
        </div>
        <div class="control-group preview-wrap hide">
          <label for="question-preview" class="control-label">Preview</label>
          <div class="controls">
            <div id="question-preview"></div>
          </div>
        </div>
        <div class="control-group">
          <label>Tags (optional)</label>
          <div class="controls">
            <input type="text" id="question-tags" class="span10" value="<%= question.get('tags').join(',&nbsp;') %>">
          </div>
          <p class="small" style="margin-top: 0; font-size: 0.9em;">Separate tags with a comma enclose tags of two or more words in quotations.</p>
        </div>

        <a href='#' class='ask-question btn btn-blue' data-analytics="Question Form" ><%= (question.id)? "Update":"Ask"%> Question</a>
        <small id="question-error" class="error hide">Please fill in all the required (*) fields.</small>
      </fieldset>
    </div>
    <div class="sidebar span5 light-wrap wrap pull-right">
      <section class="related-questions related">
        <small>
          <a class="backbone" href="/challenges/<%=challenge.get('slug')%>/forum/questions">← All <%= challenge.get('name') %> Questions</a>
        </small>
      </section>
    </div>
  </div>
</section>
