<p class="pull-right"><a class="backbone btn btn-text" href="/challenges/queens-revised/forum/questions"><i class="icon-left-open"></i> All Discussions</a></p>
<% if (profile.isLoggedIn()) { %>
<p class="forum-sidebar-button"><a class="btn btn-primary btn-large head-btn pull-right" id="follow-button"><%= (model.subscribed)? "Unfollow Question":"Follow Question"  %></a></p>
<% } %>
<!--<ul class="social unstyled horizontal">
  <li><iframe src="//www.facebook.com/plugins/like.php?href=<%= window.location %>&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=20&amp;appId=347499128655783" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:35px;" allowTransparency="true"></iframe></li>
  <li><a href="https://twitter.com/share?url=<%= window.location %>&text=<%= shareText %>" target="_blank"><img src="/assets/tweet-filler.png"/></a></li>
</ul>-->
