<div class="container--inner">
    <header class="page-title">
        <div class="clearfix">
            <h1><%= challenge.get('name') %></h1>
        </div>
        <ul class="nav-tabs nav">
            <li><a class="hr-problem-link backbone" href="<%= challenge.pageURL() %>"><i class="icon-bolt"></i>Problem</a></li>
            <li><a class="hr-submissions-link backbone" href="<%= challenge.pageURL() %>/submissions"><i class="icon-list-bullet-small"></i>Submissions</a></li>
            <li><a class="hr-leaderboard-link backbone" href="<%= challenge.pageURL() %>/leaderboard"><i class="icon-trophy"></i>Leaderboard</a></li>
            <li class="active"><a class="hr-forum-link backbone" href="<%= challenge.pageURL() %>/forum/questions"><i class="icon-comment"></i>Discussions</a></li>
        </ul>
    </header>

    <section class="forum single-question">
        <div class="row">
            <div id="question-content-view"></div>
            <div class="span4 forum-sidebar sidebar"></div>
        </div>
    </section>
</div>