<section class="contests">
    <div class="container">
        <div class="page_narrow">
            <% if(contests.length === 0 && contests.sync_status) { %>
            <div class="tab-content" style="padding: 10px">
                No contests available
            </div>
            <% } else { %>
            <div class="pull-left content_group--block content_side">
                <div>
                    <header class="sidebar_cap msT">
                        Active Contests
                        <a href="/calendar" class="btn btn-link pull-right backbone" title="Full Programming Contest Calendar" rel="tooltip"><i class="icon-calendar icon--single"></i></a>
                    </header>
                    <div class="sidebar--block sidebar_list mlB psA">
                        <ul class="contests_list-active unstyled"></ul>
                    </div>
                </div>
                <div>
                    <header class="nav-tabs ungroup">
                        <li class="active"><a href="#recentContests" data-toggle="tab">Recent</a></li>
                    </header>
                    <div class="sidebar--block sidebar_list tab-content">
                        <div class="psA tab-pane active" id="recentContests">
                        <ul class="unstyled contests_list-archived"></ul>
                        </div>

                    </div>
                    <div class="text-center msT"><a href="/contests/archived" class="btn btn-link backbone">All archived contests<i class="icon--right icon-right-open"></i></a></div>
                </div>
            </div>
            <div class="pull-right content_group--block content_primary tab-content">
                <div class="content_header">
                    <!--<span class="bold challenge-breadcrumbs zeta small pull-left">All Contests</span>-->
                    <% if (contest) { %>
                        <span class="bold challenge-breadcrumbs zeta small pull-left">
                            <% if (!contest.get('started')) { %>
                                <a href="/contests" class="zeta backbone">Active contests<i class="icon--right icon-right-open"></i></a>
                            <% } else if (contest.get('started') && !contest.get('ended')) { %>
                                <a href="/contests" class="zeta backbone">Active contests<i class="icon--right icon-right-open"></i></a>
                            <% } else { %>
                                <a href="/contests/archived" class="zeta backbone">Archived contests<i class="icon--right icon-right-open"></i></a>
                            <% } %>
                            <a href="/contests/<%= contest.get('slug') %>" class="zeta backbone"><%- contest.get('name') %></a>
                        </span>

                        <% if (contest.get('started') && contest.get('visible')) { %>
                        <div class="pull-right btn-group psT">
                            <% if (contest.get('kind') == 'weekly') { %>
                                <a href="/blog/daily-challenge" class="btn btn-link green" target="_blank">About weekly contest</a>
                            <% } %>
                            <a href="/contests/<%= contest.get('slug') %>/submissions" class="btn btn-link green backbone">Review Submissions</a>
                            <a href="/contests/<%= contest.get('slug') %>/leaderboard" class="btn btn-link green backbone">Leaderboard</a>
                        </div>
                        <% } %>
                    <% } else if (contest_slug == "archived") { %>
                        <span class="bold challenge-breadcrumbs zeta small pull-left">
                            <a href="/contests/archived" class="zeta backbone">Archived contests<i class="icon--right icon-right-open"></i></a>
                        </span>
                    <% } %>
                </div>

                <div class="tab-pane active">
                    <div class="archived-contests"></div>
                    <div class="challenges-list"></div>
                    <div class="pagination-wrapper"></div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</section>