<div class="error-container container">
    <div class="container--inner">
        <p style="font-size: 110px; text-shadow: 0 5px 20px rgba(0,0,0,0.4);" class="text-center"><strong>404</strong></p>
        <p style="font-size: 30px" class="text-center span12 block-center"><strong>We could not find the page you were looking for, so we found something to make you laugh to make up for it.</p>
        <div class="text-center">
            <a class="btn btn-primary btn-large mlT mlB" onclick="javascript: (function() { history.back(); return false;})();">Go back a page</a>
        </div>
        <img src="/assets/fourohfour.png" class="block-center">

    </div>
</div>

