<div class="history-chart">
    <ul id="description-tabs" class="unstyled nav nav-tabs">
        <li class="active"><a href="#descriptionEditTab" data-toggle="tab">Edit</a></li>
        <li><a href="#descriptionPreviewTab" data-toggle="tab">Preview</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="descriptionEditTab">
            <textarea id="description"></textarea>
        </div>
        <div class="tab-pane" id="descriptionPreviewTab">
            <div class="tab-pane span10 preview" id="descriptionPreview"></div>
        </div>
    </div>
</div>
