<ul id="rating-tabs" class="unstyled nav nav-tabs">
    <% _.each(model, function(item) { %>
        <li <%= item.id == 1 ? "class = 'active'" : "" %> ><a href="#tab<%- item.id %>" data-toggle="tab"><%= item.text %></a></li>
    <% }); %>
</ul>
<div class="tab-content">
    <% _.each(model, function(item) { %>
        <div id="tab<%- item.id %>" class="tab-pane<%- item.id == 1 ? " active" : "" %>" >
             <% if (rating[item.text]) { %>
             <div class="pull-left">
                <h5 class="mlT mmB small">Contest Performance</h5>
                <h6 class="msB small">
                    <span class="zeta">Rank: </span><%= item.rank %>
                <span class="msL zeta">Title:</span><%= item.title %>
                <span class="msL zeta">Score:</span><%= item.rating.round() %>
                </h6>
            </div>
            <% } %>
            <div class="<%- item.id %>-history-chart">
            </div>
       </div>
    <% }); %>
</div>
