<li class="search-item">
  <a class="text backbone" href="<%= path %>"><%= name %></a>
  <span class="pull-right">
    <ul class="pull-right challengeslist_search-links horizontal unstyled">
      <li class=""><a href="<%= path %>/forum/questions" class="backbone submit" data-analytics="ViewForum"><i class="icon-comment"></i></a></li>
      <li class=""><a href="<%= path %>/leaderboard" class="backbone submit" data-analytics="ChallengeLeaderboard"><i class="icon-trophy"></i></a></li>
      <li class=""><a href="<%= path %>/submissions" class="backbone"><i class="icon-list-bullet-small"></i></a></li>
    </ul>
  </span>
</li>