<div class="challenge-languages">
    <p class="aside block-margin margin-large">Testcases weight the strength of the code
        and allow users to test their code before submitting. Include at least one testcase
        for your challenge and mark whether it can be used as an example. At least one
        example with an explaination is required.</p>

    <div class="title-header">
        <h5 class="pull-left span11pct">Language</h5>
        <h5 class="pull-left span37pct m">Time Limit (seconds)</h5>
        <h5 class="pull-left span37pct m">Memory Limit (MB)</h5>
        <div class="clearfix"></div>
    </div>

    <div class="language-cards-list-container"></div>
</div>
