<div class="msL">
  <p class="aside block-margin margin-large">Set various
    challenge flags and parameters
  </p>

  <div class="formgroup horizontal row">
    <div class="pull-left span5">
      <label for="solved_score">Solved score</label>
      <div class="left gray-text">
        For 1 player game and challenges with custom checkers, this threshold will be used to determine solved or not. This flag is useful for various of statistics although it will not affect any score or leaderboard.
      </div>
    </div>
    <div class="block span8 profile-input pull-left">
      <div class="checkbox-container">
        <input id="solved_score" class="hidden-checkbox" type="text" value="<%= _model.solved_score %>"/>
      </div>
      <div class="left gray-text state hide solved_score"></div>
      <small class="error name span12"></small>
    </div>
  </div>

  <% _.each([
     ['no_compile_test', "Disable Compile & Test", "Compile and test button will not be shown"],
     ['no_custom_case', "Disable Custom Testcase", "Disable support for user added testcase"],
     ['no_process', "Disable Submission Processing", "Accept but don't process the submission"],
     ['submit_disabled', "Disable Submissions", "Don't accept any user submissions for this challenge"],
     ['public_test_cases', "Public Testcase", "Make testcases public after the contest ends"],
     ['public_solutions', "Public Solutions", "Make solutions public after the contest ends"],
     ['acm_forum', "Restricted Forum", "Participants can post questions but can't post answers. Only contest moderators will have permission to post answers. This configuration should also be set for individual challenge(s) of the contest"]
     ], function(field) { %>
  <div class="formgroup horizontal row">
    <div class="pull-left span5">
      <label for="<%= field[0] %>"><%= field[1] %></label>
      <div class="left gray-text"><%= field[2] %></div>
    </div>
    <div class="block span8 profile-input pull-left">
      <div class="checkbox-container">
        <input id="<%= field[0] %>" class="hidden-checkbox" type="checkbox"
               <% if (_model[field[0]]) { %>checked="checked"<% } %> />
      </div>
      <div class="left gray-text state hide <%= field[0] %>"></div>
      <small class="error name span12"></small>
    </div>
  </div>
  <% }); %>
</div>
