<div class="formgroup horizontal row">
    <label for="difficulty" class="pull-left span3">Difficulty</label>
    <div class="block span12 profile-input">
        <input id="difficulty" type="text" class="span12 auto-save"/>
        <small class="error difficulty span12"></small>
    </div>
</div>

<div class="formgroup horizontal row">
    <label for="required_knowledge" class="pull-left span3">Required Knowledge</label>
    <div class="block span12 profile-input">
        <input id="required_knowledge" type="text" class="span12 auto-save"/>
        <small class="error required_knowledge span12"></small>
    </div>
</div>

<div class="formgroup horizontal row">
    <label for="time_complexity" class="pull-left span3">Time Complexity</label>
    <div class="block span12 profile-input">
        <input id="time_complexity" type="text" class="span12 auto-save"/>
        <small class="error time_complexity span12"></small>
    </div>
</div>


<div class="formgroup horizontal row">
    <label for="approach" class="pull-left span3">Approach</label>
    <div class="block span12 profile-input pull-left">
        <div class="markdown-editor-header">
            <p class="pull-left">Markdown Editor</p>
            <div class="pull-right">
                <button class="btn btn-small mkd-cheat-sheet msR">Cheatsheet</button>
            </div>
        </div>
        <textarea rows="7" class="approach span16"></textarea>
        <small class="approach error span16"></small>
        <div class="preview-wrap-approach clearfix hide">
            <h4>Preview</h4>
            <div class="controls">
                <div id="approach-preview" class="preview"></div>
            </div>
        </div>
    </div>
</div>

<div class="formgroup horizontal row">
    <label for="setter_code" class="pull-left span3">Setter's Code</label>
    <div class="block span12 profile-input pull-left">
        <div class="markdown-editor-header">
            <p class="pull-left">Markdown Editor</p>
            <div class="pull-right">
                <button class="btn btn-small mkd-cheat-sheet msR">Cheatsheet</button>
            </div>
        </div>
        <textarea rows="7" class="setter_code span16"></textarea>
        <small class="setter_code error span16"></small>
        <div class="preview-wrap-setter_code clearfix hide">
            <h4>Preview</h4>
            <div class="controls">
                <div id="setter_code-preview" class="preview"></div>
            </div>
        </div>
    </div>
</div>

<div class="formgroup horizontal row">
    <label for="tester_code" class="pull-left span3">Tester's Code</label>
    <div class="block span12 profile-input pull-left">
        <div class="markdown-editor-header">
            <p class="pull-left">Markdown Editor</p>
            <div class="pull-right">
                <button class="btn btn-small mkd-cheat-sheet msR">Cheatsheet</button>
            </div>
        </div>
        <textarea rows="7" class="tester_code span16"></textarea>
        <small class="tester_code error span16"></small>
        <div class="preview-wrap-tester_code clearfix hide">
            <h4>Preview</h4>
            <div class="controls">
                <div id="tester_code-preview" class="preview"></div>
            </div>
        </div>
    </div>
</div>

