<section class="admin contestedit container content_wrap">
    <div class="container--inner">
        <header class="page-title">
            <div>
                <div class="clearfix">
                    <h1 class="pull-left">
                        <% if (action != "create") { %>
                        <%= _model.name %>
                        <% } else { %>
                        <%= _.capitalize(action) %> Company
                        <% } %>
                    </h1>
                    <div class="pull-right msT">
                        <% if (action != "create") { %>
                        <!-- <a target="_blank" href="/<%= _model.slug %>" class="btn margin-small right">Preview Challenge</a> -->
                        <% } %>
                        <button class="save-company btn btn-green">Save Company</button>
                    </div>
                </div>
                <ul class="nav-tabs nav admin-tabbed-nav">
                    <li data-tab="overview"><a class="cursor change-tab">Overview</a></li>
                    <% if (action == 'edit') { %>
                    <li data-tab="positions"><a class="cursor change-tab">Positions</a></li>
                    <li data-tab="offices"><a class="cursor change-tab">Offices</a></li>
                    <li data-tab="applicants"><a class="cursor change-tab">Applicants</a></li>
                    <% } %>
                    <li class="pull-right no-tab">
                      <a class="btn btn-text alignR backbone"
                         href="/administration/companies">View all companies<i class="icon-right-open icon--right "></i></a>
                    </li>
                </ul>
            </div>
        </header>
        <div class="tabs-body">
            <div class="tabs-body-inner"></div>
        </div>
    </div>
</section>
