<div class="formgroup horizontal row">
    <label for="city" class="pull-left span3">City</label>
    <div class="block span12 profile-input">
        <input id="city" type="text" class="span5 auto-save"/>
        <small class="error city span12"></small>
    </div>
</div>
<div class="formgroup horizontal row">
    <label for="country" class="pull-left span3">Country</label>
    <div class="block span12 profile-input">
        <input id="country" type="text" class="span5 auto-save"/>
        <small class="error country span12"></small>
    </div>
</div>
