<div class="row padded10">
    <div class="span8">
        <button class="btn add-challenge">+ Add Challenge</button>
    </div>
</div>
<div class="row padded10">
    <div class="span6">
        <p class="gray-color">Drag and drop to reorder</p>
    </div>
    <div class="pull-right span6">
        <div class="difficulty-indicator-container pull-right">
            <%= HR.util.genDifficultyIndicators(3, true) %>
        </div>
        <p class="gray-color pull-right">Average Difficulty</p>
    </div>
</div>
<div class="row">
    <div class="split-table-head">
        <div class="split-table-head-inner">
            <div class="name pull-left">
                <p>Name</p>
            </div>

            <div class="difficulty pull-left">
                <p>Difficulty <span class="help-prompt"><i class="icon-help-circled icon-single"></i><span class="help-text">The relative difficulty of a challenge on scale of 1 to 5.</span></p>
            </div>
            <div class="weight pull-left">
                <p>Weight <span class="help-prompt"><i class="icon-help-circled icon-single"></i><span class="help-text">The maximum score attainable for the challenge, normalized over the leaderboard. Click to edit the weight.<!--<a class="cursor change-weights"><img src="/assets/write.png"></a>--></span></p>
            </div>
            <div class="binary pull-left">
                <p>Binary <span class="help-prompt"><i class="icon-help-circled icon-single"></i><span class="help-text">Binary scoring will override the default partial scoring; a user will get a non-zero score when their submission passes all the testcases.</span></p>
            </div>
            <div class="dynamic pull-left">
                <p>Dynamic <span class="help-prompt"><i class="icon-help-circled icon-single"></i><span class="help-text">Once enabled, the maximum score of a challenge will be a function of the number of successful submissions out of the total submissions.</span></p>
            </div>
            <div class="timebound pull-left">
                <p>Timebound <span class="help-prompt"><i class="icon-help-circled icon-single"></i><span class="help-text">Once enabled, you can set a time bound, between which submissions are allowed.</span></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <% _.each(_collection, function (model, index){ %>
        <div class="split-table-body" draggable="true"
             data-index="<%= index %>" data-id="<%= model.id %>">
            <div class="grip"></div>
            <div class="split-table-body-inner">
                <div class="name pull-left">
                    <p><span class="challenge-serial"><%= index + 1 %></span>.
                        <a href="contests/<%= model.contest_slug %>/challenges/<%= model.slug %>">
                            <%= _.escape(model.name || 'N/A') %></a></p>
                </div>
                <div class="difficulty pull-left">
                    <div class="difficulty-indicator-container pull-left">
                        <%= HR.util.genDifficultyIndicators(3) %>
                    </div>
                </div>
                <div class="weight pull-left">
                    <span class="weight"><%= model.weight %></span>
                    <input class="weight hide" value="<%= model.weight %>">
                </div>
                <div class="binary pull-left">
                    <input type="checkbox" class="binary" <% if (model.binary_scoring) { %>checked="checked"<% } %>
                           data-id="<%= model.id %>">
                </div>
                <div class="dynamic pull-left">
                    <input type="checkbox" class="dynamic" <% if (model.dynamic) { %>checked="checked"<% } %>
                           data-id="<%= model.id %>">
                </div>
                <div class="timebound pull-left">
                    <input type="checkbox" class="timebound" disabled="disabled">
                </div>
                <div class="controls pull-right">
                    <p>
                        <% if (model.is_mod) { %>
                        <a class="btn btn-text backbone"
                           href="/administration/contests/edit/<%= model.contest_id %>/challenges/edit/<%= model.challenge_id %>">
                            <i class="icon-pencil"></i></a>
                        <% } else { %>
                        <p class="dummy-pencil pull-left"></p>
                        <% } %>
                        <a class="cursor remove-challenge" data-id="<%= model.id %>">&#215;</a>
                    </p>
                </div>
            </div>
        </div>
    <% }) %>
    <% if (_collection.length == 0) { %>
    <div class="gray">
        No challenges have been added yet
    </div>
    <% } else { %>
    <div class="split-table-body dummy" draggable="true" data-index="<%= _collection.length %>">
    </div>
    <% } %>
</div>
<div class="pagination-wrap clearfix pagination-wrapper"></div>
