<div class="modal fade in" id="create-question-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="underline_title">
            Create New Question
        </div>
    </div>
    <form class="attendant-form" name="edit-attendant-form">
        <div class="modal-body">
            Content
            <div class="clear_float"></div>
        </div><!-- end .modal-body -->
        <div class="modal-footer">
            <a href="javascript:void(0)" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
        </div>
    </form>
</div>
