<div class="top-fixed-bar">
    <h3 class="topbar-h3 mjL"><%= title %></h3>
</div>
<div class="account-locked hidden">
    <div class="account-locked-wrapper" style="text-align: center">
        <h4>Your account is currently locked.</h4>
        <p class="font16 text_center">Please subscribe to any of our plans to continue.</p>
        <center>
            <a href="payments/plans" style="position:relative; top:20px;" class="btn btn-primary js-backbone">CHOOSE PLAN</a>
        </center>
    </div>
</div>
<div class="overflow-content" id="control-overflow">
    <div class="" id='cnt-list'>
    </div>
</div>

<div class="modal-container"></div>