<div class="modal interview-share-report-modal modal-mid" id="interview-share-report-modal">
    <div class="modal-header" style="height: 13px;">
        <div class="underline_title set_title pull-left">Share report</div>
        <button type="button" class="close js-sharelinkclose pull-right" data-dismiss="modal" aria-hidden="true"><span style="font-size: 70%; position: relative; top: -2px;">Close</span> &times;</button>
    </div>
    <p class="plA">
        <div class="input-btn-group msA">
          <input class="xwide js-reportlink" id="report-link-inp" type="text" value="<%= link %>" />
          <a id="copy-share-link-report" class="btn copy-report js-copy-url">Copy</a>
        </div>
    </p>
</div>