<p class='datatable-title'>
    <% if (showTitle) { %>
    <label class="label-title-underline mjL msT">
        <%= title %>
    </label>
    <% } %>


    <% if (typeof showSelect !== 'undefined' && showSelect && typeof selectOptions !== 'undefined') { %>
    <div class='pull-right'>
        <select id='choose'>
            <% _.each(selectOptions, function (v, k) { %>
                <option value='<%- k %>'><%- v %></option>
            <% }); %>
        </select>
    </div>
    <% } %>
    <div class='clear_float'></div>
</p>

<p class="mjL mdT">
    Filter by:
    <div class="pull-left mjL filter-interviewer">
        <label class="fnt-sz-mid">Interviewer</label>
        <select id="interviewer">
            <option value="0" selected>All</option>
        </select>
    </div>
    <div class="pull-left mdL filter-status">
        <label class="fnt-sz-mid">Status</label>
        <select id="thumbs">
            <option value="0" selected>All</option>
            <option value="1">Thumbs Down</option>
            <option value="2">Thumbs Up</option>
        </select>
    </div>
    <div class="pull-left mdL mdB">
        <label class="fnt-sz-mid">Date range</label>
        <input style="margin-bottom:0;" class="mdL js-daterange" type="text" placeholder="Date range" id="daterange" /><a class="js-dateclear txt-alt-grey hidden" style="cursor:pointer;"><i class="icon2-status_wrong mmL"></i></a>
        <!-- <div class="input-icon" style="position:relative; top:-3px;">
            <input type="text" class="txt_box input-large" id="daterange">
            <i class="icon-calendar"></i>
        </div> -->
        <!-- <a class="js-dateclear hidden txt-alt-grey" style="cursor:pointer;"><i class="icon2-status_wrong mmL"></i></a> -->
    </div>
</p>

<table class="dt-sleektable" id="datatable<%= typeof id_suffix === 'undefined' ? '' : id_suffix %>" cellpadding="0" cellspacing="0" border="0" style="overflow: none; width: 100%; margin-bottom:20px !important;">
    <thead>
        <tr class='sleekhead'>
            <% _.each(fields, function (field) { %>
            <th class='<%= field.className %>'><%= field.name %></th>
            <% }); %>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
