<div class="top-fixed-bar">
    <% if (model.title) { %>
    <h3 class="topbar-h3 mjL">Interviews</h3>
    <h3 class="topbar-h3"><i class="icon-right-open breadcrumb-chevron"></i><%- model.title %></h3>
    <% } else { %>
    <h3 class="topbar-h3 mjL">Interview</h3>
    <% } %>
</div>
<div class="overflow-content" id="control-overflow">
    <% if (just_created) { %>
    <div class="alert alert-success mjA">
        <header>Pad successfully created</header>
        <p>A brand new pad has been successfully created for you</p>
    </div>
    <% } %>

    <div class="mjA">
        <div class="block fnt-wt-600">
            The pad is available here:<a href="<%- model.interviewer_url %>" class="normal-underline mdL"><%- model.interviewer_url %></a>
        </div>

        <div class="block fnt-wt-600 mlT">
            Your interviewer access code is: <input disabled class="mdL" type="text" value="<%- model.access_code %>" />
        </div>

        <p class="mlT">
            <span class="fnt-wt-600">Notes:</span> 1. Candidates do not need any access code.
        </p>
        <p style="margin-left:57px;">
            2. Once completed you can view the interview analytics in the <a href="#" class="normal-underline">Completed Interviews</a> section.
        </p>
    </div>

    <% if (model.interview_attendants && model.interview_attendants.length > 0) { %>

    <div class="mjT mjB" id="candidate-details-container">
        <label class="mjL fnt-sz-big">Candidate's information</label>
        <table style="width:94%; margin:0px auto;" class="table table-radius table-out-border fnt-sz-mid ">
            <thead>
                <tr class="prominent txt-alt-grey">
                    <th width="25%">NAME</th>
                    <th width="25%">EMAIL</th>
                    <th width="20%">PHONE NUMBER</th>
                    <th width="15%">URL</th>
                    <th width="15%" colspan="1">STATUS</th>
                </tr>
            </thead>

            <% _.each (model.candidates, function(candidate) { %>
            <tr>
                <td class="fnt-wt-600"><%- candidate.name %></td>
                <td><%- candidate.email %></td>
                <td><%- candidate.phone %></td>
                <td><a href="<%- candidate.url() %>" target="_blank">[link]</a></td>
                <td>
                    <a href="#" class="normal-underline js-edit-attendant" data-role="candidate" data-id="<%- candidate.id %>">edit info</a>
                </td>
            </tr>
            <% }); %>
        </table>
    </div>
    <div class="mjT mjB hidden" id="candidate-edit-container">
    </div>

    <div class="mjT mjB" id="interviewer-details-container">
        <label class="mjL fnt-sz-big">Interviewer's information <a href="#" class="js-add-interviewer normal-underline fnt-sz-small">(add another interviewer)</a></label>
        <table style="width:94%; margin:0px auto;" class="table table-radius table-out-border fnt-sz-mid ">
            <thead>
                <tr class="prominent txt-alt-grey">
                    <th width="25%">NAME</th>
                    <th width="25%">EMAIL</th>
                    <th width="20%">PHONE NUMBER</th>
                    <th width="15%">URL</th>
                    <th width="15%" colspan="1">STATUS</th>
                </tr>
            </thead>

            <% _.each (model.interviewers, function(interviewer) { %>
            <tr>
                <td class="fnt-wt-600"><%- interviewer.name %></td>
                <td><%- interviewer.email %></td>
                <td><%- interviewer.phone %></td>
                <td><a href="<%- interviewer.url() %>" target="_blank">[link]</a></td>
                <td>
                    <a href="#" class="normal-underline js-edit-attendant" data-role="interviewer" data-id="<%- interviewer.id %>">edit info</a>
                </td>
            </tr>
            <% }); %>
        </table>
    </div>

    <div class="mjT mjB hidden" id="save-container">
        <div id="responsive-bottom-holder" class="responsive-bottom-holder">
            <button type="submit" class="btn btn-primary btn-mid">Save interview</button>
        </div>
    </div>
    <% } %>

    <div id="modal-container"></div>

</div><!-- end .overflow-content -->