<div class="sidebar-scroller bottom">
    <i class="icon-down-open-bold"></i>
    <i class="icon-up-open-bold"></i>
</div>

<!-- This is the expand and collapse icon that will appear when in smaller screens -->
<div class="showfor1024" id="sidebar-menu-icon">
    <i class="icon-menu-large sidebar-menu-icon"></i>
</div>

<div class="mlA">
    <p class="sidebar-nav-title"><span class="hidefor1024">INTERVIEWS</span></p>
    <ul class="hre-sidebar-list">
        <li class="active"><a href="#"><i class="icon2-upcoming"></i><span class="hidefor1024">Upcoming</span></a></li>
        <li><a href="#"><i class="icon-circle-empty"></i><span class="hidefor1024">In progress</span></a></li>
        <li><a href="#"><i class="icon-circle"></i><span class="hidefor1024">Completed</span></a></li>
        <li><a href="#"><i class="icon-calendar" style="top:-1px;"></i><span class="hidefor1024">Calendar</span></a></li>
    </ul>
    <div class="clear"></div>
</div>