<span class="block font-light pull-left">Status: &nbsp;</span>
<div class="pull-left club_buttons" style="margin-top:-6px;" >
    <ul class="club">
        <li class="first"><a class="<%= model.thumbs == 1 ? 'selected' : 'unselected'%>"><span data-thumbs='1' class='block thumbs thumbs-up'>&nbsp;&nbsp;&nbsp;</span></a></li>
        <li class="last"><a class="<%= model.thumbs == 0 ? 'selected' : 'unselected'%>"><span data-thumbs='0' class='block thumbs thumbs-down'>&nbsp;&nbsp;&nbsp;</span></a></li>
    </ul>
</div>
