<p class='datatable-title'>
    <label class="label-title-underline mjL mlT">
        UPCOMING INTERVIEWS
    </label>
    <% if (showTitle) { %>
    <div class='empty_height_spacer'></div>
    <h4 class='pull-left-h4'><%= title %></h4>
    <% } %>

    <% if (typeof showSelect !== 'undefined' && showSelect && typeof selectOptions !== 'undefined') { %>
    <div class='pull-right'>
        <select id='choose'>
            <% _.each(selectOptions, function (v, k) { %>
                <option value='<%- k %>'><%- v %></option>
            <% }); %>
        </select>
    </div>
    <% } %>
    <div class='clear_float'></div>
</p>

<p class="mjL mdT">
    Filter by:
    <div class="pull-left mjL">
        <label class="fnt-sz-mid">Interviewer</label>
        <select id="interviewer">
            <option value="0" selected>All</option>
        </select>
    </div>
    <div class="pull-left mdL">
        <label class="fnt-sz-mid">Status</label>
        <select id="thumbs">
            <option value="0" selected>All</option>
            <option value="1">Thumbs Down</option>
            <option value="2">Thumbs Up</option>
        </select>
    </div>
    <div class="pull-left mdL mdB">
        <label class="fnt-sz-mid">Date range</label>
        <div class="input-icon" style="position:relative; top:-3px;">
            <input type="text" class="txt_box input-large" id="daterange">
            <i class="icon-calendar"></i>
        </div>
    </div>
</p>

<table class="dt-sleektable" id="datatable<%= typeof id_suffix === 'undefined' ? '' : id_suffix %>" cellpadding="0" cellspacing="0" border="0" style="overflow: none; width: 100%">
    <thead>
        <tr class='sleekhead'>
            <% _.each(fields, function (field) { %>
            <th class='<%= field.className %>'><%= field.name %></th>
            <% }); %>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
