<div class="span-xl-16">
    <div class="question-item-container">
        <table width="100%">
            <tr>
                <td width="40%"><span class="fnt-wt-600 txt-alt-grey"> <%=hrqn[question.type]%>
                <% if (question.name){ %>
                  &nbsp;&nbsp;</span><strong><%-question.name%></strong></td>
                <% } %>
                <td width="13%" class="fnt-sz-small"><span class="fnt-wt-600 txt-alt-grey">SCORE: </span><strong><%=question.points%> points</strong></td>
                <% if (question.testcasescount && _.keys(question.testcasescount).length > 0) { %>
                <td width="26%" class="fnt-sz-small" style="text-align:right;">
                    <span class="fnt-wt-600 txt-alt-grey">TESTCASES: </span>
                    <strong><%=_.reduce(_.values(question.testcasescount), function(m, n){ return m + n }, 0)%> (<%=question.samples.split(",").length%> sample)</strong>
                </td>
                <% } %>
                <% if(actions != 'download') { %>
                <td width="20%" class="fnt-sz-small text-right">
                    <%_.each(question.tags_array, function(tag) { %>
                    <span class="block-highlight"><%=tag%></span>
                    <% }); %>
                </td>
                <% } %>
            </tr>
        </table>
        <div class="row no-margin">
            <div class="span12 no-padding msT">
                <div class="<%if (!noexpand) {%>text-ellipsis-oneline<%}%> js-qcontent">
                    <%=question.question%>
                    <% if(question.type == "mcq") { %>
                        <ul style="list-style-type: none; margin-left:-30px; margin-top:20px;">
                        <% var i=1;_.each(question.options, function(name) { %>
                          <li><% if ((""+i) == question.answer) { %><img class='mcq-opt-img' src="/assets/mcq_options/img_mcq_ny.png" />&nbsp;&nbsp;<% } else { %><img class='mcq-opt-img' src="/assets/mcq_options/img_mcq_nn.png" />&nbsp;&nbsp;<% } %><%= name %></li>
                        <% ;i++;}); %>
                        </ul>
                    <% } else if (question.type == "multiple_mcq") { %>
                        <ul style="list-style-type: none; margin-left:-30px; margin-top:20px;">
                        <% var i =1, ans = question.answer;
                           _.each(question.options, function(name) { %>
                          <li>
                          <% if ($.inArray(i, ans) != -1) { %>
                            <img class='mcq-opt-img' src="/assets/mcq_options/img_mcq_ny.png" />&nbsp;&nbsp;
                          <% } else { %>
                            <img class='mcq-opt-img' src="/assets/mcq_options/img_mcq_nn.png" />&nbsp;&nbsp;
                          <% } %>
                          <%= name %></li>
                        <% i++}); %>
                        </ul>
                    <% } %>
                </div>
                <%if (!noexpand) {%>
                <a class="block js-toggleHeight" href="#" data-state="collapsed" >expand <i class="icon-down-open"></i></a>
                <%}%>
            </div>
            <!-- TODO: Check if the user has permissions -->
            <% if(question.permission && question.permission > 1) { %>
            <a href="library/questions/<%=question.id%>/edit" class="btn btn-primary mlT pull-right js-edit-question msL" style="width:130px;" data-qid="<%=question.id%>" data-quid="<%=question.unique_id%>">Edit</a>
            <!-- TODO: Check if the user has permissions -->
            <!-- <a href="#" class="btn mlT pull-right js-duplicate-question" style="width:130px;" data-qid="<%=question.id%>" data-quid="<%=question.unique_id%>">Duplicate</a> -->
            <% } %>
        </div>
    </div>
</div>