<div class="top-fixed-bar">
    <h3 class="topbar-h3 mjL"><%= model.new_plan.name %> Plan Purchase Details</h3>
</div>
<div class="overflow-content" id="control-overflow">
    <div class="mjA">
        <div class="mlB">
            <h4>Features</h4>
            <ul style="list-style:none;">
                <% if(plan == 'user-startup') { %>
                    <li>1 recruiter</li>
                    <li>50 invites</li>
                    <li>Email Support</li>
                <% } else if(plan == 'user-professional') { %>
                    <li>2 to 5 recruiters</li>
                    <li>Unlimited number of invites</li>
                    <li>Email + Phone Support</li>
                <% } else if(plan == 'user-enterprise') { %>
                    <li>More than 5 recruiters</li>
                    <li>Unlimited number of invites</li>
                    <li>Email + Phone Support</li>
                    <li>Account Manager</li>
                    <li>Integration with Existing ATS</li>
                <% } %>
            </ul>
        </div>

        <h4>Checkout</h4>

        <form name="checkout-form">
                <div class="new-credit-card-details <% if(model.credit_card_number) { %> hidden <% } %>" >
                    <div class="msT msB">
                        <label>Card Number</label>
                        <input type="text" id="card-number" class="wide" />
                    </div>
                    <div class="msT msB">
                        <label>Expiry date</label>
                        <input type="text" id="expiry-month" placeholder="MM" hint="MM">
                        &nbsp;/&nbsp;
                        <input type="text" id="expiry-year" placeholder="YYYY" hint="YYYY">
                    </div>

                    <div class="msT msB">
                        <label>Security code (CVV)</label>
                        <input type="text" id="cvv">
                        <a href="https://checkout.google.com/support/bin/answer.py?answer=43073&hl=en_US" target="_blank" class="underline">What is this?</a>
                            <span class="help-prompt">
                                <i class="icon-help-circled icon--single"></i>
                                <span class="help-text">This gives additional information or context.</span>
                            </span>
                    </div>
                </div>
            <% if(model.credit_card_number) { %>
                <div class="credit-card-details-existing" >
                    <div class="msT msB">
                        <label>Card Number</label><a href="javascript:;" class="dev-edit-card-details">(change)</a>
                        <input type="text" id="card-number" value="<%= model.credit_card_number %>" class="wide" disabled/>
                    </div>

                    <div class="msT msB">
                        <img class="pull-left" src="public/images/secure_payment.png" />
                        <div class="pull-left common_margin_mid">
                            InterviewStreet doesn't store your credit card information.<br/>
                            All payments are handled by <a target="_blank" href="https://www.stripe.com">Stripe</a>.
                        </div>
                    </div>
                </div>
            <% } %>

            <table class="simple-table small-padded" width="90%" cell-spacing="0" cell-padding="0">
                <thead>
                <tr class="no-border">
                    <th>ITEM</th>
                    <th>BILLING CYCLE</th>
                    <th>USERS</th>
                    <th>MONTHS</th>
                    <th>PRICE</th>
                </tr>

                <tr>
                    <td><%= model.new_plan.name %> Plan</td>
                    <td><%= HR.util.formatDateRange(model.billing_cycle) %></td>
                    <td>
                        <select name="payment-users" class="msL">
                            <% start = i = model.min_users %>
                            <% while(i <= model.max_users && i <= model.min_users + 5) { %>
                                <option><%= i %></option>
                            <% i += 1 %>
                            <% } %>
                        </select>
                        <span class="msL">x  <%= parseInt(model.charge,10) / parseInt(model.payment_period, 10) %></span>
                    </td>
                    <td>
                       <span class="msL" >
                           x <%= model.payment_period %> =
                       </span>
                    </td>
                    <td class="fnt-sz-big fnt-wt-600" id="final-amount">$ <%= start * model.charge %>.00</td>
                </tr>
                <% if (model.prorated_deduction) { %>
                <% prorated_deduction = model.min_users * model.prorated_deduction %>
                <tr class="dashed-border">
                    <td>Prorated deduction</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="right_align"><span class="usr-amt-total user-amt-txt">-$<span class="prorated-deduction"><%= prorated_deduction %></span>.00</span></td>
                </tr>
                <% } %>

                <% if (model.carryover_credit) { %>

                <tr class="dashed-border">
                    <td>Credit from current subscription plan</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="right_align"><span class="usr-amt-total user-amt-txt">-$<span class="credit"><%= model.carryover_credit %></span>.00</span></td>
                </tr>

                <% } %>

                </thead>
            </table>

            <!--<div class="formgroup horizontal">-->
                <!--<label class="span3">Coupon code:</label>-->

                <!--<div class="block">-->
                    <!--<input type="text" class="with-help no-margin">-->
                    <!--<button class="btn">Apply</button>-->
                <!--</div>-->
            <!--</div>-->



            <div class="formgroup horizontal">
                <div class="block">
                    <input type="password" name="password" placeholder="Enter Password" class="with-help no-margin">
                    <button type="submit" class="btn">Make Payment</button>
                </div>
            </div>
        </form>
    </div>
    <!-- end mjA -->
</div><!-- end overflow-content -->