<div class="mjA">
    <div class="formgroup">
        <label>Custom Checker</label>
        <p class="txt-alt-grey-dark span9 no-padding">Choose the langugage in which you will write the checker for your approximate question.</p>
    </div>
    <div class="clear"></div>
    <label class="mdT">Write your checker here</label>
    <div class="span-xs-16 span-md-8 mdT no-padding">
        <div class="codeblock-wrapper span16 no-padding">
            <div class="codeblock-head no-background pmA">
                <-- Add select2 dropdown here -->
            </div>
        </div>
    </div>
</div>