<div class="mjA">
    <label class="label-title-underline">
        TIME SETTINGS
    </label>
    <% starttime = model.starttime %>
    <% if (starttime) { %>
    <% start = starttime.split(" ") %>
    <% starttimes = start[1].split(":") %>
    <% starttimeHM = starttimes[0] + ":" + starttimes[1] %>
    <% } %>
    <% endtime = model.endtime %>
    <% if (endtime) { %>
    <% end = endtime.split(" ") %>
    <% endtimes = end[1].split(":") %>
    <% endtimeHM = endtimes[0] + ":" + endtimes[1] %>
    <% } %>

    <form name="time-settings-form" class="mdT">
        <div class="datepair">
            <div class="pull-left span3" style="padding-left:0;">
                <input type="text" id="date-from" class="fw input-small is-date date start"
                       value="<%= Date.parse(starttime)?moment(starttime).format('YYYY-M-D'):'' %>"
                       name="interview-start-date" placeholder="Start date">
            </div>
            <div class="pull-left span2 bootstrap-timepicker">
                <input type="text" class="fw input-small time start txt_box"
                       value="<%= Date.parse(starttime)?moment(starttime).format('HH:mm'):'' %>" id="time_picker_start"
                       name="interview-start-time" placeholder="Start time">
            </div>
            <span class="pull-left msA">to</span>
            <div class="pull-left span2 bootstrap-timepicker">
                <input type="text" class="fw input-small time end txt_box"
                       value="<%= Date.parse(endtime)?moment(endtime).format('HH:mm'):'' %>" id="time_picker_end"
                       name="interview-end-time" placeholder="End time">
            </div>
            <div class="pull-left span4">
                <input id="date-to" type="text" class="input-small is-date end date" name="interview-end-date"
                       value="<%= Date.parse(endtime) ?moment(endtime).format('YYYY-M-D'):'' %>" placeholder="End date">
            </div>
        </div>
        <button type="submit" data-throbber="show" class="btn btn-primary right">Save</button>
        <button id="clear-time" class="btn right mdL">Reset</button>
    </form>
</div>