<div class="mjA">
    <label class="label-title-underline">
        SET TEST ADMIN
    </label>
    <p class="txt-alt-grey">By default test reports are sent to the owner of the test. If you would like to send them to a different address, you can set it here. You can enter more than one email address separated by commas.</p>
    <br/>
    <p class="txt-alt-grey"><strong>Note:</strong> In addition to the test admin, test reports are also sent to the recruiter who invited that candidate. The address(es) here will be copied on all reports for this test.</p>
    <form name="test-admin-form">
        <div class="inline-block mdT">
            <input type="text" class="no-margin wide" placeholder="enter email address" name="test-admins"><button type="submit" class="btn btn-primary margin-large right mdL">Set Admin</button>
        </div>
    </form>

    <div class="validation-error hidden">
        <div class="clear"></div>
        <div class="error"></div>
    </div>

    <% if (model.test_admins) { %>
    <div class="clear"></div>
    <div class="mdT test-custom-link-wrap">
        <div class="cust_link_bg">
            Current Test Admins: &nbsp;&nbsp; <span><%- model.test_admins %></span>
        </div>
    </div>
    <% } %>

</div>