<div class="mdA">
    <% if (question.answered === false) { %>
    <div class="common_margin alert alert-block">
        <center>This candidate has not answered this question.</center>
    </div>
    <% } else { %>
    <pre class="outbox cm-s-default">
      <%= question.diff_html %>
    </pre>
    <% if (question.evaluated === 1) { %>
    <p>Scores given for:
    <% _.each(question.metadata, function(correct) { %><%- correct %>, <% }); %>
    </p>
    <% } else { %>
    <div class="alert alert-block">
        <p>
            This question has not yet been evaluated.
        </p>
    </div>
    <% } %>
    <% } %>
</div>
<div class="clear"></div>