<div class="top-fixed-bar">
    <h3 class="topbar-h3 mjL"><%- test.name %></h3>
    <h3 class="topbar-h3"><i class="icon-right-open breadcrumb-chevron"></i>Candidates</h3>
    <h3 class="topbar-h3"><i class="icon-right-open breadcrumb-chevron"></i>Reports <span class="js-subtype"></span></h3>
</div>
<div class="overflow-content" id="control-overflow">
     <% if(!hideDropdown) { %>
     <div class="dropdown pull-left">
        &nbsp;
        <a class="btn" data-toggle="dropdown" href="#">
            <span class="js-dropdowntxt">Filter Candidate Status</span>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" id="menu1">
            <% h=window.istreet.cfg.ats; _.each (_.keys(h), function(ats){%>
                <li><a href="javascript:void(0)" class="js-ats" data-attribute-ats="<%=ats%>"><%=h[ats]%></a></li>
             <%if (["3","6","10","17"].indexOf(ats) != -1) { %>
                <li class="divider"></li>
             <%}%>
            <% }); %>
        </ul>
    </div>
    <% } %>
    <div id="datatable_container"></div>
</div>