<table class="table dt-sleektable" id="reports-datatable" cellpadding="0" cellspacing="0" border="0">
    <thead>
        <tr>
            <th><input class="pretty-checkbox" name="all_checkbox" type="checkbox" id="all_checkbox"></th>
            <th>Full name</th>
            <th>E-Mail address</th>
            <th>Score</th>
            <th>End time</th>
            <th>Category</th>
            <th>Time remaining</th>
            <th>Report link</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>