<div class="top-fixed-bar">
    <h3 class="topbar-h3 mjL"><%-test.name%></h3>
    <h3 class="topbar-h3"><i class="icon-right-open breadcrumb-chevron"></i>Questions</h3>
    <h3 class="topbar-h3"><i class="icon-right-open breadcrumb-chevron"></i>Try Question</h3>
</div><!-- end .top-fixed-bar -->
<div class="overflow-content" id="control-overflow">
    <div class="alert info js-tryalert hide" style="margin: 10px 30px;">
        <p class="js-trymsg"></p>
    </div>
    <div class="js-questiontext ck_table-wrap" style="margin: 10px 30px;"></div>
    <div class="js-tryview" style="margin: 10px 30px;"></div>
    <button class="btn btn-primary margin-20 js-ans-submit bb-compile">Submit</button>
    <div id="runstatus"></div>
</div>
