<div class="modal modal-mid" id="upload-testcases-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="underline_title">UPLOAD TEST CASES</div>
    </div>
    <form name="upload-testcases-form">
        <div class="modal-body">
            <div class="alert hidden"></div>
            <div class="row-fluid">
                <div class="txtbox_holder">
                    <div class="txtbox_text">Zip archive</div>
                    <input placeholder="upload testcase zip" type="file" name="testcases-file" class=" txt_box input-large ">
                </div>
            </div><!-- end .row-fluid -->
        </div><!-- end .modal-body -->
        <div class="modal-footer">
            <div class="pull-right">
                <a href="javascript:void(0)" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
                <button type="submit" class="modal-button btn btn-primary" data-loading-text="Saving...">Upload</a>
            </div>
        </div>
    </form>
</div>
