<div class="top-fixed-bar">
    <h3 class="topbar-h3 mjL">All Tests</h3>
    <a href="javascript:;" id="new-test-popup-link" style="margin: 9px 25px;" class="btn btn-primary pull-right">
        <i class="icon2-createtest"></i>Create new test</a>
    <div id="new-test-popup" class="new-test-popup hidden">
        <form name="new-test-form">
            <div class="mlA">
                <label>TEST NAME</label>
                <input id="new-test-name" name="test-name" type="text" class="fw" placeholder="Test Name">
                <label>TEST DURATION</label>
                <input id="new-test-duration" name="test-duration" type="text" placeholder="(min)" style="width:80px;"><span class="mdL" style="position:relative; top:-4px;">minutes</span>
            </div>
            <div class="test-popup-footer">
                <a id="new-test-popup-cancel" class="btn btn-line">Cancel</a>
                <button type="submit" class="btn btn-primary msL">Create Test</button>
            </div>
        </form>
    </div>
</div>
<div class="overflow-content" id="control-overflow">
    <!-- any contents add here -->
    <ul class="alltests-table" id="tests-container">
    </ul>
    <% if (pagination) { %>
        <%= pagination.html() %>
    <% } %>
</div><!-- end .overflow-content -->

<div id="responsive-bottom-placeholder" class="responsive-bottom-holder text-center"></div>