<div class="top-fixed-bar support-sub-bar">
    <h3 class="topbar-h3 mjL"><%-test.name%></h3>
    <h3 class="topbar-h3"><i class="icon-right-open breadcrumb-chevron"></i>Questions</h3>
    <h3 class="topbar-h3"><i class="icon-right-open breadcrumb-chevron"></i>Choose from library</h3>
    <div class="lib-added-indicator pull-right hidden js-minitest">
        <strong class="txt-alt-grey-dark"><span class="js-qcount">-</span></strong> questions / <strong class="txt-alt-grey-dark"><span class="js-points">-</span></strong> points &nbsp;<i class="icon-menu-large"></i>
    </div>
    <div class="added-questions-container hidden js-minisidebar">
    </div><!--added-questions-container-->
    <div class="clear"></div>
    <div class="sub-top-bar">
        <ul class="sub-topbar-tabs pull-left mjL">
            <% _.each(["personal", "hackerrank"], function (lib) { %>
              <li class="<%if(lib==library){%>active<%}%>" >
                <a class="js-backbone" href="tests/<%=test.id%>/library/<%=lib%>" data-lib="<%=lib%>" ><%=lib[0].toUpperCase() + lib.slice(1)%></a>
              </li>
            <% }); %>
        </ul>

        <div class="btn-group pull-left display-inline-block pdL" style="margin:8px;">
            <% _.each(["coding", "multiple", "others"], function (fil) { %>
                <a href="tests/<%=test.id%>/library/<%=library%>/<%=fil%>" data-filter="<%=fil%>" class="btn js-backbone <%if (fil == filter){%>active<%}%>"><%=fil[0].toUpperCase() + fil.slice(1)%></a>
            <% }); %>
        </div>

        <a class="js-searchclear hide pull-right" style="cursor:pointer;">clear</a>
        <div class="input-icon pull-right" style="margin-top: 3px; margin-right: 25px;">
            <input type="text" placeholder="search questions" class="js-search">
            <i class="icon-search"></i>
        </div>
    </div><!-- end .sub-top-bar -->
</div><!-- end .top-fixed-bar -->
<div class="overflow-content adjust-two-fixed-bar" id="control-overflow">
    <!-- filters section -->
    <div class="question-filter-wrapper">
        <input type='hidden' class="hide js-tags pull-left">
        <span class="pull-right txt-alt-grey js-count"></span>
        <div class="clear"></div>
        <!-- this is for question sets
        <div class="formgroup radio inline">
            <legend>Show question sets</legend>
            <label><input type="radio">Yes</label>
            <label><input type="radio">No</label>
        </div>-->
    </div>
    <div class="row no-margin libcontent">
        <!-- sets and questions go here-->
        <p style="margin:8px;"><em>Loading..</em></p>
    </div>
    <div class="alert alert-info js-nothingfound hide" style="margin: 10px 30px;">
        <header>No questions matched these filters.</header>
        <p>Would you like to create a new question?</p>
        <p><a class="btn btn-green js-backbone" href="tests/<%=test.id%>/questions/new">Create new question</a></p>
    </div>
    <div class="alert alert-info buy-custom-questions" style="margin: 10px 30px 40px">
        <header>Looking to Buy Custom Questions?</header>
        <p>Our world champion problem setters will help create the perfect questions for your test.</p>
        <p><a href="mailto:support@hackerrank.com?subject=Custom questions&amp;body=We are looking for custom questions with the following needs:" target="_blank" class="common_margin inline_block button-green big_button_padding rcorners_mid">Submit question inquiry</a></p>
    </div>
</div>
