<div class="mjA">
    <label class="label-title-underline">
        DELETE TEST
    </label>
    <div class="clear"></div>
    <p class="txt-alt-grey span6 no-padding">This will delete the entire test. However your questions will remain in the library.</p>
    <a class="btn btn-alert margin-large right mdL" id="delete_test_confirmation">Delete Test</a>
    <div class="clear"></div>
</div>

<div id="test-delete-confirm-dialog" class="modal modal-mid">
    <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4>Confirmation</h4>
    </div>

    <div class="modal-body">
        <div class="plA">Are you sure you want to delete this test?</div>
    </div>

    <div class="modal-footer">
        <a href="#" class="btn cancel-test-delete">Cancel</a>
        <a href="#" class="btn btn-primary delete-test">Yes</a>
    </div>
</div>