<div id="test-delete-saved-message-modal" class="modal modal-mid">
    <div class="modal-header text-center">
        <button type="button" class="close hidden" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4>Delete Message</h4>
    </div>

    <div class="modal-body">
        <div class="psA">
            <div>Are you sure you want to delete this saved response ?</div>
        </div>
    </div>

    <div class="modal-footer">
        <a href="#" class="btn cancel-dialog">Cancel</a>
        <a href="#" data-throbber="show" class="btn btn-primary delete-saved-message">Yes</a>
    </div>
</div>