<div class="top-fixed-bar">
    <h3 class="topbar-h3 mjL"><%- model.name %></h3>
    <h3 class="topbar-h3"><i class="icon-right-open breadcrumb-chevron"></i>Advanced Settings</h3>
</div>
<div class="overflow-content" id="control-overflow">
    <div id="custom_link"></div>
    <div class="soft-divider"></div>

    <div id="time_settings"></div>
    <div class="soft-divider"></div>

    <div id="test_admin"></div>
    <div class="soft-divider"></div>

    <div id="cutoff_score"></div>
    <div class="soft-divider"></div>

    <div id="mcq_score"></div>
    <div class="soft-divider"></div>

    <div id="master_password"></div>
    <div class="soft-divider"></div>

    <div id="questions_shuffling"></div>
    <div class="soft-divider"></div>

    <div id="allowed_languages"></div>
    <div class="soft-divider"></div>

    <div id="duplicate_test"></div>
    <div class="soft-divider"></div>

    <div id="delete_test"></div>
    <div class="soft-divider"></div>
</div>
