<div id="test-create-saved-message-modal" class="modal modal-mid">
    <div class="modal-header text-center">
        <button type="button" class="close hidden" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4>Create New Message</h4>
    </div>

    <div class="modal-body">
        <div class="psA">
            <div class="span4">Enter New Message Title</div>
            <input id="create-saved-msg-name" type="text" name="saved-message-name"/>
        </div>
        <div class="psA error-msg hidden"></div>
    </div>

    <div class="modal-footer">
        <a href="#" class="btn cancel-dialog">Cancel</a>
        <a href="#" data-throbber="show" class="btn btn-primary create-saved-message">Yes</a>
    </div>
</div>