<div class="modal fade in" id="testcase-alert-modal">
    <div class="modal-header">
        <button type="button" class="close hidden" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="underline_title">No Sample Test Cases</div>
    </div>
    <div class="modal-body">
    <p>
        It is recommended that you mark one or more test cases as sample test cases for the benefit of the candidate.
    </p>
        </div>

    <div class="modal-footer">

        <div class="pull-right">
            <a href="javascript:void(0)" class="modal-button btn btn-primary" data-dismiss="modal" aria-hidden="true">Okay, I'll Add Then Now</a>
            <button type="submit" class="modal-button btn btn-primary continue-navigation" data-loading-text="Saving...">Later
            </button>
        </div>
    </div>

</div>
