<div class="modal hide fade js-pdfdlview" data-width="1000px">
    <div class="modal-header">
        <div class="underline_title set_title">PDF Download</div>
        <button type="button" class="close setmodalclose" data-dismiss="modal" aria-hidden="true"><small>Close</small> &times;</button>
    </div>
    <div class="js-batchview">
      <table class="table">
        <tbody>
          <tr>
            <td width="40%">Extraordinary Candidates</td>
            <td>
                <div class="progress progress-striped active">
                    <div class="bar" style="width: 10%;" id="bucket-status-Topper"></div>
                </div>
            </td>
          </tr>
          <tr>
            <td>Above Average Candidates</td>
            <td>
                <div class="progress progress-striped active">
                    <div class="bar" style="width: 10%;" id="bucket-status-Above_Average"></div>
                </div>
            </td>
          </tr>
          <tr>
            <td>Average Candidates</td>
            <td>
                <div class="progress progress-striped active">
                    <div class="bar" style="width: 10%;" id="bucket-status-Average"></div>
                </div>
            </td>
          </tr>
          <tr>
            <td>Below Average Candidates</td>
            <td>
                <div class="progress progress-striped active">
                    <div class="bar" style="width: 10%;" id="bucket-status-Below_Average"></div>
                </div>
            </td>
          </tr>
          <tr>
            <td>Zeros</td>
            <td>
                <div class="progress progress-striped active">
                    <div class="bar" style="width: 10%;" id="bucket-status-Zero"></div>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
