<span class="nav-logo">
                <a href="/" class="HackerRankLogo backbone page_header-logo enterprise">
                    <!--?xml version='1.0' encoding='utf-8'?-->
                    <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="41px" height="45px" viewBox="0 0 41 45" enable-background="new 0 0 41 45" xml:space="preserve" xmlns:xml="http://www.w3.org/XML/1998/namespace">
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#55BA66" d="M40.041,11.25C38.761,9.058,23.055,0,20.499,0  C17.942,0,2.229,9.035,0.957,11.25c-1.272,2.216-1.279,20.285,0,22.5C2.236,35.965,17.943,45,20.499,45  c2.555,0,18.264-9.046,19.542-11.25S41.32,13.443,40.041,11.25z"/>
                        <g>
                            <g id="Hexagon_2_">
                                <g>

                                        <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="357.5938" y1="-250.2876" x2="357.5938" y2="-230.0996" gradientTransform="matrix(1 0 0 -1 -330.9902 -230.0996)">
                                        <stop offset="0" style="stop-color:#27A558"/>
                                        <stop offset="1" style="stop-color:#54BA67"/>
                                    </linearGradient>
                                    <path fill="url(#SVGID_1_)" d="M20.5,0c-1.087,0-4.552,1.634-8.273,3.681l28.751,16.507c-0.084-4.222-0.394-8.009-0.937-8.938     c-0.458-0.784-2.761-2.445-5.644-4.256L26.709,2.58C23.829,1.078,21.382,0,20.5,0z"/>

                                        <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="353.6152" y1="-259.5835" x2="353.6152" y2="-233.7808" gradientTransform="matrix(1 0 0 -1 -330.9902 -230.0996)">
                                        <stop offset="0" style="stop-color:#27A558"/>
                                        <stop offset="1" style="stop-color:#54BA67"/>
                                    </linearGradient>
                                    <path fill="url(#SVGID_2_)" d="M4.249,8.518l36.522,20.966c0.201-2.648,0.271-6.096,0.207-9.296L12.226,3.681     C9.406,5.232,6.441,7.018,4.249,8.518z"/>

                                        <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="351.4883" y1="-266.6372" x2="351.4883" y2="-238.6177" gradientTransform="matrix(1 0 0 -1 -330.9902 -230.0996)">
                                        <stop offset="0" style="stop-color:#27A558"/>
                                        <stop offset="1" style="stop-color:#54BA67"/>
                                    </linearGradient>
                                    <path fill="url(#SVGID_3_)" d="M4.249,8.518c-1.723,1.176-2.97,2.172-3.292,2.732c-0.33,0.574-0.574,2.219-0.733,4.371     l36.435,20.917c1.768-1.202,3.055-2.222,3.383-2.787c0.326-0.563,0.567-2.163,0.729-4.269L4.249,8.518z"/>

                                        <linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="349.3271" y1="-271.5532" x2="349.3271" y2="-245.7046" gradientTransform="matrix(1 0 0 -1 -330.9902 -230.0996)">
                                        <stop offset="0" style="stop-color:#27A558"/>
                                        <stop offset="1" style="stop-color:#54BA67"/>
                                    </linearGradient>
                                    <path fill="url(#SVGID_4_)" d="M36.673,36.529L0.225,15.605c-0.203,2.718-0.269,6.25-0.197,9.495l28.488,16.354     C31.379,39.889,34.419,38.063,36.673,36.529z"/>

                                        <linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="345.2637" y1="-275.0991" x2="345.2637" y2="-255.1987" gradientTransform="matrix(1 0 0 -1 -330.9902 -230.0996)">
                                        <stop offset="0" style="stop-color:#27A558"/>
                                        <stop offset="1" style="stop-color:#54BA67"/>
                                    </linearGradient>
                                    <path fill="url(#SVGID_5_)" d="M0.028,25.1c0.091,4.103,0.399,7.733,0.929,8.651C2.236,35.965,17.943,45,20.5,45     c1.063,0,4.395-1.561,8.018-3.545L0.028,25.1z"/>
                                </g>
                            </g>
                            <g id="H_2_">
                                <path fill="#FFFFFF" d="M24.32,24.262v7.787h-1.315c-0.267,0-0.483,0.219-0.483,0.483c0,0.175,0.094,0.327,0.231,0.413l2.955,2.83    c0.088,0.117,0.265,0.203,0.42,0.203c0.16,0,0.302-0.082,0.39-0.203l3.146-2.832c0.139-0.084,0.23-0.236,0.23-0.411    c0-0.267-0.217-0.483-0.483-0.483h-1.319l-0.01-18.819c0-0.267-0.212-0.482-0.479-0.482h-2.799c-0.267,0-0.486,0.216-0.486,0.482    v7.265h-7.639v-7.544h1.315c0.267,0,0.483-0.216,0.483-0.482c0-0.175-0.093-0.328-0.231-0.413l-2.955-2.832    c-0.088-0.115-0.264-0.203-0.42-0.203c-0.16,0-0.302,0.083-0.389,0.203l-3.148,2.833c-0.138,0.085-0.23,0.238-0.23,0.412    c0,0.267,0.216,0.482,0.483,0.482h1.319l0.012,18.82c0,0.266,0.211,0.48,0.479,0.48h2.798c0.267,0,0.485-0.216,0.485-0.48v-7.51    H24.32z"/>
                            </g>
                        </g>
                    </svg>
                </a>
            </span><!-- end .nav-logo -->
<% if (!model.authkey && _.keys(model).length > 0) {%>
<span class="nav-login-patch">

                <div class="admin-dropdown page_header_dropdown-toggle pull-right" id="profile-menu">
                    <a class="backbone dropdown-toggle page_header-userbtn" href="" data-toggle="dropdown">
                        <div class="hre-username pull-left"><%= _.escape(model.firstname) %></div>
                        <i class="icon-down-open-mini"></i>

                        <div class="clear"></div>
                    </a>
                    <ul class="unstyled dropdown-menu page_header_dropdown">
                        <li class="navigation_hackos">
                            <span class="navigation_hackos-heading">Invites:</span>
                            <span class="navigation_hackos-count">
                                <% if (model.type == 'unlimited') { %>unlimited<% } else { %><%= parseInt(model.company.invites, 10) + parseInt(model.company.subscription_invites, 10) %><% } %>
                            </span>
                        </li>
                        <li><a href="/x/settings" class="js-nav-link">Settings</a></li>
                        <li><a href="#" class="js-nav-link">Payment</a></li>
                        <li><a href="#" class="logout-button">Logout</a></li>
                    </ul>
                </div>

            </span>


<input type="text" id="candidate-search-box-gl" class="nav-input pull-right" placeholder="search candidates" <% if(term) { %> value="<%= term %>" <% } %>/>

<ul class="selector-nav-tabs hre-margin">
    <li <%if(activeSection == 'tests') { %> class="active" <% } %>><a href="/x/tests" id="navigate-to-tests" class="js-nav-link">TESTS</a></li>
    <li <%if(activeSection == 'interviews') { %> class="active" <% } %>><a href="/x/interviews" id="navigate-to-interviews" class="js-nav-link">INTERVIEWS</a></li>
</ul>
<%}%>