<hr>
<div class="run-time full-width">
    <p class="title <%=st_class%>">Testcase <span class="testcase-no"><%=tno%></span></p>
    <p class="field-label">Input</p>
    <pre class="error-output"><xmp class ="testcase-input"><%=input%></xmp></pre>

    <p class="field-label">Your Output</p>
        <pre class="error-output"><xmp class="testcase-output"><%=output%></xmp></pre>

    <p class="field-label">Expected Output</p>
        <pre class="error-output"><xmp class="testcase-expected-output"><%=exp_output%></xmp></pre>
        <p class="field-label">Codechecker Message</p>
        <pre class="error-output"><xmp class="testcase-compiler-message"><%=compiler_msg%></xmp></pre>
</div>