<div class="output-area-wrap">
  <div class="output-area padded light-wrap" id="output-area">
    <p class="status">Status: <span class="status-msg">Uploading..</span></p>
    <span class="bb-runall hide">Running your code against all testcases...</span>
    <div class="alert mlB hide" id="error-message">
        <header class="compile-header"></header>
        <p><pre class="compile-message"></pre></p>
    </div>
    <span class="testcases"></span>
    <span class="bb-runall hide">Running your code against all testcases...</span>
</div>
</div>
