
<div style="" id="wrapper" class="clearfix">
    <center>
    <h2 class="headline">HackerRankX test-taking information</h2>

    <div class="sub-headline">
        <span class="ico-questions"></span>
        <span class="grey">Tips to help you take your best test on the HackerRankX test-taking platform.
        </span>
    </div> <!-- .sub-headline -->


    </center>

    <div class="offset1 span-xs-15">
        <a name="top"></a>
        <header class="page-title no-padding">
            <ul class="nav-tabs nav no-margin">
                <li id="testui" class="active"><a id="testui" class="js-tablink" href=""><i class="icon-keyboard"></i>Testing Interface</a></li>
                <li id="env"><a id="env" class="js-tablink" href=""><i class="icon-monitor"></i>Environment</a></li>
                <li id="faq"><a id="faq" class="js-tablink" href=""><i class="icon-help-circled"></i>Platform FAQ</a></li>
                <li id="instructions"><a id="instructions" class="js-tablink" href=""><i class="icon-list-bullet-small"></i>Test Instructions</a></li>
            </ul>
        </header>

        <div class="js-content-testui js-content">
        </div>

        <div class="js-content-env js-content hidden">
        </div>

        <div class="js-content-faq js-content hidden">
        </div>

        <div class="js-content-instructions js-content hidden">
            <div class="pjA">
                If you are viewing this page while taking a test, any instructions specific to that test will appear here.
            </div>
        </div>
    </div>
</div>