
<div style="" id="wrapper" class="clearfix">
    <center>
    <h2 class="headline">HackerRankX test-taking information</h2>

    <div class="sub-headline">
        <span class="ico-questions"></span>
        <span class="grey">Tips to help you take your best test on the HackerRankX test-taking platform.
        </span>
    </div> <!-- .sub-headline -->


    </center>

    <div class="offset4 span-xs-13">
    <a name="top"></a>
    <header class="page-title no-padding">
        <ul class="nav-tabs nav no-margin">
            <li id="tab1" class="active"><a id="tab1" class="js-tablink" href=""><i class="icon-bolt"></i>Environment</a></li>
            <li id="tab2"><a id="tab2" class="js-tablink" href=""><i class="icon-list-bullet-small"></i> Instructions</a></li>
            <li id="tab3"><a id="tab3" class="js-tablink" href=""><i class="icon-trophy"></i> TAB 3</a></li>
        </ul>
    </header>
    <div class="js-content-tab1 js-content">
        <!-- <span class="green-title">Environment</span> -->
        <div>
            <div class="table-wrap text-center block-center mlB">
                        <header class="row">
                            <div class="span-flex-2">Language</div>
                            <div class="span-flex-3">Version</div>
                            <div class="span-flex-2">Time Limit(in seconds)</div>
                            <div class="span-flex-2">Memory Limit(in MegaBytes)</div>
                            <div class="span-flex-3">File Extension</div>
                            <div class="span-flex-4">Notes</div>
                        </header>
                        <div class="table-body">
                            <div class="row">
                                <div class="span-flex-2">C</div>
                                <div class="span-flex-3">gcc 4.8.1, C99 Mode</div>
                                <div class="span-flex-2">2</div>
                                <div class="span-flex-2">512</div>
                                <div class="span-flex-3">.c</div>
                                <div class="span-flex-4">Math library included (-lm)</div>
                            </div>
                            <div class="row row-alt">
                                <div class="span-flex-2">C++</div>
                                <div class="span-flex-3">g++ 4.8.1, C++0x Mode</div>
                                <div class="span-flex-2">2</div>
                                <div class="span-flex-2">512</div>
                                <div class="span-flex-3">.cc, .ccp</div>
                                <div class="span-flex-4">Math library included (-lm)</div>
                            </div>
                            <div class="row">
                                <div class="span-flex-2">C#</div>
                                <div class="span-flex-3">Mono 2.10.8.1, C# 4</div>
                                <div class="span-flex-2">5</div>
                                <div class="span-flex-2">512</div>
                                <div class="span-flex-3">.cs</div>
                                <div class="span-flex-4">Name your class Solution</div>
                            </div>
                            <div class="row row-alt">
                                <div class="span-flex-2">Python</div>
                                <div class="span-flex-3">Python 2.7.5</div>
                                <div class="span-flex-2">16</div>
                                <div class="span-flex-2">512</div>
                                <div class="span-flex-3">.py</div>
                                <div class="span-flex-4"></div>
                            </div>
                            <div class="row">
                                <div class="span-flex-2">Java</div>
                                <div class="span-flex-3">Sun Java 1.7.0_21</div>
                                <div class="span-flex-2">5</div>
                                <div class="span-flex-2">512</div>
                                <div class="span-flex-3">.java</div>
                                <div class="span-flex-4">Name your class Solution</div>
                            </div>
                            <div class="row row-alt">
                                <div class="span-flex-2">PHP</div>
                                <div class="span-flex-3">PHP 5.5.3</div>
                                <div class="span-flex-2">16</div>
                                <div class="span-flex-2">512</div>
                                <div class="span-flex-3">.php</div>
                                <div class="span-flex-4"></div>
                            </div>
                            <div class="row">
                                <div class="span-flex-2">Perl</div>
                                <div class="span-flex-3">Perl 5.14.2</div>
                                <div class="span-flex-2">16</div>
                                <div class="span-flex-2">512</div>
                                <div class="span-flex-3">.pl</div>
                                <div class="span-flex-4"></div>
                            </div>
                            <div class="row row-alt">
                                <div class="span-flex-2">Ruby</div>
                                <div class="span-flex-3">Ruby 1.9.3p194</div>
                                <div class="span-flex-2">16</div>
                                <div class="span-flex-2">512</div>
                                <div class="span-flex-3">.rb</div>
                                <div class="span-flex-4"></div>
                            </div>
                            <div class="row">
                                <div class="span-flex-2">Haskell</div>
                                <div class="span-flex-3">GHC 7.6.3</div>
                                <div class="span-flex-2">5</div>
                                <div class="span-flex-2">512</div>
                                <div class="span-flex-3">.hs</div>
                                <div class="span-flex-4"></div>
                            </div>
                            <div class="row row-alt">
                                <div class="span-flex-2">Clojure</div>
                                <div class="span-flex-3">clojure 1.4.0</div>
                                <div class="span-flex-2">10</div>
                                <div class="span-flex-2">512</div>
                                <div class="span-flex-3">.clj</div>
                                <div class="span-flex-4"></div>
                            </div>
                            <div class="row">
                                <div class="span-flex-2">Haskell</div>
                                <div class="span-flex-3">GHC 7.6.3</div>
                                <div class="span-flex-2">5</div>
                                <div class="span-flex-2">512</div>
                                <div class="span-flex-3">.hs</div>
                                <div class="span-flex-4"></div>
                            </div>
                            <div class="row row-alt">
                                <div class="span-flex-2">Haskell</div>
                                <div class="span-flex-3">GHC 7.6.3</div>
                                <div class="span-flex-2">5</div>
                                <div class="span-flex-2">512</div>
                                <div class="span-flex-3">.hs</div>
                                <div class="span-flex-4"></div>
                            </div>
                            <div class="row">
                                <div class="span-flex-2">Haskell</div>
                                <div class="span-flex-3">GHC 7.6.3</div>
                                <div class="span-flex-2">5</div>
                                <div class="span-flex-2">512</div>
                                <div class="span-flex-3">.hs</div>
                                <div class="span-flex-4"></div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
    <div class="js-content-tab2 js-content hidden">
        <!-- <span class="green-title">Instructions</span> -->
        <div class="pjA">
            <ul>
               <li>This is a programming test</li>
               <li>You are free to choose any language from the list and code</li> 
               <li>If the code area contains the function signature, just complete the function alone, we'll take care of the main function, headers, etc</li>
               <li>If you're expected to write the full code, it'd be mentioned in the code area. All inputs are from STDIN and output to STDOUT. If you're using Java, use the classname as 'Solution'</li>
               <li>To understand more about the environment, time limits, etc. you can read the FAQ here</li>
               <li>You can print to console to debug your code using the appropriate print command for each language (Eg: cout for C++, printf for C, etc.)</li>
               <li>It is okay to use reference language documentation or use an IDE that has code completion features. However it is not acceptable to consult/copy code from any source including a website, book, or friend/colleague to complete these tests.</li>
            </ul>
        </div>
    </div>
    <div class="js-content-tab3 js-content hidden">
        <span class="green-title">TAB 3</span>
    <div>tab3 content</div>
    </div>
</div>