<div id="side-navigation">
    <nav class="page_navigation-sidebar expand hr_slide-away-element ligter-sidebar no-expand no-border" id="sidebar" style="top: 61px;">
        <div class="mini-dash" style="display:none">
            <!--<footer class="clearfix">
                <p class="pull-left rank"><i class="icon-up-dir-1 success"></i> 5572<span class="sub-label">Points</span></p>
                <p class="pull-right rank"><i class="icon-up-dir-1 success"></i> 242<span class="sub-label">Rank</span></p>
                -->
        </div>
        <ul class="unstyled sidebar_nav-list sidebar-differentiator margin-top-fix fixed-nav">
        </ul>

        <div class="sidebar-scroll-list-container">
            <ul class="unstyled sidebar_nav-list psT questions-indicator">
                <li class="answered">
                    <a href="#" class="backbone" rel="tooltip" title="sadsad" >
                        <i class="nav-icon icon-circle"></i>
                        <i class="nav-icon icon-circle-empty"></i>
                    </a>
                </li>
                <li class="not-answered">
                    <a href="#" class="backbone">
                        <i class="nav-icon icon-circle"></i>
                        <i class="nav-icon icon-circle-empty"></i>
                    </a>
                </li>
                <li class="answered disabled">
                    <a href="#" class="backbone">
                        <i class="nav-icon icon-circle"></i>
                        <i class="nav-icon icon-circle-empty"></i>
                    </a>
                </li>
                <li class="not-answered active">
                    <a href="#" class="backbone">
                        <i class="nav-icon icon-circle"></i>
                        <i class="nav-icon icon-circle-empty"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
