<div id="side-navigation">
    <nav class="page_navigation-sidebar expand hr_slide-away-element ligter-sidebar hr-candidate-rules" id="sidebar" style="top: 61px;">
        <div class="mini-dash" style="display:none">
            <!--<footer class="clearfix">
                <p class="pull-left rank"><i class="icon-up-dir-1 success"></i> 5572<span class="sub-label">Points</span></p>
                <p class="pull-right rank"><i class="icon-up-dir-1 success"></i> 242<span class="sub-label">Rank</span></p>
                -->
        </div>
        <ul class="unstyled sidebar_nav-list sidebar-differentiator margin-top-fix fixed-nav questions-indicator">
        </ul>

        <div class="sidebar-scroll-list-container">
            <ul class="unstyled sidebar_nav-list psT questions-indicator questions-nav">
            </ul>
        </div>
    </nav>
</div>
