<article id="about">
    <div class="container">
        <div class="row">
            <h1 class="span16"><div class="title-img"></div> About HackerRank</h1>
            <div class="about-photos">
                <div class="span4">
                    <img src="/assets/about-shiv.jpg" alt="Meet Shiv Deepak" width="220" height="150">
                    <h4>Shiv Deepak</h4>
                    <h5>Hacker</h5>
                </div>
                <div class="span4">
                    <img src="/assets/about-rohan.jpg" alt="Meet Rohan Jain" width="220" height="150">
                    <h4>Rohan Jain</h4>
                    <h5>Hacker</h5>
                </div>
                <div class="span4">
                    <img src="/assets/about-emily.jpg" alt="Meet Emily Brophy" width="220" height="150">
                    <h4>Emily Brophy</h4>
                    <h5>Product Design & Strategy</h5>
                </div>
                <div class="span4">
                    <img src="/assets/about-dheeraj.jpg" alt="Meet Dheeraj" width="220" height="150">
                    <h4>Dheeraj Ravindranath</h4>
                    <h5>Hacker</h5>
                </div>
                <div class="span4">
                    <img src="/assets/about-ali.jpg" alt="Meet Mohammad Ali" width="220" height="150">
                    <h4>Mohammad Ali</h4>
                    <h5>Product Evangilist</h5>
                </div>
                <div class="span4">
                    <img src="/assets/about-akshay.jpg" alt="Meet Akshay Gupta" width="220" height="150">
                    <h4>Akshay Gupta</h4>
                    <h5>Hacker</h5>
                </div>
                <div class="span4">
                    <img src="/assets/about-andrew.jpg" alt="Meet Andrew Armenante" width="220" height="150">
                    <h4>Andrew Armenante</h4>
                    <h5>Business Development</h5>
                </div>
                <div class="span4">
                    <img src="/assets/about-hari.jpg" alt="Meet Hari Karunanidhi" width="220" height="150">
                    <h4>Hari Karunanidhi</h4>
                    <h5>Co-Founder</h5>
                </div>
                <div class="span4">
                    <img src="/assets/about-vivek.jpg" alt="Meet Vivek Ravishankar" width="220" height="150">
                    <h4>Vivek Ravishankar</h4>
                    <h5>Co-Founder</h5>
                </div>
            </div>
        </div>
        <h2 style="display: none;">Hacker Rank Timeline</h2>
        <div id="sliderContent" class="ui-corner-all" style="display: none;">
          <div class="viewer ui-corner-all">
            <div class="content-conveyor ui-helper-clearfix">
              <div class="timeline-background clearfix">
                <div class="year twentynine item">
                    <div class="year-number"><p>2009</p></div>
                    <div class="month"></div>
                    <div class="month">
                        <div class="event">
                            <h5>August 2009</h5>
                            <p><a href="http://linode.interviewstreet.com/inviteFriends.php">Interview Street</a> launched as a platform for mock interviews</p>
                        </div>
                    </div>
                    <div class="month"></div>
                    <div class="month"></div>
                    <div class="month"></div>
                    <div class="month">
                        <div class="event">
                            <h5>December 2009</h5>
                            <p>10-15 interviews bring us in about a $150 revenue.</p>
                        </div>
                    </div>
                </div>
                <div class="year twentyten item">
                    <div class="year-number"><p>2010</p></div>
                    <div class="month jan">
                        <div class="event">
                            <h5>January 2010</h5>
                            <p>We have a long conversation at the beach discussing how to get more users</p>
                        </div>
                    </div>
                    <div class="month"></div>
                    <div class="month march">
                        <div class="event">
                            <h5>March 2010</h5>
                            <p>Went to almost every college in South India to stick posters and give lectures on CS/Algorithms to gain traction. We see a feeble increase in the response.</p>
                        </div>
                    </div>
                    <div class="month apr">
                        <div class="event">
                            <h5>April 2010</h5>
                            <p>Applied to YC. Decided to pivot. We and our friends at Amazon and Google were tasked with conducting employee interviews. It wasn't scalable and didn't go anywhere. </p>
                        </div>
                    </div>
                    <div class="month may">
                        <div class="event">
                            <h5>May 2010</h5>
                            <p>Rejected by YC. Pivoted to pair people from India who were applying for a US Masters degree with alums to conduct mock interviews.</p>
                        </div>
                    </div>
                    <div class="month"></div>
                    <div class="month"></div>
                    <div class="month aug">
                        <div class="event">
                            <h5>August 2010</h5>
                            <p>A bit of growth, but turns out alums don't want to charge money. So much for our business model, so another pivot...</p>
                        </div>
                    </div>
                    <div class="month"></div>
                    <div class="month oct">
                        <div class="event">
                            <h5>October 2010</h5>
                            <p>Tried to set up mock interviews for applicants to top tier MBA programs with alums. Applied for YC again for W11 batch.</p>
                        </div>
                    </div>
                    <div class="month nov">
                        <div class="event">
                            <h5>November 2010</h5>
                            <p>Got rejected from YC again. We were almost bankrupt. Had roughly $400 in the bank account.</p>
                        </div>
                    </div>
                    <div class="month dec">
                        <div class="event">
                            <h5>December 2010</h5>
                            <p>Another beach talk. We decide to build a web-based app to solve the problem of screening programmers.</p>
                        </div>
                    </div>
                </div>
                <div class="year twentyeleven item">
                    <div class="year-number"><p>2011</p></div>
                    <div class="month jan">
                        <div class="event">
                            <h5>January 2011</h5>
                            <p>Locked ourselves in a room for 10 days and created the <a href="http://linode.interviewstreet.com/interviewstreet-2.png">first version of our tool</a> to help companies screen programmers. Pitched hard to companied. Vivek pitched to 3 companies per day and Hari coded all night.</p>
                        </div>
                    </div>
                    <div class="month"></div>
                    <div class="month mar">
                        <div class="event">
                            <h5>March 2011</h5>
                            <p>We got a few customers using our product, the biggest name being Amazon. Applied to YC again...</p>
                        </div>
                    </div>
                    <div class="month apr">
                        <div class="event">
                            <h5>April 2011</h5>
                            <p>We get a call from Facebook wanting to try out product. Two days later YC says they want to meet us, and soon after a VC firm wants to invest.</p>
                        </div>
                    </div>
                    <div class="month may">
                        <div class="event">
                            <h5>May 2011</h5>
                            <p>The VC backs out. Vivek flies to CA for the 10 minute interview. "I attended the interview fearlessly with an attitude like I've got nothing to lose so let me be
genu    ine and straightforward" 2 hours later we found out we got into YC.</p>
                        </div>
                    </div>
                    <div class="month"></div>
                    <div class="month jul">
                        <div class="event">
                            <h5>July 2011</h5>
                            <p>After getting more US customers, we launch challenges to help companies hire programmers in addition to screening them.</p>
                        </div>
                    </div>
                    <div class="month aug">
                        <div class="event">
                            <h5>August 2011</h5>
                            <p>Launched challenges to big support, grew to a team of six. YC demo day.</p>
                        </div>
                    </div>
                    <div class="month sep">
                        <div class="event">
                            <h5>September 2011</h5>
                            <p>Pitched to several VCs and angels and backed by Vinod Khosla. Launched CodeSprint-1 with 3.5k programmers</p>
                        </div>
                    </div>
                    <div class="month oct">
                        <div class="event">
                            <h5>October 2011</h5>
                            <p>Returned to India, got a new office space.</p>
                        </div>
                    </div>
                    <div class="month nov">
                        <div class="event">
                            <h5>November 2011</h5>
                            <p>Several members of our small team leave to start new startups. Back to 2 founders.</p>
                        </div>
                    </div>
                    <div class="month"></div>
                </div>
                <div class="year twentytwelve item">
                    <div class="year-number"><p>2012</p></div>
                    <div class="month jan">
                        <div class="event">
                            <h5>January 2012</h5>
                            <p>CodeSprint 2 launches with 5k programmers. Started hiring programmers in India. Vivek moves to the US</p>
                        </div>
                    </div>
                    <div class="month"></div>
                    <div class="month mar">
                        <div class="event">
                            <h5>March 2012</h5>
                            <p>We started conducting weekly Codesprints and matching programmers with companies, but started to realize that many top coders don't need job placement services. Grew to a team of six in India.</p>
                        </div>
                    </div>
                    <div class="month apr">
                        <div class="event">
                            <h5>April 2012</h5>
                            <p>Several members of our small team leave to start new startups. Back to 2 founders.</p>
                        </div>
                    </div>
                    <div class="month"></div>
                    <div class="month"></div>
                    <div class="month"></div>
                    <div class="month"></div>
                    <div class="month"></div>
                    <div class="month"></div>
                    <div class="month"></div>
                    <div class="month"></div>
                </div>
              </div>
            </div>
          </div>
          <div id="slider"></div>
        </div>
        <div style="text-align: center;">You can mail us at hackers@hackerrank.com if you are interested.</div>
    </div>
<script>
 $(function() {

		//vars
		var conveyor = $(".content-conveyor", $("#sliderContent")),
		item = $(".item", $("#sliderContent"));

		//set length of conveyor
		conveyor.css("width", "5000px");

        //config
        var sliderOpts = {
		  max: 1800,
          slide: function(e, ui) {
            conveyor.css("left", "-" + ui.value + "px");
          }
        };

        //create slider
        $("#slider").slider(sliderOpts);

        $(".year .event").hover(function(){
        var height = $(this).css('height','auto').height();
            $(this).animate({height: height+'px'}, 400);
        },
        function () {
            $(this).animate({height: '60px'}, 400);
        });
});
</script>
</body>
