<div class="container">
    <div class="container--inner">
        <header class="about_header text-center">
            <h1>About HackerRank</h1>
            <p class="mlT mlB content-text">Imagine if all of the world's top Hackers got together to code in the same room. Imagine the brain power, the energy, the opportunity that would permeate from that space. We are building that room online. If you are interested in helping us, check out our <a href="/careers">jobs page</a>.</p>
        </header>
        <section class="about_tabs">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#about_team" data-toggle="tab">The Team</a></li>
                <li class=""><a href="#about_investors" data-toggle="tab">Investors</a></li>
                <li class=""><a href="#about_timeline" data-toggle="tab">Our Story</a></li>
            </ul>
        </section>
        <div class="tab-content">
            <section class=" tab-pane active about_team padded" id="about_team">
                <div class="row">
                    <div class="content-text text-center">
                        <h3 class="alpha margin-small bottom"><strong>We hire fighters</strong></h3>
                        <p>People who demonstrate irrational conviction that they're the best at what they do and never ever give up.</p>
                        <p>We are a tight group of hackers, bootstrappers, entrepreneurial thinkers and innovators. We are building an engaged community of problem solvers. Imagine the intelligence and value that a room would hold if it contained hackers/problem solvers from around the world? We're building this online.</p>
                        <p>If you'd like to work with an inspiring team, come on board.</p>
                    </div>
                    <div class="text-center mlB"><a href="/careers" class="btn btn-green">Available Positions</a></div>

                    <div class="about_team_group clearfix block-center">
                        <div class="about_team-block">
                            <img src="/assets/about/about-shiv.jpg" alt="Meet Shiv Deepak" width="192" height="192">
                            <div class="about_team-flyout">
                                <h4 class="about_team-name">Shiv</h4>
                                <p class="about_team-title">Lead Developer</p>
                                <ul class="unstyled horizontal social">
                                    <li><a target="_blank" href="https://twitter.com/idlecool"><i class="icon-twitter"></i></a></li>
                                    <li><a target="_blank" href="https://github.com/idlecool"><i class="icon-github"></i></a></li>
                                    <li><a target="_blank" href="https://sd.gs"><i class="icon-globe"></i></a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="about_team-block">
                            <img src="/assets/about/about-ravi.jpg" alt="Meet Neena" width="192" height="192">
                            <div class="about_team-flyout">
                                <h4 class="about_team-name"><strong>Neena</strong></h4>
                                <p class="about_team-title"><em>Developer</em></p>
                                <ul class="unstyled horizontal social">
                                    <li><a target="_blank" href="http://codesurfers.net/~neena/"><i class="icon-globe"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="about_team-block">
                            <img src="/assets/about/about-emily.jpg" alt="Meet Emily Brophy" width="192" height="192">
                            <div class="about_team-flyout">
                                <h4 class="about_team-name"><strong>Emily</strong></h4>
                                <p class="about_team-title"><em>Lead Designer</em></p>
                                <ul class="unstyled horizontal social">
                                    <li><a target="_blank" href="http://www.twitter.com/elou"><i class="icon-twitter"></i></a></li>
                                    <li><a target="_blank" href="http://www.dribbble.com/elou"><i class="icon-dribbble"></i></a></li>
                                    <li><a target="_blank" href="http://www.elouwebdesign.com"><i class="icon-globe"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="about_team-block">
                            <img src="/assets/about/about-dheeraj.jpg" alt="Meet Dheeraj" width="192" height="192">
                            <div class="about_team-flyout">
                                <h4 class="about_team-name"><strong>Dheeraj</strong></h4>
                                <p class="about_team-title"><em>Problem Curator</em></p>
                                <ul class="unstyled horizontal social">
                                    <!--<li><a href="http://www.twitter.com/elou"><i class="icon-twitter"></i></a></li>-->
                                    <li><a target="_blank" href="https://github.com/dheerajrav"><i class="icon-github"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="about_team-block">
                            <img src="/assets/about/about-prashant.jpg" alt="Meet Prashant" width="192" height="192">
                            <div class="about_team-flyout">
                                <h4 class="about_team-name"><strong>Prashant</strong></h4>
                                <p class="about_team-title"><em>Problem Curator</em></p>
                                <ul class="unstyled horizontal social">
                                </ul>
                            </div>
                        </div>
                        <div class="about_team-block">
                            <img src="/assets/about/about-daniel.jpg" alt="Meet Daniel Chesnut" width="192" height="192">
                            <div class="about_team-flyout">
                                <h4 class="about_team-name"><strong>Daniel</strong></h4>
                                <p class="about_team-title"><em>Operations</em></p>
                                <ul class="unstyled horizontal social">

                                </ul>
                            </div>
                        </div>
                        <div class="about_team-block">
                            <img src="/assets/about/about-hari.jpg" alt="Meet Hari Karunanidhi" width="192" height="192">
                            <div class="about_team-flyout">
                                <h4 class="about_team-name"><strong>Hari</strong></h4>
                                <p class="about_team-title"><em>Co-founder</em></p>
                                <ul class="unstyled horizontal social">
                                    <li><a target="_blank" href="https://twitter.com/sp2hari"><i class="icon-twitter"></i></a></li>
                                    <li><a target="_blank" href="https://github.com/sp2hari"><i class="icon-github"></i></a></li>
                                    <li><a target="_blank" href="http://sp2hari.com"><i class="icon-globe"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="about_team-block">
                        <img src="/assets/about/about-vivek.jpg" alt="Meet Vivek Ravishankar" width="192" height="192">
                        <div class="about_team-flyout">
                            <h4 class="about_team-name"><strong>Vivek</strong></h4>
                            <p class="about_team-title"><em>Co-founder</em></p>
                            <ul class="unstyled horizontal social">
                                <li><a target="_blank" href="https://twitter.com/rvivek"><i class="icon-twitter"></i></a></li>
                                <li><a target="_blank" href="https://github.com/rvivek"><i class="icon-github"></i></a></li>
                                <li><a target="_blank" href="http://rvivek.com/"><i class="icon-globe"></i></a></li>
                            </ul>
                        </div>
                    </div>
                        <div class="about_team-block">
                            <img src="/assets/about/about-khongor.jpg" alt="Meet Khongor Enkhbold" width="192" height="192">
                            <div class="about_team-flyout">
                                <h4 class="about_team-name"><strong>Khongor Enkhbold</strong></h4>
                                <p class="about_team-title"><em>Developer</em></p>
                                <ul class="unstyled horizontal social">
                                    <li><a target="_blank" href="twitter.com/khongore"><i class="icon-twitter"></i></a></li>
                                    <li><a target="_blank" href="https://github.com/khongor"><i class="icon-github"></i></a></li>
                                    <li><a target="_blank" href="http://xongor.mn"><i class="icon-globe"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="about_team-block">
                            <img src="/assets/about/about-you.jpg" alt="Ghost Avatar" width="192" height="192">
                            <div class="about_team-flyout">
                                <h4 class="about_team-name text-center margin-large bottom">You!</h4>
                                <p class="text-center"><a href="/careers" class="btn btn-inverse">View jobs</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="tab-pane about_investors container" id="about_investors">
                <p class="margin-large top bottom about_investors-group block-center text-center">HackerRank is lucky to be backed by some incredible organizations and individuals. Since launching in Summer 2012, we have quickly grown to an active community of nearly 150,000 hackers and growing.</p>
                <div class="about_investors-group mlT block-center">
                    <div class="clearfix">
                        <img style="margin-right:115px;" src="/assets/investors/yc.png" alt="Y Combinator Logo" class="pull-left">
                        <img style="margin-right:115px;" src="/assets/investors/morpheus.png" alt="The Morpheus Logo" class="pull-left">
                        <img style="margin-right:0" src="/assets/investors/zenshin.png" alt="Zen Shin Capitol Logo" class="pull-left">
                    </div>
                    <div class="clearfix">
                        <img style="margin:30px 90px 30px 20px;" src="/assets/investors/khosla.png" alt="Khosla Ventures Logo" class="pull-left">
                        <img style="margin:20px 90px 20px 80px;" src="/assets/investors/startfund.png" alt="Start Fund Logo" class="pull-left">
                        <img style="margin:20px 0px 20px 70px;" src="/assets/investors/svangel.png" alt="Start Fund Logo" class="pull-left">
                    </div>
                </div>
            </section>
            <section class="tab-pane about_timeline container" id="about_timeline">
                <iframe src='//embed.verite.co/timeline/?source=0Anfg1FSSD6XKdEpueHdaUUc4LVc5ZkZGY0FFNXJ4ZUE&font=Bevan-PotanoSans&maptype=toner&lang=en&height=650' width='100%' height='650' frameborder='0'></iframe>
            </section>
        </div>
    </div>
</div>
    <script>
                $(function() {

            //vars
            var conveyor = $(".content-conveyor", $("#sliderbContent")),
            item = $(".item", $("#sliderContent"));

            //set length of conveyor
            conveyor.css("width", "5000px");

                //config
                var sliderOpts = {
            max: 1800,
                slide: function(e, ui) {
                conveyor.css("left", "-" + ui.value + "px");
                }
                };

                //create slider
                $("#slider").slider(sliderOpts);

                $(".year .event").hover(function(){
                var height = $(this).css('height','auto').height();
                $(this).animate({height: height+'px'}, 400);
                },
                function () {
                $(this).animate({height: '60px'}, 400);
                });
                });
    </script>