<section class="api">
    <header class="page-title grey-header">
        <div class="container">
            <div class="container--inner text-center">
	            <h1>HackerRank API</h1>
	            <h4>Power your programming contest using the HackerRank platform.</h4>
                <p class="text-center margin-large top"><a href="api/docs" class="btn btn-primary btn-xlarge api-get-started backbone">Get Started</a></p>
            </div>
        </div>
    </header>

    <div class="container api-home">
        <div class="container--inner content-text">
        	<div class="api-group">
        		<h3>How can you use the API?</h3>
        		<p>Companies, schools, and groups of friends are using the HackerRank platform to hold contests. Conduct contests of any kind imaginable by using the HackerRank Code Checker API...</p>
        		<ul class="margin-large padding-large left">
        			<li>Use your own scoring system.</li>
        			<li>Extremely simple REST API</li>
        			<li>Supports more than a dozen languages</li>
        		</ul>
        		<p>...all powered by reliable HackerRank servers.</p>
        	</div>

            <div class="api-users api-group">
                <h3>Who is using the API?</h3>
                <p>Select users of our API. Schools and companies across the world have used our codechecker.</p>
                <div class="group-one block-center">
                	<img src="/assets/companies/grey_Harman.gif" width="275" height="37" class="harman">
                	<img src="/assets/companies/grey_Cal.gif" class="cal">
                	<img src="/assets/companies/grey_Teradata.gif" width="237" height="56" class="teradata">
                </div>
                <div class="group-two block-center">
                	<img src="/assets/companies/grey_Sap.gif" width="84" height="36" class="sap">
                	<img src="/assets/companies/grey_Florida.gif" width="208" height="40" class="florida">
                	<img src="/assets/companies/grey_Harvard.gif" class="harvard">
                </div>
            </div>
        </div>
    </div>
</section>
