<div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=347499128655783";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

<div class="hero hero--grey careers_hero container">
    <div class="container text-center">
        <h1>Built for Hackers, by Hackers</h1>
        <p>We are a diverse group of programmers, designers, content developers, and more working hard to create the best community for Hackers, anywhere. Because we have such a small team, you get to be a huge part of the creation of HackerRank. Of course, we have some awesome perks for you as well.</p>
    </div>
</div>

<div class="container careers_positions padding-large bottom">
    <iframe id="jobviteframe" width="100%" height="1210px" scrolling="no" frameborder="0" allowtransparency="true"
            src="https://hire.jobvite.com/CompanyJobs/Careers.aspx?k=JobListing&c=qPE9Vfwh&v=1&jvresize=<%- document.location.protocol + '//' + document.location.host %>/JobviteFrameResize.html" >Sorry, iframes are not supported.</iframe>
    <script type="text/javascript">

        var l = location.href;

        var args = '';

        var k = '';

        var iStart = l.indexOf('?jvk=');

        if (iStart == -1) iStart = l.indexOf('&jvk=');

        if (iStart != -1) {

        iStart += 5;

        var iEnd = l.indexOf('&', iStart);

        if (iEnd == -1) iEnd = l.length;

        k = l.substring(iStart, iEnd);

        }

        iStart = l.indexOf('?jvi=');

        if (iStart == -1) iStart = l.indexOf('&jvi=');

        if (iStart != -1) {

        iStart += 5;

        var iEnd = l.indexOf('&', iStart);

        if (iEnd == -1) iEnd = l.length;

        args += '&j=' + l.substring(iStart, iEnd);

        if (!k.length) args += '&k=Job';

        var iStart = l.indexOf('?jvs=');

        if (iStart == -1) iStart = l.indexOf('&jvs=');

        if (iStart != -1){

        iStart += 5;

        var iEnd = l.indexOf('&', iStart);

        if (iEnd == -1) iEnd = l.length;

        args += '&s=' + l.substring(iStart, iEnd);

        }

        }

        if (k.length) args += '&k=' + k;

        if (args.length) document.getElementById('jobviteframe').src += args;

        function resizeFrame(height, scrollToTop) {

        if (scrollToTop) window.scrollTo(0, 0);

        var oFrame = document.getElementById('jobviteframe');

        if (oFrame) oFrame.height = height;

        }

    </script>
</div>
<section class="careers_perks container content-text">
    <h2 class="mlL pmL careers_header mlT mlB">Why HackerRank?</h2>
    <div class="block-center">
        <div class="span5 msL msR careers-perk">
            <h4 class="careers_perks-title">All the Right Tools</h4>
            <p>We know that everyone's perfect workspace is unique to them. We will get you set up with whatever equipment you need to do your best work - a new Macbook, or a computer of your choice plus a display if you need it. Additionally, if you require any software or other tools, we've got it covered.</p>
        </div>
        <div class="span5 msL msR careers-perk">
            <h4 class="careers_perks-title">Flexible Hours</h4>
            <p>Because we work so hard, we encourage our employees to keep flexible hours and don't require them to track their time. A morning scrum and open communication ensures that the job gets done on time, and we rely on the honor system so that you can work on your own pace.</p>
        </div>
        <div class="span5 msL msR careers-perk">
            <h4 class="careers_perks-title">Location, Location, Location</h4>
            <p>We are the first Indian company to be backed by Y-Combinator, and as a result we have a thriving office in Bangalore and a growing office in Palo Alto, CA. Depending on your residency or visa status, we will get you situated in one of our two offices, both of which are located in the heart of their country's tech industry.</p>
        </div>
    </div>
    <div class="block-center">
        <div class="span5 msL msR careers-perk">
            <h4 class="careers_perks-title">Wellness Support</h4>
            <p>To work hard, you have to be healthy. We will cover your health, dental, and visual insurance with no wait period. That means instant benefits from the day you're hired.</p>
        </div>
        <div class="span5 msL msR careers-perk">
            <h4 class="careers_perks-title">Creative Support</h4>
            <p>If you have a cool side project that you want to launch, we will pay for EC2/heroku servers to get it off the ground. Side projects fuel creativity and learning, which are crucial to the HackerRank culture.</p>
        </div>
    </div>
</section>

<section class="container content-text careers_culture">
    <div class="padded">
        <h3 class="careers_header">Company Culture</h3>
        <p>The culture of a startup is reflective of the founders’ DNA. Larry Page & Sergey Brin were PhD’s from Stanford and that’s why Google is filled with high scoring graders from top schools and is very hard to get in if you’re not a CS major. Similarly, the hacker culture at Facebook is inspired by Zuckerberg, a hacker, the design culture by Steve Jobs and so on.</p>
        <p>The adjective to describe the environment/founders here is relentless hardworkers. It might be a general trait of a startup but I’m pretty sure it’s a notch higher here and defines the culture. This is what has taken us this far. It’s not working in weekends or allnighters that count, but the effort that goes into building something intellectually engaging for hackers and making it fun is high.</p>
        <p>You’ll have to embrace randomness and chaos. There’s some level of discipline (eg: daily scrums) but only so much. We push boundaries everyday, stretch our limits but no one complains because there’s a feeling of doing something great at the end of the day, every single day.</p>
    </div>
</section>
