<div class="challenge-options light-cap gradient-black clearfix">
    <div class="pull-left span3 clear-margin">
        <input class="pull-left clear-margin" type="text" id="language-select"  style="width:220px !important;"/>
    </div>
    <ul class="pull-right horizontal unstyled">
        <li><a href="" class="revert btn btn-black"><i class="icon-back-in-time"></i> Revert Code</a></li>
        <li><a class="fullscreen btn btn-black" style="cursor: pointer;" data-analytics="Switch to fullscreen">Switch to fullscreen</a></li>
        <li><a class="restorefullscreen btn btn-black hide" style="cursor: pointer;">Restore from fullscreen</a></li>
    </ul>
</div>
