<div class="clearfix grey-header cap plL plR psT psB">
    <div class="btn-group pull-left">
        <a class="cursor emacs btn btn-white editor-mode-button" data-editor="emacs">Emacs</a>
        <a class="cursor default btn btn-white editor-mode-button" data-editor="default">Normal</a>
        <a class="cursor vim btn btn-white editor-mode-button" data-editor="vim">Vim</a>
    </div>
    <div class="pull-right">
        <div class="inline large lines pull-right msT msL">
            <a class="cursor toggle-theme"><i class="icon-adjust icon--grey"></i></a>
            <% if (profile.get('id')) { %>
            <a class="cursor save-code"><i class="icon-floppy icon--grey"></i></a>
            <% } %>
            <a class="fullscreen active-link "
               data-analytics="Switch to fullscreen"><i class="icon-resize-full-alt icon--grey"></i></a>
            <a class="restorefullscreen force-hide active-link">
                <i class="icon-resize-small-alt icon--grey"></i></a>
        </div>
        <div class="clearfix pull-right">
            <span class="hr_tour-select-language"><input type="text" id="language-select"/></span>
        </div>
    </div>
</div>
