<div class="container">
    <header class="page-title container">
        <h1>Frequently Asked Questions</h1>
    </header>
    <div class="light-wrap faq clearfix">
        <div class="questions span5 pull-left">
            <ul class="unstyled general">
                <li class="title"><a class="backbone" href="/faq/faq-general-questions">Hackathon Questions</a></li>
                <li><a class="backbone" href="/faq/why-solve-challenges">What is the purpose of the Hackathon?</a></li>
                <li><a class="backbone" href="/faq/internet-use">Can we use the Internet for help during the Hackathon?</a></li>
                <li><a class="backbone" href="/faq/how-does-scoring-work">How does scoring work?</a></li>
                <li><a class="backbone" href="/faq/two-contests">What is the difference between CodeSprint4 and the Back-to-School Hackathon?</a></li>              
                <li><a class="backbone" href="/faq/prizes">What are the prizes for this event?</a></li>
                <li><a class="backbone" href="/faq/jobs">Can I contact companies for a job?</a></li>
                <li><a class="backbone" href="/faq/decide-winner">How are the winners decided?</a></li>
                <li><a class="backbone" href="/faq/contact-admin">How can I contact the mods if I have a query?</a></li>
                
            </ul>
            <ul class="unstyled challenges">
                <li class="title"><a class="backbone" href="/faq/faq-challenge-details">General Challenge FAQ</a></li>
                <li><a class="backbone" href="/faq/how-to-submit-code">How do I test out and submit my code?</a></li>
                <li><a class="backbone" href="/faq/how-to-debug-code">How do I debug my code?</a></li>
                <li><a class="backbone" href="/faq/time-to-run-code">How much time will my code have to run?</a></li>
                <li><a class="backbone" href="/faq/can-i-write-to-file">Can my code write to a file?</a></li>
                
                
            </ul>
        </div>
        <div class="content span10 pull-left">
            <h2 id="faq-general-questions">Hackathon Questions</h2>

            <section id="why-solve-challenges">
                <h3>What can I gain by participating in the Hackathon?</h3>
                <p>
                    A hackathon is generally meant for fun and to learn something new. Now added to that, the top winners will <a href = "https://www.hackerrank.com/backtoschool#prizes">receive huge prizes!</a> Everyone who gets on the leaderboard will also get a $100 AWS credit (courtesy Amazon Web services).
                </p>
            </section>

            <section id="internet-use">
                <h3>Can we use the Internet for help during the Hackathon?</h3>
                <p>You can search online for help about any topic, but you cannot receive help from another person. Any code you submit must be your own.
                </p>
            </section>

            <section id="how-does-scoring-work">
               <h3>How does the scoring work?</h3>
                <p>Each challenge will have its own scoring. Your total score will simply be the sum of all your scores. You can see more information on the <a href="https://www.hackerrank.com/backtoschool/scoring">scoring page</a>.
                </p>
            </section>

              <section id="two-contests">
                <h3>What is the difference between CodeSprint4 and the Back-to-School Hackathon? They seem to have similar templates and also run on the same time</h3>
                <p>
                    The Back-to-School Hackathon is only for University Students in the USA, while CodeSprint4 is open to everyone in the world. The challenges are the same, but the prizes are different. Every participant will be able to connect with tech companies after the contests are over.
                </p>
            </section>

            <section id="prizes">
                <h3>What are the prizes for this event?</h3>
                <p>
                    Cash prizes, trips to silicon valley, $100 AWS credit for every participant to get on the leaderboard, office hours with investors, etc. Checkout the detailed description <a href = "https://www.hackerrank.com/backtoschool#prizes">here</a>
                </p>                    
            </section>

            <section id="jobs">
                <h3>Can I contact companies for a job?</h3>
                <p>
                    Yes. After the contest, we'll send you a link where you can express your interest in getting connected to companies who're sponsoring the event. The companies include Facebook, Twitter, Dropbox, Pandora, Box, Quora and <a href = "hackerrank.com/backtoschool#sponsors">many more</a>. The companies will get back to you with a yes/no. Over 100+ people have got job offers. This process is purely opt-in. Only if you express interest, will we connect you with companies. Otherwise your data is safely stored in hackerrank servers (we hate spam too!)
                </p>                    
            </section>

            <section id="decide-winner">
                <h3>How are the winners decided?</h3>
                <p>
                    The top rankers in the leaderboard. Ties will be broken by the submission time. 
                </p>                    
            </section>            
            
            <section id="contact-admin">
                <h3>How can I contact the mods if I have a query?</h3>
                <p>
                    One of us will definitely be on IRC (#hackerrank on freenode). If you've a query about a challenge, you can use the discussion board for each challenge. You can e-mail us as well: hackers [at] hackerrank. I'm still contemplating if I should leave my mobile number here. Hmm. 
                </p>                    
            </section>
            
            
            <h2 id="faq-challenge-details">General Challenge FAQ</h2>
           
            <section id="how-to-submit-code">
                 <h3>How do I test out and submit my code?</h3>
                 <p>When your finish your first version of code, you can click “Compile & Test” to see it run on a test case. When you finish completely, you can click on “Submit” and it will run against all the test cases (or bots if it's a game), and you will get a score for that challenge. You can still make changes and submit it again to get a new score.</p>
            </section>
            <section id="how-to-debug-code">
                <h3>How do I debug my code?</h3>
                <p>You can print the output to STDERR and debug the code.</p>
            </section>
            <section id="time-to-run-code">
                <h3>How much time will my code have to run?</h3>
                <p><a href="https://www.hackerrank.com/environment" target="_blank">See environment for the programming languages</a></p>
            </section>
            <section id="can-i-write-to-file">
                <h3>Can my code write to a file?</h3>
                <p>Yes, it can create a file only in its current directory. Each submission is run in a sandboxed environment. So, the files you create with a submission will not be available for the next one. The file will be persistent in the filesystem till your submission is running. Once it is completed, it'll be deleted from the system. 
</p>
            </section>
        </div>
    </div>
</div>
