<div class="container">
    <header class="page-title container">
        <h1>Frequently Asked Questions</h1>
    </header>
    <div class="light-wrap faq clearfix content-text">
        <div class="questions span5 pull-left">
            <ul class="unstyled general">
                <li class="title"><a class="backbone" href="/faq/faq-general-questions">General Questions</a></li>
                <li><a class="backbone" href="/faq/what-is-hackerrank">What is HackerRank?</a></li>
                <li><a class="backbone" href="/faq/why-solve-challenges">What is the purpose of solving challenges?</a></li>
                <li><a class="backbone" href="/faq/can-i-get-a-job">That's nice, but can I get money or a job on HackerRank?</a></li>
            </ul>
            <ul class="unstyled challenges">
                <li class="title"><a class="backbone" href="/faq/faq-challenge-details">Challenge Details</a></li>
       <li><a class="backbone" href="/faq/how-challenges-organized">How are the challenges organized?</a></li>
                <li><a class="backbone" href="/faq/different-types-of-challenges">What are the different categories and challenge types?</a></li>
                <li><a class="backbone" href="/faq/how-does-scoring-work">How does scoring work for each type?</a></li>
                <li><a class="backbone" href="/faq/how-to-submit-code">How do I test out and submit my code?</a></li>
                <li><a class="backbone" href="/faq/how-to-debug-code">How do I debug my code?</a></li>
                <li><a class="backbone" href="/faq/time-to-run-code">How much time will my code have to run?</a></li>
                <li><a class="backbone" href="/faq/can-i-write-to-file">Can my code write to a file?</a></li>
            </ul>
        </div>
        <div class="content span10 pull-left">
            <h2 id="faq-general-questions">General</h2>
            <section id="what-is-hackerrank">
                <h3>What is HackerRank?<!--<span class="pull-right"><a href="http://www.hackerrank.com/faq#what-is-hackerrank"><i class="icon-link"></i></a></span>--></h3>
                <p>HackerRank is a site for hackers from all over to solve programming problems in many different domains, from algorithms to artificial intelligence.</p>
            </section>
            <section id="why-solve-challenges">
                <h3>What’s the purpose of solving challenges?<!--<span class="pull-right"><a href="http://www.hackerrank.com/faq#why-solve-challenges"><i class="icon-link"></i></a>--></h3>
                <p><strong>For Fun.</strong> What can be more exciting than solving challenging problems? We also add helpful features to make it more enjoyable, such as providing boilerplate code and displaying animations of your code running.</p>
                <p><strong>Glory.</strong> As you solve more challenges, you will earn points and move up in the Hacker Leaderboard. Many challenges will involve code-to-code competitions, so may the best hacker win!</p>
                <p><strong>Community.</strong> We are building a community of hackers who will be able to discuss problems, learn, compete and collaborate together.</p>
                <p><strong>Learn new Topics.</strong> You will be able to learn new programming topics and techniques by going through the challenges on HackerRank. We believe the way to learn something is by doing it.</p>
                <p><strong>And More.</strong> See next question</p>
            </section>
            <section id="can-i-get-a-job">
                <h3>That’s Nice. But can I get money or a job on HackerRank?</h3>
                <p>We run regular hackathons where there are cash prizes. Some of the contests are sponsored by companies. If you're interested to connect with the companies, we'll be happy to make an introduction. It's purely <b>opt-in.</b> The winners also receive big prizes! Check out our list of <a href="http://www.hackerrank.com/contests">upcoming hackathons</a>.</p>
            </section>
            <h2 id="faq-challenge-details">Challenge Details</h2>

 <section id="how-challenges-organized">
 <h3>How are the challenges organized?</h3>
                <p>Each challenge belongs to an overall Category and a specific sub-category, or Track. The challenges can be navigated through the bar on top of the site.</p>
</section>

<section id="different-types-of-challenges">
                <h3>What are the different categories and challenge types?</h3>
                <p>There are currently three categories, each with different kinds of challenges:</p>
<p>
<strong>Artificial Intelligence</strong>
<ul>
<li>Competitive Games - Write an AI bot to play against other AI bots.
<li>Single Player Games - Write an AI for a 1-player game.
</ul>
</p>

<strong>Algorithmic Challenges</strong>
<p>When you say “coding challenge” most people think of these. For each challenge, you will need to write code that will solve all the test cases (or as many as you can).
</p>
<strong>Code Golf</strong>
<p>Solve a problem with as few characters as possible.</p>
      </section>

            <section id="how-does-scoring-work">
                <h3>How does scoring work for each type?</h3>
                <p>See <a href="https://www.hackerrank.com/scoring">Scoring Documentation</a></p>
            </section>
            <section id="how-to-submit-code">
                 <h3>How do I test out and submit my code?</h3>
                 <p>When your finish your first version of code, you can click “Compile & Test” to see it run on a test case. When you finish completely, you can click on “Submit” and it will run against all the test cases (or bots), and you will get a score for that challenge. You can still make changes and submit it again to get a new score.</p>
            </section>
            <section id="how-to-debug-code">
                <h3>How do I debug my code?</h3>
                <p>You can print the output to STDERR and debug the code.</p>
            </section>
            <section id="time-to-run-code">
                <h3>How much time will my code have to run?</h3>
                <p><a href="https://www.hackerrank.com/environment">See Environment for the programming languages</a></p>
            </section>
            <section id="can-i-write-to-file">
                <h3>Can my code write to a file?</h3>
                <p><a href="https://www.hackerrank.com/environment">See Writing state information to a file</a></p>
            </section>
        </div>
    </div>
</div>
