<div class="game-container light-wrap wrap" style="margin: auto;">
    <div class="row" style="margin:0px;">
        <div style="text-align: right;"><a class="close-container btn btn-white"><i class="icon icon-remove"></i></a></div>
        <div style="margin:0px;">
            <ul class="nav nav-tabs unstyled">
                <li class="active"><a href="#game1" data-toggle="tab" data-player="1" class="playertab">Game 1</a></li>
                <li><a href="#game2" data-toggle="tab" data-player="2" class="playertab">Game 2</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="game1">
                    <div id="game-grid1" class="game-grid"></div>
                </div>
                <div class="tab-pane" id="game2">
                    <div id="game-grid2" class="game-grid"></div>
                </div>
            </div>

        </div>
    </div>
</div>
