<div class="table-primary" style="margin-bottom: 20px">
  <div class="clearfix light-wrap row-btn submissions_item">
    <div class="span4 submissions-title">
      <p style="text-align: left;">
        <a href="<%= ns %>challenges/<%= model.challenge.slug %>" class="backbone cursor"><%= model.challenge.name %></a>
        <% if (submissions.length > 0) { %>
            <a class="cursor submissions_table-expand expand">[+<%= (model.total-1) %> more]</a>
        <% } %>
      </p>
    </div>
    <div class="span2 submissions-language">
      <p><%= lang_display_mapping[firstSubmission.language] %></p>
    </div>
    <div class="span2 submissions-time">
      <p><%= firstSubmission.time_ago %></p>
    </div>
    <div class="span3">
      <p>
          <% if (firstSubmission.kind == 'game') { %>
              <% if (firstSubmission.status_code == 0) { %>
                  Queued
              <% } else if (firstSubmission.game_played == firstSubmission.game_total) { %>
                  Processed
              <% } else { %>
                  <%= firstSubmission.game_played %>/<%= firstSubmission.game_total %> games played
              <% } %>
          <% } else { %>
              <%= firstSubmission.status %>
          <% } %>
      </p>
    </div>
    <div class="span1">
      <p><%= firstSubmission.score %></p>
    </div>
    <div class="span3 pull-right">
      <a href="<%= ns %>submissions/<%= firstSubmission.kind %>/<%= firstSubmission.id %>" class="btn btn-line inverse backbone">View Results</a>
    </div>
  </div>
  <div class="submissions_table-sub table-sub hide">
    <% _.each(submissions, function(submission){ %>
    <div class="row row-sub">
      <div class="span2 submissions-language">
        <p><%= lang_display_mapping[submission.language] %></p>
      </div>
      <div class="span3 submissions-time">
        <p><%= submission.time_ago %></p>
      </div>
      <div class="span3">
          <p>
          <% if (submission.kind == 'game') { %>
              <% if (submission.status_code == 0) { %>
                  Queued
              <% } else if (submission.game_played == submission.game_total) { %>
                  Processed
              <% } else { %>
                  <%= submission.game_played %>/<%= submission.game_total %> games played
              <% } %>
          <% } else { %>
              <%= submission.status %>
          <% } %>
          </p>
      </div>
      <div class="span1">
        <p><%= submission.score %></p>
      </div>
      <div class="span3 pull-right">
        <a href="<%= ns %>submissions/<%= submission.kind %>/<%= submission.id %>" class="btn btn-small btn-inverse backbone">View Results</a>
      </div>
    </div>
    <% }) %>
    <% if (model.total > model.submissions.length) { %>
    <div class="row row-sub">
      <div class="span9"><p></p></div>
      <div class="span3">
        <a href="<%= ns %>challenges/<%= model.challenge.slug %>/submissions" class="btn btn-small btn-inverse backbone">All Submissions</a>
      </div>
    </div>
    <% } %>
  </div>
</div>
