<section class="submissions container--inner">
    <div class="container">
        <header>
            <div class="page_heading">
                <div class="breadcrumbs">
                </div>
            </div>

            <!-- ##Breadcrumbs should only show on challenge-specific submission lists-->
            <!-- sort mode toggle -->
            <div class="page_title">
                <div class="row">
                    <h1 class="span6">Submissions</h1>
                </div>
                <h5 class="alpha page_title-subtitle">
                    <% if (collection.challenge && collection.challenge.get('name')) { %>for <%= collection.challenge.get('name') %><% } %>
                </h5>
            </div>
        </header>

        <% if (team_slug) { %>
            <div class="padding-large bottom">
                <p>Showing all submissions for team <strong><%= team_slug %></strong></p>
                <a class="backbone" href="<%= HR.appController.get_current_contest_namespace() %>/judge/submissions">&lt; Back to all submissions</a>
            </div>
        <% } %>
        <% if (challenge_slug) { %>
            <div class="padding-large bottom">
                <p>Showing all submissions for challenge <strong><%= challenge_slug %></strong></p>
                <a class="backbone" href="<%= HR.appController.get_current_contest_namespace() %>/judge/submissions">&lt; Back to all submissions</a>
            </div>
        <% } %>

        <div class="submissions_list text-center">
            <div class="table-wrap">
                <header class="submissions_list-header">
                    <div class="span2">
                      <p>Problem</p>
                    </div>
                    <div class="span2 submissions-title">
                      <p>Team</p>
                    </div>
                    <div class="span1 submissions-title">
                      <p>ID</p>
                    </div>
                    <div class="span2 submissions-title">
                      <p>Language</p>
                    </div>
                    <div class="span2 submissions-title">
                      <p>Time</p>
                    </div>
                    <div class="span3 submissions-title">
                      <p>Result</p>
                    </div>
                    <div class="span1 submissions-title">
                      <p>Score</p>
                    </div>
                    <div class="span2 submissions-title">
                      <p>Status</p>
                    </div>
                    <div class="span2 submissions-title">
                      <p></p>
                    </div>
                </header>

                <div class="table-body submissions-list-wrapper table--striped">
                </div>

                <div class="pagination-wrap clearfix pagination-wrapper">
                </div>
            </div>
        </div>
        <% if (collection.length == 0) { %>
            <div class="padding-large top">
                <p class="text-center" style="font-size: 24px">There are no submissions.</p>
            </div>
        <% } %>
    </div>
</section>
