<div class="container--inner">
    <p class="alert alert-info">
        The classic challenges leaderboard is <a href="/classic_leaderboard" target="_blank">here</a>. Read more about the <a href="/blog/introducing-rating-system" target="_blank">change</a>
    </p>
    <header class="page-title">
        <h1 class="">Leaderboards</h1>
    </header>
    <section class="leaderboard pull-left" style="width: 55%" >
        <div class="pull-left">
            <p class="bold">Overall Leaderboard</p>
            <p class="bold">&nbsp;</p>
        </div>
        <div class="pull-right">
            <% if (current_hacker && current_hacker.rank) { %>
                <p class="bold green">Your Rank: <%= current_hacker.rank %></p>
                <p class="bold green">Your Score: <%= current_hacker.rating.toFixed(2) %></p>
            <% } %>
        </div>
        <div class="clearfix table-wrap">
            <ul class="nav-tabs nav ungroup" style="margin-bottom: 1px">
                <li class="<% if (level == 1) { %>active<% } %> text-center" style="width: 20%"><a href="/leaderboard/level/1" data-toggle="tab" data-level="1" class="rg_1 js-leaderboard-tab">O(1)</a></li>
                <li class="<% if (level == 2) { %>active<% } %> text-center" style="width: 20%"><a href="/leaderboard/level/2" data-toggle="tab" data-level="2" class="rg_2 js-leaderboard-tab">O(logN)</a></li>
                <li class="<% if (level == 3) { %>active<% } %> text-center" style="width: 20%"><a href="/leaderboard/level/3" data-toggle="tab" data-level="3" class="rg_3 js-leaderboard-tab">O(N)</a></li>
                <li class="<% if (level == 4) { %>active<% } %> text-center" style="width: 20%"><a href="/leaderboard/level/4" data-toggle="tab" data-level="4" class="rg_4 js-leaderboard-tab">O(N<sup>2</sup>)</a></li>
                <li class="<% if (level == 5) { %>active<% } %> text-center" style="width: 20%"><a href="/leaderboard/level/5" data-toggle="tab" data-level="5" class="rg_5 js-leaderboard-tab">O(2<sup>N</sup>)</a></li>
            </ul>
            <header style="background: white">
                <div class="span1">
                    <p>&nbsp;</p> <!-- i am sorry :P -->
                </div>
                <div class="span5">
                    <p>Hacker</p>
                </div>
                <div class="span2">
                    <p>Score</p>
                </div>
                <div class="span2">
                    <p>Country</p>
                </div>
            </header>

            <div id="blank-reason-container" class="table-body text-center">
                <div class="row blank-reason">
                    <div class="span16">
                        <p style="padding:20px">
                        </p>
                    </div>
                </div>
            </div>

            <div class='tab-content'>
                <div class='tab-pane plA no-padding active'>
                    <div id="leaders" class="table-body">
                    </div>
                </div>
            </div>
        </div>

        <div>
            <span>
                <a href="/scoring/ratings" target="_blank">How is this calculated?</a>
            </span>
        </div>

        <div class="pagination-wrap clearfix pagination-wrapper">
        </div>
    </section>

    <section class="js-weekly-leaderboard leaderboard pull-right" style="width: 40%">
        <div class="pull-left">
            <p class="bold">This week's leaderboard</p>
            <p class="bold">&nbsp;</p>
        </div>
        <% if (weekly_contest && weekly_contest.started) { %>
            <div class="pull-right">
                <a href="/<%= weekly_contest.slug %>/challenges" class="backbone bold">View the challenges &gt;</a>
            </div>
        <% } %>
        <div class="clearfix table-wrap">
            <ul class="nav-tabs nav ungroup" style="margin-bottom: 1px">
                <li class="<% if (weekly_type == 'today') { %>active<% } %> text-center" style="width: 33.3%"><a class="js-weekly" href="" data-toggle="tab" data-type="today">Today</a></li>
                <li class="<% if (weekly_type == 'yesterday') { %>active<% } %> text-center" style="width: 33.3%"><a class="js-weekly" href="" data-toggle="tab" data-type="yesterday">Yesterday</a></li>
                <li class="<% if (weekly_type == 'week') { %>active<% } %> text-center" style="width: 33.3%"><a class="js-weekly" href="" data-toggle="tab" data-type="week">Weekly</a></li>
            </ul>
            <header style="background: white">
                <div class="span1">
                    <p>&nbsp;</p> <!-- i am sorry :P -->
                </div>
                <div class="span5">
                    <p>Hacker</p>
                </div>
                <div class="span2">
                    <p>Score</p>
                </div>
            </header>

            <div class='tab-content'>
                <div class='tab-pane plA no-padding active'>
                    <div id="blank-reason-container2" class="table-body text-center">
                        <div class="row blank-reason">
                            <div class="span16">
                                <p style="padding:20px">
                                </p>
                            </div>
                        </div>
                    </div>

                    <div id="leaders2" class="table-body">
                        <!--
                            <div class="leaderboard-overall-list-view">
                                <div class="row padding-small top bottom" style="height: 38px">
                                    <div class="span1 text-center">
                                        <p>1</p>
                                    </div>
                                    <div class="span5">
                                        <p>
                                            <a class="backbone cursor leaderboard-hackername rg_1" data-action="hacker-modal" rel="tooltip" data-value="uwi" href="/uwi" target="_blank">
                                                <img class="avatar" width="30" height="30" src="https://secure.gravatar.com/avatar/7d6dead1cb43b9c0f4cf68f6db08a35d?d=https://d3rpyts3de3lx8.cloudfront.net/hackerrank/assets/gravatar.jpg&amp;s=75">
                                                uwi
                                            </a>
                                        </p>
                                    </div>
                                    <div class="span2">
                                        <p>4851.70</p>
                                    </div>
                                </div>
                            </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
