<%
function show_hacker(leader) {
    if (leader && leader.hacker) {
        return _.escape(leader.hacker).slice(0, 16) + (function(l) { return ((l.length>16) ? "..." : "");})(leader.hacker);
    } else {
        return 'N/A';
    }
};
%>
<% if (contest.leaderboard_format == 'acm') { %>
    <div class="row <% if (is_current_hacker) { %>active-user<% } %>" style="padding: 0px">
<% } else { %>
    <div class="row padding-small top bottom<% if (index%2 == 0) { %> row-alt<% } %> <% if (is_current_hacker) { %>active-user<% } %>"style="<% if (leader.is_practice) { %>background-color: #F0F8FF<% } %>">
<% } %>
    <% if (contest.leaderboard_format == 'acm') { %>
        <div class="span-flex-1 acm-leaderboard-cell text-center">
            <p><%= leader.rank %></p>
        </div>
        <div class="span-flex-2 acm-leaderboard-cell">
            <p style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"><%= show_hacker(leader) %></p>
        </div>
        <div class="span-flex-1 acm-leaderboard-cell" rel="tooltip" <% if (score_detail) { %> title="<%= score_detail %>" <% } %> >
            <p><%= leader.solved_challenges || "-" %></p>
        </div>
        <div class="span-flex-1 acm-leaderboard-cell" rel="tooltip" <% if (score_detail) { %> title="<%= score_detail %>" <% } %> >
            <p><%= Math.ceil(leader.time_taken / 60) || "-" %></p>
        </div>
        <div class="span-flex-11 text-center" style="height: 80px">
        <% if (leader.challenges) { %>
        <% var challenges_count = leader.challenges.length; %>
        <% var width = 100/(challenges_count * 1.0); %>
        <% } %>
        <% _.each(leader.challenges, function (challenge) { %>
            <div class="acm-leaderboard-cell <%= challenge.time_taken > 0 ? 'correct' : '' %> <%= challenge.time_taken == 0 && challenge.submissions > 0 ? 'incorrect' : '' %>" style="width: <%= width %>%; float: left; box-sizing: border-box; margin-left: 0;">
              <div class="inner-cell">
                <% if (challenge.submissions > 0) { %>
                    <p rel="tooltip" title="<%= challenge.tooltip %>" style="font-size: 12px;">
                        <%= challenge.submissions %> (<%= challenge.time_taken_formatted %> + <%= Math.ceil(challenge.penalty/60) %>)
                    </p>
                <% } %>
                <% if (challenge.public_solutions) { %>
                    <a target="_blank" data-analytics="Download Solution" href="/rest/contests/<%= contest.slug %>/challenges/<%= challenge.slug %>/hackers/<%= leader.hacker %>/download_solution">
                        <i class="icon-download"></i>
                    </a>
                <% } %>
              </div>
            </div>
        <% }); %>
        </div>
    <% } else { %>
        <% if (show_code) { %>
            <% widths = [2, 6, 3, 2, 3]; index = 0; %>
        <% } else { %>
            <% widths = [2, 8, 3, 3]; index = 0; %>
        <% } %>
        <div class="span-flex-<%= widths[index] %><% index += 1; %> text-center">
            <p><%= leader.rank %></p>
        </div>
        <div class="span-flex-<%= widths[index] %><% index += 1; %>">
            <p>
                <a class="cursor leaderboard-hackername rg_<%= leader.level %>" data-action="hacker-modal" <% if (timeTooltip) { %>rel="tooltip" title="<%= timeTooltip %>"<% } %>data-value="<%= _.escape(leader.hacker) %>" href="/<%= _.escape(leader.hacker)%>" target="_blank">
                    <%= show_hacker(leader) %>
                </a>
                <% if (show_code) { %>
                    <a target="_blank" data-analytics="Download Solution" href="<%= leader.download_link %>">
                        <i class="icon-download"></i>
                    </a>
                <% } %>
            </p>
        </div>
        <div class="span-flex-<%= widths[index] %><% index += 1; %>">
            <p>
                <%= parseFloat(leader.score).toFixed(2) %>
            </p>
        </div>
        <div class="span-flex-<%= widths[index] %><% index += 1; %> text-center">
            <img class="flag" rel="tooltip" src="/assets/flags/<%= window.countries_mapping[leader['country']] %>.png"
            title="<%= leader['country'] %>"
            alt="<%= leader['country'] %>"
            onerror="this.onerror=null; this.src='/assets/flags/_unknown.png';">
        </div>
        <% if (show_code) { %>
            <div class="span-flex-<%= widths[index] %><% index += 1; %>">
                <p>
                    <% if (leader.language) { %>
                        <%= lang_display_mapping[leader.language] || leader.language %>
                    <% } else { %>N/A<% } %>
                </p>
            </div>
        <% } %>
    <% } %>
</div>
