<% if (!challenge) { %>
<div class="container--inner">
<% } %>
    <% if(challenge) { %>
        <% if (contest.slug == "master" && challenge.primary_contest) { %>
            <div class="pull-right">
                <span>Show practice</span>
                <input id="showPractice" type="checkbox" <% if (showPractice) { %> checked="checked" <% } %> >
            </div>
            <div class="clearfix"></div>
        <% } %>
    <% } else { %>
        <% if (contest.slug == "master") { %>
            <p class="alert alert-info">
                The classic challenges leaderboard is <a href="/classic_leaderboard" target="_blank">here</a>. Read more about the <a href="/blog/introducing-rating-system" target="_blank">change</a>
            </p>
        <% } %>
        <header class="page-title">
            <div class="">
                <h1 class="span6">Leaderboard</h1>
            </div>
        </header>
    <% } %>

    <section class="leaderboard">
        <% if (freeze_time_minutes > 0) { %>
            <div class="row">
                <p class="alert alert-info">
                    The leaderboard will not update in last <%= parseInt(freeze_time_minutes) %> minutes.
                </p>
            </div>
        <% } %>
        <div class="row">
            <div class="span10 pull-right">
                <% if (!((contest.slug == "master" && !challenge && !archived))) { %>
                    <div class="leaderboard_filters group-filters pull-right margin-small top">
                        <% _.each(filterButtons, function(data, key) { %>
                        <a data-filter="<%= key %>" class="cursor <%= data['class'] || key %> leaderboard-sort backbone <%= filters[key] ? 'active' : '' %> filter-checkbox"><i class="status-indicator"></i>&ensp;<%= key %></a>
                        <% }) %>
                    </div>
                <% } %>
            </div>
          </div>
            <div class="row">
                <div class="span16 filter-tags">
                    <!-- General Filters -->
                    <% _.each(filterKinds, function(filter) { %>
                    <div class="tag-group row <% if(!filters[filter]) { %>hide<% } %>" id="<%= filter %>-filter">
                        <div class="span14">
                            <label class="pull-left" ><strong><%= filter.toTitleCase() %>:&emsp;</strong></label>
                            <div class="tag-list">
                                <% if (_.isArray(filters[filter])) { %>
                                <% _.each(filters[filter], function(val) { %>
                                <%= getTagElement(filter, val) %>
                                <% })} %>
                            </div>
                            <div class="pull-left select-wrap large">
                                <input class="<%= _.isEmpty(filters[filter]) ? '':'force-hide' %> filter-input" type="text" value="" data-filter='<%= filter %>' id="filter-input-<%= filter %>" placeholder="Add <%= filter %>" autocomplete="off"/>
                            </div>
                            <!-- <a class="btn btn-sub pull-left add-tag  <%= _.isEmpty(filters[filter]) ?'force-hide':'' %>" id="filter-show-input-<%= filter %>" data-filter='<%= filter %>'>+</a> -->
                        </div>
                    </div>
                    <% }) %>
                </div><!--filter-tags-->
            </div><!--row-->
        <div class="table-wrap">
            <header class="text-center">
            <% if (contest.leaderboard_format == 'acm' && collection.contest_challenges !== undefined) { %>
                <div class="span1">
                    <p>Rank</p>
                </div>
                <div class="span2">
                    <p>Team</p>
                </div>
                <div class="span1">
                    <p>Solved
                        <span class="help-prompt"><i class="icon-help-circled icon-single"></i><span class="help-text">Total Challenges Solved.</span>
                    </p>
                </div>
                <div class="span1">
                    <p>Time
                        <span class="help-prompt"><i class="icon-help-circled icon-single"></i><span class="help-text">Total time (in minutes) taken to solve the challenges including penalty.</span>
                    </p>
                </div>
                <div class="span11">
                <% if (collection.contest_challenges.length > 0) { %>
                    <% var challenges_count = collection.contest_challenges.length; %>
                    <% var width = 100/(challenges_count * 1.0); %>
                    <% _.each(collection.contest_challenges, function (val, idx) { %>
                        <div style="width: <%= width %>%; float: left; box-sizing: border-box; margin-left: 0;">
                            <p><%= val.letter %></p>
                            <span class="acm-challenge-balloon" style="background-color: <%= val.color %>; margin-left: 0px"></span>
                        </div>
                    <% }); %>
                <% } %>
                </div>
            <% } else if (contest.slug == "master" && !challenge && !archived) { %>
                <div class="span2">
                    <p>Rank <span class="board-filter hide"><a href="" class="top caret-up caret"></a><a href="" class="bottom caret"></a></span> </p>
                </div>
                <div class="span4">
                    <p>User <span class="board-filter hide"><a href="" class="top caret-up caret"></a><a href="" class="bottom caret"></a></span> </p>
                </div>
                <div class="span3">
                    <p>
                        Score
                        <span class="help-prompt">
                            <i class="icon-help-circled icon--single"></i>
                            <span class="help-text">Overall rating of the hacker. You can read more about it <a style="color: #0076b9" href='/scoring/ratings' target="blank_">here</a>.</span>
                        </span>
                        <span class="board-filter hide"><a href="" class="top caret-up caret"></a><a href="" class="bottom caret"></a></span>
                    </p>
                </div>
                <div class="span2">
                    <p>Title <span class="board-filter hide"><a href="" class="top caret-up caret"></a><a href="" class="bottom caret"></a></span></p>
                </div>
                <div class="span3">
                    <p>Country <span class="board-filter hide"><a href="" class="top caret-up caret"></a><a href="" class="bottom caret"></a></span></p>
                </div>
            <% } else { %>
                <% if (show_code) { %>
                    <% widths = [2, 4, 3, 3, 2]; index = 0; %>
                <% } else { %>
                    <% widths = [2, 5, 3, 4]; index = 0; %>
                <% } %>
                <div class="span<%= widths[index] %><% index += 1; %>">
                    <p>Rank <span class="board-filter hide"><a href="" class="top caret-up caret"></a><a href="" class="bottom caret"></a></span> </p>
                </div>
                <div class="span<%= widths[index] %><% index += 1; %>">
                    <p>User <span class="board-filter hide"><a href="" class="top caret-up caret"></a><a href="" class="bottom caret"></a></span> </p>
                </div>
                <div class="span<%= widths[index] %><% index += 1; %>">
                    <p>Score <span class="board-filter hide"><a href="" class="top caret-up caret"></a><a href="" class="bottom caret"></a></span> </p>
                </div>
                <div class="span<%= widths[index] %><% index += 1; %>">
                    <p>Country <span class="board-filter hide"><a href="" class="top caret-up caret"></a><a href="" class="bottom caret"></a></span></p>
                </div>
                <% if (show_code) { %>
                    <div class="span<%= widths[index] %><% index += 1; %>">
                        <p>Solution</p>
                    </div>
                <% } %>
            <% } %>
            </header>

            <div id="blank-reason-container" class="table-body text-center">
                <div class="row">
                    <div class="span16">
                        <p style="padding:20px" class="blank-reason">
                        </p>
                    </div>
                </div>
            </div>

            <div id="leaders" class="table-body text-center">
            </div>
        </div>

        <div class="light-wrap clearfix table-wrap text-center self-rank hide" id="leader-self">
        </div>
        <div class="pagination-wrap clearfix pagination-wrapper">
        </div><!--pagination-wrap-->
    </section><!--.leaderboard-->
<% if (!challenge) { %>
</div>
<% } %>
