<div class="row">
  <div class="pull-left">
    <div class="span2">
      <strong>Rank</strong>
    </div>
    <div class="span2">
      <%= leader.rank %>
    </div>
  </div>
  <div class="pull-right">
    <div class="span1">
      <strong>Score</strong>
    </div>
    <div class="span2">
      <%= parseFloat(leader.score).toFixed(2) %>
    </div>
  </div>
</div>
<div class="row">
  <div class="pull-left">
    <div class="span2">
      <strong>Languages</strong>
    </div>
    <div class="span4">
      <%= languages %>
    </div>
  </div>
</div>
<% if (leader.challenges) { %>
<hr/>
<div class="row">
  <div class="span3">
    <h5>Challenges</h5>
  </div>
</div>
<hr/>
<% _.each(leader.challenges, function(data, key) { %>
<div class="row">
  <div class="span3">
    <strong><%= data.name %></strong>
  </div>
  <div class="span2">
    <%= data.score %>
  </div>
  <div class="span2">
    <%= moment(data.timestamp * 1000).fromNow() %>
  </div>
</div>
<% }) %>
<% } %>
