<div class="row padding-small top bottom<% if (index%2 == 0) { %> row-alt<% } %> <% if (is_current_hacker) { %>active-user<% } %>">
    <% if (contest.leaderboard_format == 'acm') { %>
      <div class="span2">
          <p><!-- <span class="rank <% if (leader.up) { %>up<% } else if (leader.down) { %>down<% } else { %><% } %>"></span> --><%= leader.rank %></p>
      </div>
      <div class="span3">
          <p><%= _.escape(leader.hacker).slice(0, 16) + (function(l) { return ((l.length>16) ? "..." : "");})(leader.hacker) || 'N/A' %></p>
      </div>
      <div class="span2">
        <p><%= leader.solved_challenges || "-" %></p>
      </div>
      <div class="span2">
        <p><%= Math.ceil(leader.time_taken) || "-" %></p>
      </div>
      <% _.each(leader.challenges, function (challenge) { %>
      <div class="span2">
        <p>
        <%= challenge.submissions %> (<%= Math.floor(challenge.time_taken/60) %>:<%if(challenge.time_taken%60 < 10) {%>0<%}%><%= (challenge.time_taken % 60) %> + <%= Math.ceil(challenge.penalty/60) %>)
        </p>
      </div>
      <% }); %>
    <% } else { %>
      <div class="span2">
          <p><!-- <span class="rank <% if (leader.up) { %>up<% } else if (leader.down) { %>down<% } else { %><% } %>"></span> --><%= leader.rank %></p>
      </div>
      <% if (show_code) { %>
      <div class="span5">
          <p>
              <a class="cursor leaderboard-hackername" data-action="hacker-modal" rel="tooltip" title="<%= timeTooltip %>" data-value="<%= _.escape(leader.hacker) %>" href="/<%= _.escape(leader.hacker)%>" target="_blank">
                  <%= _.escape(leader.hacker).slice(0, 16) + (function(l) { return ((l.length>16) ? "..." : "");})(leader.hacker) || 'N/A' %>
              </a><a target="_blank" data-analytics="Download Solution" href="/rest/contests/<%= contest.slug %>/challenges/<%= challenge %>/hackers/<%= leader.hacker %>/download_solution"><i class="icon-download"></i></a>
          </p>
      </div>
      <div class="span3">
          <p>
              <%= parseFloat(leader.score).toFixed(2) %>
              <!-- <small> -->
              <!--   <i data-toggle="popover" data-content="<%= scoreTooltip %>" class="icon-help-circled pull-right"></i> -->
              <!-- </small> -->
          </p>
      </div>
      <div class="span5">
          <% if (contest.leaderboard_type == 'country') { %>
              <img class="flag" rel="tooltip" src="/assets/flags/<%= window.countries_mapping[leader['country']] %>.png"
              title="<%= leader['country'] %>"
              alt="<%= leader['country'] %>"
              onerror="this.onerror=null; this.src='/assets/flags/_unknown.png';">
          <% } else { %>
              <p><%= leader[contest.leaderboard_type] || 'N/A' %></p>
          <% } %>
      </div>
      <div class="span3">
          <p>
              <% if (leader.language) { %>
              <a <% if (codeGolfBoard) { %>href="<%= that.languageLink(leader.language) %>" <% } %> class="backbone" title="<%= that.languageTooltip(leader) %>" rel="tooltip">
                  <%= lang_display_mapping[leader.language] || leader.language %>
              </a>
              <% } else { %>N/A<% } %>
          </p>
      </div>
      <% } else { %>
      <div class="span5">
          <p>
              <a class="cursor leaderboard-hackername" data-action="hacker-modal" rel="tooltip" title="<%= timeTooltip %>" data-value="<%= _.escape(leader.hacker) %>" href="/<%= _.escape(leader.hacker)%>" target="_blank">
                  <%= _.escape(leader.hacker).slice(0, 16) + (function(l) { return ((l.length>16) ? "..." : "");})(leader.hacker) || 'N/A' %>
              </a>
          </p>
      </div>
      <div class="span3">
          <p>
              <%= parseFloat(leader.score).toFixed(2) %>
              <!-- <small> -->
              <!--   <i data-toggle="popover" data-content="<%= scoreTooltip %>" class="icon-help-circled pull-right"></i> -->
              <!-- </small> -->
          </p>
      </div>
      <div class="span5">
          <% if (contest.leaderboard_type == 'country') { %>
              <img class="flag" rel="tooltip" src="/assets/flags/<%= window.countries_mapping[leader['country']] %>.png"
              title="<%= leader['country'] %>"
              alt="<%= leader['country'] %>"
              onerror="this.onerror=null; this.src='/assets/flags/_unknown.png';">
          <% } else { %>
              <p><%= leader[contest.leaderboard_type] || 'N/A' %></p>
          <% } %>
      </div>
      <!--<div class="span3">
          <p>
              <% if (codeGolfBoard) { %>
              <a href="<%= that.languageLink(leader.language) %>" class="backbone" rel="tooltip">
                  <%= lang_display_mapping[leader.language] || leader.language %>
              </a>
              <% } else { %>
              <%= lang_display_mapping[leader.language] || leader.language %>
              <% } %>
              <!-- <small> - >
              <!--   <i data-toggle="popover" data-content="<%= that.languageTooltip(leader) %>" class="icon-help-circled pull-right"></i> -->
              <!-- </small> - >
          </p>
          </div>-->
      <% } %>
    <% } %>
</div>
