<% if (!challenge) { %>
<div class="container--inner">
<% } %>
    <% if(challenge) { %>
    <% } else { %>
        <header class="page-title">
            <div class="">
                <h1 class="span6">Leaderboard</h1>
                <div class="span10 pull-right">
                  <% if (!(contest.kind !== undefined && contest.kind !== null && contest.kind == "acm")) { %>
                  <div class="leaderboard_filters group-filters pull-right margin-small top">
                    <% _.each(filterButtons, function(data, key) { %>
                    <a data-filter="<%= key %>" class="cursor <%= data['class'] || key %> leaderboard-sort backbone <%= filters[key] ? 'active' : '' %> filter-checkbox"><i class="status-indicator"></i>&ensp;<%= key %></a>
                    <% }) %>
                  </div>
                  <% } %>
                </div>
            </div>
        </header>
    <% } %>

    <section class="leaderboard">
        <div class="row">
            <div class="span16 filter-tags">
                <!-- General Filters -->
                <% _.each(filterKinds, function(filter) { %>
                <div class="tag-group row <% if(!filters[filter]) { %>hide<% } %>" id="<%= filter %>-filter">
                    <div class="span14">
                        <label class="pull-left" ><strong><%= filter.toTitleCase() %>:&emsp;</strong></label>
                        <div class="tag-list">
                            <% if (_.isArray(filters[filter])) { %>
                            <% _.each(filters[filter], function(val) { %>
                            <%= getTagElement(filter, val) %>
                            <% })} %>
                        </div>
                        <div class="pull-left select-wrap large">
                            <input class="<%= _.isEmpty(filters[filter]) ? '':'force-hide' %> filter-input" type="text" value="" data-filter='<%= filter %>' id="filter-input-<%= filter %>" placeholder="Add <%= filter %>" autocomplete="off"/>
                        </div>
                        <a class="btn btn-sub pull-left add-tag  <%= _.isEmpty(filters[filter]) ? 'force-hide':'' %>" id="filter-show-input-<%= filter %>" data-filter='<%= filter %>'>+</a>
                    </div>
                </div>
                <% }) %>
            </div><!--filter-tags-->
        </div><!--row-->
        <div class="table-wrap" <% if (contest.leaderboard_format == "acm") { %> style="width:1100px" <% } %>>
            <header class="text-center">
            <% if (contest.leaderboard_format == 'acm' && collection.models[0] !== undefined && collection.models[0].get('challenges') !== undefined) { %>
                <div class="span1">
                    <p>Rank</p>
                </div>
                <div class="span2">
                    <p>Team</p>
                </div>
                <div class="span1">
                    <p>Challenges solved</p>
                </div>
                <div class="span1">
                    <p>Total time</p>
                </div>
              <% if (collection.models.length > 0) { %>
                <% _.times(collection.models[0].get('challenges').length, function (idx) { %>
                <div class="span2">
                  <p><%= String.fromCharCode(65 + idx) %></p>
                </div>
                <% }); %>
              <% } %>
            <% } else { %>
                <% if (contest.leaderboard_type != "country" && show_code) { %>
                    <% widths = [2, 3, 2, 2, 2, 3]; index = 0; %>
                <% } else if (contest.leaderboard_type != "country") { %>
                    <% widths = [2, 4, 3, 3, 3]; index = 0; %>
                <% } else if (show_code) { %>
                    <% widths = [2, 4, 3, 3, 3]; index = 0; %>
                <% } else { %>
                    <% widths = [2, 5, 3, 5]; index = 0; %>
                <% } %>
                <div class="span<%= widths[index] %><% index += 1; %>">
                    <p>Rank <span class="board-filter hide"><a href="" class="top caret-up caret"></a><a href="" class="bottom caret"></a></span> </p>
                </div>
                <div class="span<%= widths[index] %><% index += 1; %>">
                    <p>User <span class="board-filter hide"><a href="" class="top caret-up caret"></a><a href="" class="bottom caret"></a></span> </p>
                </div>
                <div class="span<%= widths[index] %><% index += 1; %>">
                    <p>Score <span class="board-filter hide"><a href="" class="top caret-up caret"></a><a href="" class="bottom caret"></a></span> </p>
                </div>
                <div class="span<%= widths[index] %><% index += 1; %>">
                    <p>Country <span class="board-filter hide"><a href="" class="top caret-up caret"></a><a href="" class="bottom caret"></a></span></p>
                </div>
                <% if (contest.leaderboard_type != "country") { %>
                    <div class="span<%= widths[index] %><% index += 1; %>">
                        <p><%= contest.leaderboard_type %> <span class="board-filter hide"><a href="" class="top caret-up caret"></a><a href="" class="bottom caret"></a></span></p>
                    </div>
                <% } %>
                <% if (show_code) { %>
                    <div class="span<%= widths[index] %><% index += 1; %>">
                        <p>Solution</p>
                    </div>
                <% } %>
            <% } %>
            </header>

            <div id="blank-reason-container" class="table-body text-center">
                <div class="row">
                    <div class="span16">
                        <p style="padding:20px" class="blank-reason">
                        </p>
                    </div>
                </div>
            </div>

            <div id="leaders" class="table-body text-center">
            </div>
        </div>

        <div class="light-wrap clearfix table-wrap text-center self-rank hide" id="leader-self">
        </div>
        <div class="pagination-wrap clearfix pagination-wrapper">
        </div><!--pagination-wrap-->
        <p class="gray">The leaderboard is updated every 5 minutes</p>
    </section><!--.leaderboard-->
<% if (!challenge) { %>
</div>
<% } %>
