<div class="message_group">
    <a class="backbone" href="/<%=model.sender.username%>"><img src="<%= model.sender._data.avatar_url %>" height="50" width="50" class="avatar" onerror="$('div[data-id=<%=model.id%>] img').attr('src','https://d3rpyts3de3lx8.cloudfront.net/hackerrank/assets/gravatar.jpg')"/></a>
    <div class="message_body">
        <p><%= model.message %></p>
    </div>
    <footer class="message_footer">
        <p><a href="/<%- model.sender.username %>" class="backbone"><%= model.sender.username %></a> &bull; <%= model.id ? "Sent " + $.timeago(new Date(model.created_at)) : 'Sending' %></p>
    </footer>
</div>
