<div class="modal fade in" id="networksModal">
  <div id="networksCarousel" class="carousel slide">
    <div class="modal-header text-center">
      <h1>Welcome, <%= networks.username %></h1>
      <!--
      -<a class="carousel-control left" href="#welcomeCarousel" data-slide="prev">&lsaquo;</a>
      -<a class="carousel-control right" href="#welcomeCarousel" data-slide="next">&rsaquo;</a>
      -->
    </div>
    <div class="modal-body">
      <div class="connect-social item active front">
        <div id="network-setup">
        </div>
      </div>
      <div class="item back">
        <div id="follow-suggestions">
        </div>
        <div class="formgroup horizontal clearfix">
        </div>
      </div>
    </div>
  </div>
</div>
