<h5 class="text-center">Adding networks lets you track your progress against your friends, coworkers, and peers.</h5>
<% if (!networks.fb_uid && !guest) { %>
<div class="clearfix">
  <div class="facebook wrap">
    <a href="/hackers/auth/facebook" class="connect"></a>
  </div>
</div>
<hr>
<% } %>
<form action="">
  <div class="formgroup horizontal clearfix">
    <label for="input_school" class="pull-left span2">School</label>
    <div class="block">
      <input id="input_school" rel="tooltip" data-original-title="Which school did/do you attend?" name="school" type="text" class="span6" value="<%= networks.school %>"/>
    </div>
  </div>
  <div class="formgroup horizontal clearfix">
    <label for="input_company" class="pull-left span2">Company</label>
    <div class="block">
      <input id="input_company" rel="tooltip" data-original-title="Which company do you work for?" name="company" type="text" class="span6" value="<%= networks.company %>"/>
    </div>
  </div>
  <div class="formgroup horizontal clearfix">
    <label for="input_country" class="pull-left span2">Country</label>
    <div class="block">
      <input id="input_country" rel="tooltip" data-original-title="What country do you live in?" name="country" type="text" class="span6" value="<%= networks.country %>"/>
    </div>
  </div>
  <div class="formgroup horizontal clearfix">
    <!--<button id="networks_show_slide" class = "btn" style="display:none">Perfect! See who's here?</button>-->
    <p id="network-update-error-msg"></p>
    <div class="block">
      <button id="networks_update" class = "btn btn-primary">Update</button>
    </div>
  </div>
</form>
