<div class="company-info-box scroll-box">
  <div class="company-info-head clearfix">
      <h4>Apply to <%= meta_model.name %></h4>
  </div>
  <div class="company-info-content-section clearfix">
    <p class="company-info-section-title">Positions</p>
    <table>
      <tr>
        <td>
          <input type="checkbox"/>
        </td>
        <td>
          <p>Software Development Engineer I</p>
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox"/>
        </td>
        <td>
          <p>Software Development & Testing Engineer II</p>
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox"/>
        </td>
        <td>
          <p>Database Administrator</p>
        </td>
      </tr>
    </table>
  </div>
  <div class="company-info-content-section clearfix">
    <p class="company-info-section-title">Offices</p>
    <table class="office-table">
      <tr>
        <td>
        </td>
        <td>
        </td>
        <td class="m">
          <small style="font-weight: bold; color: #aaa;">VISA Status</small>
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox"/>
        </td>
        <td class="location-label">
          <p>Bangalore, India</p>
        </td>
        <td>
          <select>
            <option>Not required</option>
            <option>Already have</option>
            <option>Don't have</option>
            <option>Don't know</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox"/>
        </td>
        <td class="location-label">
          <p>London, United Kingdom</p>
        </td>
        <td>
          <select>
            <option>Not required</option>
            <option>Already have</option>
            <option>Don't have</option>
            <option>Don't know</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox"/>
        </td>
        <td class="location-label">
          <p>New York, United States</p>
        </td>
        <td>
          <select>
            <option>Not required</option>
            <option>Already have</option>
            <option>Don't have</option>
            <option>Don't know</option>
          </select>
        </td>
      </tr>
    </table>
  </div>
  <div class="company-info-content-section clearfix">
    <p class="company-info-section-title">Role</p>
    <table>
      <tr>
        <td><input type="radio" name="role"/></td>
        <td class="role-label">
          <p>Fulltime</p>
        </td>
        <td><input type="radio" name="role"/></td>
        <td class="role-label">
          <p>Internship</p>
        </td>
      </tr>
    </table>
  </div>
</div>
