<div class="container">
    <header class="page-title container">
        <h1>Guidelines for Problem Setters</h1>
    </header>
    <div class="light-wrap faq clearfix">
        <div class="questions span5 pull-left">
            <ul class="unstyled general">
                <li class="title"><a class="backbone" href="/problemsetter/problemsetter-general-questions">General Questions</a></li>
                <li><a class="backbone" href="/problemsetter/can-i-create">Can
    I create challenges for HackerRank?</a></li>
                <li><a class="backbone" href="/problemsetter/kind-of-challenges">What kind of challenges are we looking for?</a></li>
            </ul>
            <ul class="unstyled challenges">
                <li class="title"><a class="backbone" href="/problemsetter/problemsetter-challenge-guidelines">Challenge Guidelines</a></li>
                <li><a class="backbone" href="/problemsetter/challenge-submissions">Challenge Submissions</a></li>
                <li><a class="backbone" href="/problemsetter/alternative-challenges">Alternative Challenges</a></li>
                <li><a class="backbone" href="/problemsetter/submission-dashboard">Submission Dashboard</a></li>
                <li><a class="backbone" href="/problemsetter/payment">Payment for creating challenges</a></li>
            </ul>
        </div>
        <div class="content span10 pull-left">
            <h2 id="problemsetter-general-questions">General Questions</h2>
            <section id="can-i-create">
                <h3>Can I create challenges for HackerRank?</h3>
                <p>
                  <span>Sure, we are open to contributions! Just</span>
                  <span>follow</span><span>&nbsp;these guidelines and then you can submit it
                    to us as at</span> <span class="c2"><a class="c4" href=
                                                           "mailto:hackers@hackerrank.com">hackers@hackerrank.com</a></span><span>. If
                    you would like to become a paid contributor, please email us at</span>
                  <span class="c2"><a class="c4" href=
                                      "mailto:hackers@hackerrank.com">hackers@hackerrank.com</a></span><span>&nbsp;to
                    apply.</span>
                </p>
            </section>
            <section id="kind-of-challenges">
                <h3>What kind of challenges are we looking for?</h3>
                <p>
                  All kinds! We are open to challenges in any domain that
                  involves programming. We obviously take computer science challenges in
                  topics like algorithms and artificial intelligence, but we are also
                  interested in other subjects that involve programming, like physics,
                  bioinformatics, and statistics.
                </p>
            </section>
            <h2 id="problemsetter-challenge-guidelines">Challenge Guidelines</h2>
            <section id="challenge-submissions">
              <h3>Challenge Submissions</h3>
              <p class="c1"><span>Standard challenges involve a series of test cases that
                  the user needs to pass. We do not need any code from you to</span>
                <span class="c6">run</span><span>&nbsp;such challenges. These are the
                  things we need:</span></p>

              <p class="c0"></p>

              <p><strong>Input and Output Files</strong></p>

              <p class="c1"><span>You will</span> <span>need to submit 5 -10 input and
                  output files in increasing difficulty. Each input file should increase in
                  size by a factor of 2 to 10 . The smaller input file should be solvable
                  with a naive solution, while the larger ones should require an optimal
                  solution. Your input files should also cover any edge cases of the
                  problem.</span></p>

              <p class="c0"></p>

              <p class="c1"><span>If a challenge does not require a special optimal
                  solution, you can submit fewer test cases. Just make sure to cover the edge
                  cases.</span></p>

              <p class="c0"></p>

              <p><strong>Solution Code</strong></p>

              <p class="c1"><span>You will also need to submit a solution to the code (in
                  any language) so we can test out the challenge. The solution should have
                  some comments to explain how it works. Also please send us a brief
                  explanation that explains your approach to solving the problem and why it
                  is</span> <span>correct</span><span>.</span></p>

              <p class="c0"></p>

              <p><strong>Input Generator</strong></p>

              <p class="c1"><span>Please also include the code you used to generate the
                  test cases. We usually require this in case there is some issue with the
                  test cases or to check what constraints were used.</span></p>

              <p class="c0"></p>

              <p><strong>Challenge Content</strong></p>

              <p class="c1"><span>See below.</span><span>&nbsp;</span></p>
            </section>
            <section id="alternative-challenges">
              <h3>Alternative Challenges</h3>
              <p class="c1"><span>We also have other types of challenges on
                  HackerRank:</span></p>

              <p class="c0"></p>

              <p class="c1"><span class="c5"><b>CodeGolf Challenges</b></span><span>&nbsp;-
                  These challenges are graded based on the length of the source code. They
                  can be created in the same way as standard</span>
                <span>challenges</span><span>, but they need to be marked as “code golf”.
                  Try to create challenges that would not be too difficult to solve with
                  regular code, but are open to clever tricks to shorten code
                  length.</span></p>

              <p class="c0"></p>

              <p class="c1"><span class="c5"><b>Approximate Challenges</b> -</span> <span>These
                  challenges do not have exact solutions and do not require output cases.
                  Instead, they require a code-checker to provide a score for each user. This
                  does not yet have an interface for uploading, so it will need to be emailed
                  to us.</span></p>

              <p class="c0"></p>

              <p class="c1"><span class="c5"><b>Games </b>-</span> We don't currently accept games from problem-setters but let us know if you're interested in creating them.</p>
            </section>
            <section id="submission-dashboard">
              <h3>Submission Dashboard</h3>
              <p class="c1"><span>We will provide a dashboard for problem-setters to
                  upload the challenge content and the input and output cases. Additional
                  information, such as the solution code, can be emailed to us.</span></p>

              <h3 class="c1"><a id="guidelines" name=
                                "guidelines"></a><span>Content Guidelines</span></h3>

              <p class="c1"><span>We created a</span> <span class="c2"><a class="c4"
                                                                          href="https://www.stypi.com/arikrak/hackerrank-texts/challengetemplates/standard%20challenge%20template.md">
                    template</a></span><span>&nbsp;to outline what you need to cover in a
                  standard challenge.</span> <span>The content should be in markdown and can
                  be written on our online interface.</span></p>

              <p class="c0"></p>

              <p class="c1"><span>You should aim for extreme clarity in your challenge
                  description, so users can understand the challenge quickly and start
                  solving it immediately. Often, diagrams get a point across faster than
                  paragraphs, so please include them when possible.</span></p>

              <p class="c0"></p>

              <p class="c1"><span>The main part of the challenge is the formal
                  description, but it should also have some kind of story introduction which
                  explains how such a challenge could come up. While these scenarios do not
                  need to be realistic, try to find something realistic if
                  possible.</span></p>
            </section>
            <section id="payment">
              <h3>Payment for creating challenges</h3>
              
              <p class="c1"><b>Easy Challenge</b><br> An easy challenge involves a straightforward concept to
                  solve a problem and can usually be solved quickly by an experienced user.
                  An example of this would be <a href = "https://www.hackerrank.com/challenges/2s-complement">2's complement</a>. We pay $50 for every challenge of this type.</p>

                
              <p class="c1"> <b>Medium challenge</b> <br> A medium challenge requires analysis to figure out the
                  correct solution, but an experienced user will not have trouble solving it.
                  An example of this would be <a class="c4" href="https://www.hackerrank.com/challenges/zombie-march">Zombie
                    March.</a> We pay $100 for every challenge of this
                  type.</p>              
          
              
              <p><b>Hard Challenge</b> <br> The solution to a hard challenge will not be direct and
                will require special insight to find. Even an experienced user will need to struggle to find a solution. An example of this would be <a href="https://www.hackerrank.com/challenges/queens-revised">Queens Revisited</a>. We pay $150 for every challenge of this type.
              </p>
              
              <p>
              <b>Approximate algorithm/Big-data & ML challenges</b><br>
              These are challenges where there's not a clear solution to the problem and users can keep optimizing their algorithms forever. These challenges might also involve machine learning concepts. We pay anywhere between $100-$200 for this challenge.
              </p>
            </section>
</div>


