<div class="container">
    <div class="container--inner">
        <header class="page-title">
            <div class="clearfix">
                <h1 class="pull-left">Style Guide</h1>
            </div>
            <ul class="nav-tabs nav">
                <li class="active"><a class="" href="#style_brand" data-toggle="tab">Brand</a></li>
                <li class=""><a class="" href="#style_buttons" data-toggle="tab">Buttons</a></li>
                <li class=""><a class="" href="#style_forms" data-toggle="tab">Forms</a></li>
            </ul>
        </header>

        <div class="tab-content">
            <div class="tab-pane active" id="style_brand">
                <h2 class="margin-small bottom">Introduction</h2>
                <hr>
                <h2 class="margin-small bottom">Colors</h2>
                <div class="margin-large bottom"
                    <strong>Green & Alt-Green:</strong> These colors are reserved for links and headers requiring primary attention. Use sparingly, so as to keep it from conflicting with other primary actions and elements on the page. <code>$alt-Green</code> should be used for text while <code>$green</code>is reserved for large blocks</code></pre>.<br><br>
                    <strong>Blue & Alt-Blue:</strong> Blue is our secondary branding color. Use it for filters and explanatory text, such as when toggling options in the settings panel. As with our green, <code>$alt-blue</code> should be used for text and <code>$blue</code> for larger blocks.<br><br>
                    <strong>Bright Orange:</strong> Bright Orange is generally used to distinguish errors, warnings, or other elements requiring attention.<br><br>
                    <strong>Yellow:</strong> Yellow is used for highlights, including selected text. Use it for emphasis in addition to <code>em</code> and <code>strong</code> tags.<br><br>
                    <strong>Our Grays:</strong> We use several colors across the navy/gray spectrum. <code>$navy</code> is the color of text throughout the app. Use <code>$alt-grey</code> <em>sparingly</em> for asides, meta text, or other non-crucial text. <strong>Always check your text for accessibility</strong> against the W3C standards
                </div>
                <div class="clearfix">
                    <div class="style_color-group">
                        <div class="style_color-single" style="background: #2BC56D">
                        </div>
                        <div class="style_color-details">
                            $green<br>
                            #2BC56D
                        </div>
                    </div>
                    <div class="style_color-group">
                        <div class="style_color-single" style="background: #26b061">
                        </div>
                        <div class="style_color-details">
                            $alt-green<br>
                            #26b061
                        </div>
                    </div>
                    <div class="style_color-group">
                        <div class="style_color-single" style="background: #3e96da">
                        </div>
                        <div class="style_color-details">
                            $blue<br>
                            #3e96da
                        </div>
                    </div>
                    <div class="style_color-group">
                        <div class="style_color-single" style="background: #0076b9">
                        </div>
                        <div class="style_color-details">
                            $alt-blue<br>
                            #0076b9
                        </div>
                    </div>
                    <div class="style_color-group">
                        <div class="style_color-single" style="background: #f65039">
                        </div>
                        <div class="style_color-details">
                            $orange<br>
                            #f65039
                        </div>
                    </div>
                    <div class="style_color-group">
                        <div class="style_color-single" style="background: #fff8ca">
                        </div>
                        <div class="style_color-details">
                            $yellow<br>
                            #fff8ca
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="style_color-group">
                        <div class="style_color-single" style="background: #f8f8f8">
                        </div>
                        <div class="style_color-details">
                            $off-white<br>
                            #f8f8f8
                        </div>
                    </div>
                    <div class="style_color-group">
                        <div class="style_color-single" style="background: #dfe0e1">
                        </div>
                        <div class="style_color-details">
                            $grey<br>
                            #dfe0e1
                        </div>
                    </div>
                    <div class="style_color-group">
                        <div class="style_color-single" style="background: #C2C7D0">
                        </div>
                        <div class="style_color-details">
                            $alt-grey-light<br>
                            #C2C7D0
                        </div>
                    </div>
                    <div class="style_color-group">
                        <div class="style_color-single" style="background: #979faf">
                        </div>
                        <div class="style_color-details">
                            $alt-grey<br>
                            #979faf
                        </div>
                    </div>
                    <div class="style_color-group">
                        <div class="style_color-single" style="background: #626b7f">
                        </div>
                        <div class="style_color-details">
                            $grey-dark<br>
                            #626b7f
                        </div>
                    </div>
                    <div class="style_color-group">
                        <div class="style_color-single" style="background: #39424e">
                        </div>
                        <div class="style_color-details">
                            $navy<br>
                            #39424e
                        </div>
                    </div>
                </div>
                <hr>
                <h2 class="margin-small bottom">Typography</h2>
                <div class="content-text">
                    <p class="grey-header padded">Note: This section is enclosed in the class <code>.content-text</code>. Typographic elements (paragraphs, lists, etc) outside of this class will not have the same margins or size properties</p>
                    <p><strong>Body font stack:</strong> <code>'Whitney SSm A', 'Whitney SSm B', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif</code></p>
                    <p><strong>Code font stack:</strong> <code>Menlo, Monaco, Consolas, "Courier New", monospace</code></p>
                    <hr class="small">
                    <p class="beta"><strong>General class names:</strong></p>
                    <p>This is standard body text with <a>a link</a> inside of it and some <strong>bold text</strong> and also some <em>italicized text</em>, and even some <strong><em>bold and italicized</em></strong> text (Woah!).</p>
                    <p>To make text (body text, header, you name it) <span class="alpha">uppercase, like this</span>, add the class <code>$alpha</code>.</p>
                    <p>To make text <span class="beta">green in order to emphasize it, like this</span>, add the class <code>$beta</code>. (This is best saved for headlines so as not to confuse with links, or add both the <code>alpha</code> and <code>beta</code> tags <span class="alpha beta">like this</span>.</p>
                    <p class="small">Small text looks like this. Enclose text in a <code>small</code> tag or add the class <code>.small</code>.</p>
                    <p>Other variants for less prominent text are <span class="meta">using the class <code>.meta</code></span>, or <span class="aside">using the class <code>.aside</code></span> (although text with the class <code>.aside</code> with the class <code>.small</code> will not be italicized. Play around with these to learn the nuances.)</p>
                    <hr class="small">
                    <p class="beta"><strong>Alignment:</strong></p>
                    <p class="">This text is aligned left. This is the default, but the class <code>.text-left</code> forces it.</p>
                    <p class="text-center">This text is aligned center. Use the class <code>.text-center</code> to force it.</p>
                    <p class="text-right">This text is aligned right. Not surprising, using the class <code>.text-right</code> for this one.</p>
                    <hr class="small">
                    <p class="beta"><strong>Lists:</strong></p>
                    <p><ul class="margin-large padding-large bottom">
                           <li>This is an unordered list</li>
                           <li>It looks like this</li>
                               <ul>
                                   <li>You can nest lists within lists, as usual</li>
                                   <li>In case you have additional items to share</li>
                               </ul>
                           <li>And then go back to the rest of the list</li>
                    </ul>
                    </p>
                    <p class=""><ol>
                           <li>The same goes for ordered lists</li>
                           <li>There are many additional reasons to use lists</li>
                               <ul>
                                   <li>Like this one</li>
                                   <li>And this one</li>
                               </ul>
                           <li>And I think that wraps this up</li>
                    </ol>
                    </p>
                    <p class="beta"><strong>Iconography:</strong></p>
                    <p>We are in the process of building our own icon set. In the meantime, use our Fontello set. Just a few classes to be aware of. These classes are applied to the <code>i</code> tag, such as <code>i class="icon-star icon--right"</code></p>
                    <p><code>.icon--left</code> should be used when the text appears before the icon, which is not the default, like this: <a class="btn btn-small">Star it<i class="icon-star icon--left"></i></a><br>
                       <code>.icon--single</code> should be used when an icon is enveloped in a tag without any text, like this: <a class="btn btn-small"><i class="icon-star icon--single"></i></a><br>
                       Icons without either of these classes looks like this (there is no space between the icon and the text) <a class="btn btn-small"><i class="icon-star"></i>Star it</a><br></p>
                </div>


            </div>

            <div class="tab-pane" id="style_buttons">
                <h2>Standard Button Styles</h2>
                <div>
                    <div class="style_group">
                        <header class="clearfix">
                            <pre class="style_title pull-right"><code>.btn</code></pre>
                            <p class="pull-left"><strong>Default Button</strong></p>
                        </header>
                        <div class="row row-clear style_group-sub">
                            <div class="span7">
                                <div class="style_group--sub">
                                    <a class="btn margin-large right">Normal</a>
                                    <a class="btn hover margin-large right">Hover</a>
                                    <a class="btn active margin-large right">Active</a>
                                    <a class="btn disabled margin-large right">Disabled</a>
                                </div>
                            </div>
                            <div class="span9">
                                <p>This is the base button class. Use this button for secondary <a title="Something that *results* in something else" rel="tooltip">actions</a>, such as compiling code, viewing a submission, or showing filters.</p>
                            </div>
                        </div>
                    </div>
                    <div class="style_group">
                        <header class="clearfix">
                            <pre class="style_title pull-right"><code>.btn .btn-green</code></pre>
                            <p class="pull-left"><strong>Primary Button</strong></p>
                        </header>
                        <div class="row row-clear style_group-sub">
                            <div class="span7">
                                <div class="style_group--sub">
                                    <a class="btn btn-green margin-large right">Normal</a>
                                    <a class="btn hover btn-green margin-large right">Hover</a>
                                    <a class="btn active btn-green margin-large right">Active</a>
                                    <a class="btn disabled btn-green margin-large right">Disabled</a>
                                </div>
                            </div>
                            <div class="span9">
                                <p>This is the primary button class. Use this button for primary <a title="Something that *results* in something else" rel="tooltip">actions</a>, such as submitting code, answering a forum question, or saving your settings.</p>
                            </div>
                        </div>
                    </div>
                    <div class="style_group">
                        <header class="clearfix">
                            <pre class="style_title pull-right"><code>btn .btn-dark</code></pre>
                            <p class="pull-left"><strong>Dark Button</strong></p>
                        </header>
                        <div class="row row-clear style_group-sub">
                            <div class="span7">
                                <div class="style_group--sub">
                                    <a class="btn btn-dark margin-large right">Normal</a><a class="btn hover btn-dark margin-large right">Hover</a><a class="btn active btn-dark margin-large right">Active</a><a class="btn disabled btn-dark margin-large right">Disabled</a>
                                </div>
                            </div>
                            <div class="span9">
                                <p>Use this button for actionable links in the page navigation.</p>
                            </div>
                        </div>
                    </div>
                    <div class="style_group">
                        <header class="clearfix">
                            <pre class="style_title pull-right"><code>.btn .btn-text</code></pre>
                            <p class="pull-left"><strong>Text Button</strong></p>
                        </header>
                        <div class="row row-clear style_group-sub">
                            <div class="span7">
                                <a class="btn-text margin-large right">Text Button</a>
                                <a class="btn-text dark margin-large right"><i class="icon-download"></i>Text Button (Dark)</a>
                            </div>
                            <div class="span9">
                                <p>Use this button for actionable links in the page navigation.</p>
                            </div>
                        </div>
                    </div>
                    <div class="style_group">
                        <header class="clearfix">
                            <pre class="style_title pull-right"><code>.btn .btn-alert</code></pre>
                            <p class="pull-left"><strong>Alert Button</strong></p>
                        </header>
                        <div class="row row-clear style_group-sub">
                            <div class="span7">
                                <div class="style_group--sub">
                                    <a class="btn btn-alert margin-large right">Normal</a><a class="btn hover btn-alert margin-large right">Hover</a><a class="btn active btn-alert margin-large right">Active</a><a class="btn disabled btn-alert margin-large right">Disabled</a>
                                </div>
                            </div>
                            <div class="span9">
                                <p>Use this button for negative actions that require a visual warning, such as deleting something.</p>
                            </div>
                        </div>
                    </div>
                    <div class="style_group">
                        <header class="clearfix">
                            <pre class="style_title pull-right"><code>.btn .btn-inverse</code></pre>
                            <p class="pull-left"><strong>Inverse Button</strong></p>
                        </header>
                        <div class="row row-clear style_group-sub">
                            <div class="span7">
                                <div class="style_group--sub">
                                    <a class="btn btn-inverse margin-large right">Normal</a><a class="btn btn-inverse hover margin-large right">Hover</a><a class="btn btn-inverse active margin-large right">Active</a><a class="btn btn-inverse disabled margin-large right">Disabled</a>
                                </div>
                            </div>
                            <div class="span9">
                                <p>This serves as primary button when there are identical primary actions on a page, such as the list of challenges (view challenge) or the manage interface landing page.</p>
                            </div>
                        </div>
                    </div>
                    <div class="style_group">
                        <header class="clearfix">
                            <pre class="style_title pull-right"><code>.btn .btn-inverse--alt</code></pre>
                            <p class="pull-left"><strong>Inverse Button (alt)</strong></p>
                        </header>
                        <div class="row row-clear style_group-sub">
                            <div class="span7">
                                <div class="style_group--sub">
                                    <a class="btn btn-inverse btn-inverse--alt margin-large right">Normal</a><a class="btn btn-inverse hover btn-inverse--alt margin-large right">Hover</a><a class="btn btn-inverse active btn-inverse--alt margin-large right">Active</a><a class="btn btn-inverse disabled btn-inverse--alt margin-large right">Disabled</a>
                                </div>
                            </div>
                            <div class="span9">
                                <p>This serves as primary button when there are identical primary actions on a page, such as the list of challenges (view challenge) or the manage interface landing page.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <h2>Button Sizes and Grouping</h2>
                <div>
                    <div class="style_group">
                        <header class="clearfix">
                            <pre class="style_title pull-right"><code>.btn-group > .btn</code></pre>
                            <p class="pull-left"><strong>Button Groups</strong></p>
                        </header>
                        <div class="row row-clear style_group-sub">
                            <div class="span7">
                                <div class="style_group--sub">
                                    <div class="btn-group">
                                        <a class="btn">Option 1</a>
                                        <a class="btn">Option 2</a>
                                        <a class="btn">Option 3</a>
                                    </div>
                                </div>
                            </div>
                            <div class="span9">
                                <p>This is the base button class. Use this button for secondary <a title="Something that *results* in something else" rel="tooltip">actions</a>, such as compiling code, viewing a submission, or showing filters.</p>
                            </div>
                        </div>
                    </div>
                    <div class="style_group">
                        <header class="clearfix">
                            <pre class="style_title pull-right"><code>.btn-group > .btn</code></pre>
                            <p class="pull-left"><strong>Button Groups</strong></p>
                        </header>
                        <div class="row row-clear style_group-sub">
                            <div class="span7">
                                <div class="style_group--sub">
                                    <div class="btn-group vertical">
                                        <a class="btn"><i class="icon-star icon--single"></i></a>
                                        <a class="btn"><i class="icon-flow-branch icon--single"></i></a>
                                        <a class="btn"><i class="icon-download icon--single"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="span9">
                                <p>This is the base button class. Use this button for secondary <a title="Something that *results* in something else" rel="tooltip">actions</a>, such as compiling code, viewing a submission, or showing filters.</p>
                            </div>
                        </div>
                    </div>
                    <div class="style_group">
                        <header class="clearfix">
                            <pre class="style_title pull-right"><code>.btn + .btn-mini/.btn-small/.btn-large/.btn-xlarge</code></pre>
                            <p class="pull-left"><strong>Button Sizes</strong></p>
                        </header>
                        <div class="row row-clear style_group-sub">
                            <div class="span7">
                                <div class="style_group--sub">
                                    <a class="btn btn-primary btn-mini margin-large right">Mini</a>
                                    <a class="btn btn-primary btn-small margin-large right">Small</a>
                                    <a class="btn btn-primary btn-large margin-large right">Large</a>
                                    <a class="btn btn-primary btn-xlarge">Xlarge</a>
                                </div>
                            </div>
                            <div class="span9">
                                <p>In addition to the standard <code>.btn</code> class plus any additional descriptive classes, such as <code>.btn-green</code>, shown here, add one of these additional classes to form a button of the respective size. (No additional class keeps button the standard size)</p>
                            </div>
                        </div>
                    </div>
                    <div class="style_group">
                        <header class="clearfix">
                            <pre class="style_title pull-right"><code>.input-btn-group > .btn input</code></pre>
                            <p class="pull-left"><strong>Input with button</strong></p>
                        </header>
                        <div class="row row-clear style_group-sub">
                            <div class="span7">
                                <div class="style_group--sub">
                                    <div class="input-btn-group">
                                        <input type="email" placeholder="email">
                                        <a class="btn">Submit</a>
                                    </div>
                                </div>
                            </div>
                            <div class="span9">
                                <p>In addition to the standard <code>.btn</code> class plus any additional descriptive classes, such as <code>.btn-green</code>, shown here, add one of these additional classes to form a button of the respective size. (No additional class keeps button the standard size)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <h2>Hints</h2>
                <p>To force a centered button without a fixed width, use the class <code>.text-center</code> on a surrounding block element.</p>
                <div class="style_group">
                    <pre><code>&lt;p class="text-center">&lt;a href="#" class="btn btn-primary">Centered Button&lt;/a>&lt;/p></code></pre>
                    <p class="text-center"><a href="#" class="btn btn-primary">Centered Button</a></p>
                </div>
                <p>If the button has a fixed width, use the class <code>.block-center</code> to center it. This goes for any block element, or element with a fixed width.</p>
                <div class="style_group">
                    <pre><code>&lt;p class="block-center">&lt;a href="#" class="btn btn-primary">300px button&lt;/a>&lt;/p></code></pre>
                    <p class="text-center"><a href="#" class="btn btn-alert block-center" style="width: 300px;">300px button</a></p>
                </div>
            </div>
            <div class="tab-pane" id="style_forms">

            </div>
        </div>

    </div>
</div>