<body>
    <article id="about">
    <iframe width='500' height='300' frameBorder='0' src='http://a.tiles.mapbox.com/v3/elou.map-ot7s6i6c.html'></iframe>
        <div class="container">
            <div class="row">
                <h1 class="span16"><div class="title-img"></div> The HackerRank Team</h1>
                <div class="about-photos">
                    <div class="span4">
                        <img src="/assets/about-shiv.jpg" alt="Meet Shiv Deepak" width="220" height="150">
                        <h4>Shiv Deepak</h4>
                        <h5>Hacker</h5>
                    </div>
                    <div class="span4">
                        <img src="/assets/about-emily.jpg" alt="Meet Emily Brophy" width="220" height="150">
                        <h4>Emily Brophy</h4>
                        <h5>Product Design & Strategy</h5>
                    </div>
                    <div class="span4">
                        <img src="/assets/about-dheeraj.jpg" alt="Meet Dheeraj" width="220" height="150">
                        <h4>Dheeraj Ravindranath</h4>
                        <h5>Hacker</h5>
                    </div>
                    <div class="span4">
                        <img src="/assets/about-akshay.jpg" alt="Meet Akshay Gupta" width="220" height="150">
                        <h4>Akshay Gupta</h4>
                        <h5>Hacker</h5>
                    </div>
                    <div class="span4">
                        <img src="/assets/about-sunil.jpg" alt="Meet Sunil Tez" width="220" height="150">
                        <h4>Sunil Tej G</h4>
                        <h5>Product Evangelist</h5>
                    </div>
                    <div class="span4">
                        <img src="/assets/about-hari.jpg" alt="Meet Hari Karunanidhi" width="220" height="150">
                        <h4>Hari Karunanidhi</h4>
                        <h5>Co-Founder</h5>
                    </div>
                    <div class="span4">
                        <img src="/assets/about-vivek.jpg" alt="Meet Vivek Ravishankar" width="220" height="150">
                        <h4>Vivek Ravishankar</h4>
                        <h5>Co-Founder</h5>
                    </div>
                </div>
            </div>
            <h2>Our Investors</h2>
            <div class="row investors">
                <div class="light-wrap wrap span16">
                    <div class=" row group1">
                        <img src="/assets/investors/yc.png" alt="Y Combinator" class="pull-left">
                        <img src="/assets/investors/morpheus.png" alt="The Morpheus" class="pull-left">
                        <img src="/assets/investors/khosla.png" alt="Start Fund" class="pull-left">
                    </div>
                    <div class="row group2">
                        <img src="/assets/investors/startfund.png" alt="Start Fund" class="pull-left">
                        <img src="/assets/investors/zenshin.png" alt="Start Fund" class="pull-left">
                        <img src="/assets/investors/svangel.png" alt="Start Fund" class="pull-left">
                        <div style="height: 50px; width: 150px" class="investor-text pull-left"><p>Jawed Karim</p></div>
                    </div>
                </div>
            </div>

            <h2>Hacker Rank Timeline</h2>
            <iframe src='http://embed.verite.co/timeline/?source=0Anfg1FSSD6XKdEpueHdaUUc4LVc5ZkZGY0FFNXJ4ZUE&font=Bevan-PotanoSans&maptype=toner&lang=en&height=650' width='100%' height='650' frameborder='0'></iframe>
            <br>
            <br>
            <div style="text-align: center; margin-bottom: 20px;">You can mail us at hackers@hackerrank.com if you are interested.</div>
        </div>
</body>
