<section class="contests">
    <div class="light-wrap wrap container wide content-wrap">
        <div class="tab-sidebar span3 inline-sidebar sidebar-nav-wrap">
            <div class="sidebar-header clearfix">
                <span class="header-btn-group pull-right">
                    <a class="btn btn-orange"><i class="icon-rss"></i></a>
                </span>
            </div>
            <ul class="tab-list tab-buttons unstyled">
                <span class="contest-list-heading">Active Contests</span>
                <li class="active">
                    <a class="change-track" data-track="esoteric" data-module="golf" href="/golf/esoteric">
                        <span class="track-heading"><span class="track-title">Back to School Hackathon</span></span>
                        <span class="contest-status"><i class="status-indicator active"></i> In Progress</span>
                    </a>
                </li>
                <li class="">
                    <a class="change-track" data-track="esoteric" data-module="golf" href="/golf/esoteric">
                        <span class="track-heading"><span class="track-title">Monthly Hackathon</span></span>
                        <span class="contest-status"><i class="status-indicator pending"></i> In Starts in 45 minutes</span>
                    </a>
                </li>
                <li class="">
                    <a class="change-track" data-track="esoteric" data-module="golf" href="/golf/esoteric">
                        <span class="track-heading"><span class="track-title">Supah Badass Hackathon</span></span>
                    </a>
                </li>
                <li class="">
                    <a class="change-track" data-track="esoteric" data-module="golf" href="/golf/esoteric">
                        <span class="track-heading"><span class="track-title">Gigantic Hackathon</span></span>
                        <span class="contest-status"><i class="status-indicator completed"></i> Compiling Scores</span>
                    </a>
                </li>
            </ul>
            <ul class="tab-list tab-buttons unstyled">
                <span class="contest-list-heading">Archived Contests</span>
                <li class="">
                    <a class="change-track" data-track="esoteric" data-module="golf" href="/golf/esoteric">
                        <span class="track-heading"><span class="track-title">Back to School Hackathon</span></span>
                        <span class="contest-date">March 1, 2013</span>
                    </a>
                </li>
                <li class="">
                    <a class="change-track" data-track="esoteric" data-module="golf" href="/golf/esoteric">
                        <span class="track-heading"><span class="track-title">Monthly Hackathon</span></span>
                        <span class="contest-date">February 20, 2013</span>
                    </a>
                </li>
                <li class="">
                    <a class="change-track" data-track="esoteric" data-module="golf" href="/golf/esoteric">
                        <span class="track-heading"><span class="track-title">Supah Badass Hackathon</span></span>
                        <span class="contest-date">February 14, 2013</span>
                    </a>
                </li>
                <li class="">
                    <a class="change-track" data-track="esoteric" data-module="golf" href="/golf/esoteric">
                        <span class="track-heading"><span class="track-title">Gigantic Hackathon</span></span>
                        <span class="contest-date">February 12, 2013</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="inline-content tab-content span12 pull-right">
            <div class="content-header"><a href="" class="pull-left">View contest details</a><a href="" class="btn btn-white pull-right"><i class="icon-trophy"></i></a></div>
            <div class="tab-pane active" id="contestName">
                <div class="challenges-list">
                    <div id="contest-challenges-problem" class="challenge-list-item clearfix">
                    <ul class="pull-left challenge-links unstyled">
                        <li class=""><a href="/challenges/sudoku/forum/questions" class="backbone submit" data-analytics="ViewForum"><i class="icon-comment"></i></a></li>
                        <li class=""><a href="/challenges/sudoku/leaderboard" class="backbone submit" data-analytics="ChallengeLeaderboard"><i class="icon-trophy"></i></a></li>
                        <li class=""><a href="/challenges/sudoku/submissions" class="backbone"><i class="icon-list-bullet-small"></i></a></li>
                    </ul>
                    <div class="pull-left challenge-body">
                        <header class="clearfix">
                            <!--<p class="title no-flow">Tutorial</p>-->
                            <h2 class="small pull-left">Sudoku</h2>

                            <div class="pull-right">
                                <p class="no-flow">Max score: <strong>100</strong></p>
                            </div>
                        </header>
                        <p class="question-text body-text no-flow">Complete the sudoku puzzles!!</p>

                        <div class="question-sub clearfix">

                                  <a class="cursor stats" rel="tooltip" title="0 total submissions">0</a>

                                  <div class="progress"><div class="bar"></div></div>

                                  <a href="/challenges/sudoku" data-slug="sudoku" class="btn btn-white backbone start pull-right span2" data-analytics="TryAgain">Try Again</a>

                        </div>
                    </div>
                </div>
                    <div id="contest-challenges-problem" class="challenge-list-item clearfix">
                    <ul class="pull-left challenge-links unstyled">
                        <li class=""><a href="/challenges/sudoku/forum/questions" class="backbone submit" data-analytics="ViewForum"><i class="icon-comment"></i></a></li>
                        <li class=""><a href="/challenges/sudoku/leaderboard" class="backbone submit" data-analytics="ChallengeLeaderboard"><i class="icon-trophy"></i></a></li>
                        <li class=""><a href="/challenges/sudoku/submissions" class="backbone"><i class="icon-list-bullet-small"></i></a></li>
                    </ul>
                    <div class="pull-left challenge-body">
                        <header class="clearfix">
                            <!--<p class="title no-flow">Tutorial</p>-->
                            <h2 class="small pull-left">Sudoku</h2>

                            <div class="pull-right">
                                <p class="no-flow">Max score: <strong>100</strong></p>
                            </div>
                        </header>
                        <p class="question-text body-text no-flow">Complete the sudoku puzzles!!</p>

                        <div class="question-sub clearfix">

                                  <a class="cursor stats" rel="tooltip" title="0 total submissions">0</a>

                                  <div class="progress"><div class="bar"></div></div>

                                  <a href="/challenges/sudoku" data-slug="sudoku" class="btn btn-white backbone start pull-right span2" data-analytics="TryAgain">Try Again</a>

                        </div>
                    </div>
                </div>
                    <div id="contest-challenges-problem" class="challenge-list-item clearfix">
                    <ul class="pull-left challenge-links unstyled">
                        <li class=""><a href="/challenges/sudoku/forum/questions" class="backbone submit" data-analytics="ViewForum"><i class="icon-comment"></i></a></li>
                        <li class=""><a href="/challenges/sudoku/leaderboard" class="backbone submit" data-analytics="ChallengeLeaderboard"><i class="icon-trophy"></i></a></li>
                        <li class=""><a href="/challenges/sudoku/submissions" class="backbone"><i class="icon-list-bullet-small"></i></a></li>
                    </ul>
                    <div class="pull-left challenge-body">
                        <header class="clearfix">
                            <!--<p class="title no-flow">Tutorial</p>-->
                            <h2 class="small pull-left">Sudoku</h2>

                            <div class="pull-right">
                                <p class="no-flow">Max score: <strong>100</strong></p>
                            </div>
                        </header>
                        <p class="question-text body-text no-flow">Complete the sudoku puzzles!!</p>

                        <div class="question-sub clearfix">

                                  <a class="cursor stats" rel="tooltip" title="0 total submissions">0</a>

                                  <div class="progress"><div class="bar"></div></div>

                                  <a href="/challenges/sudoku" data-slug="sudoku" class="btn btn-white backbone start pull-right span2" data-analytics="TryAgain">Try Again</a>

                        </div>
                    </div>
                </div>
                    <div id="contest-challenges-problem" class="challenge-list-item clearfix">
                    <ul class="pull-left challenge-links unstyled">
                        <li class=""><a href="/challenges/sudoku/forum/questions" class="backbone submit" data-analytics="ViewForum"><i class="icon-comment"></i></a></li>
                        <li class=""><a href="/challenges/sudoku/leaderboard" class="backbone submit" data-analytics="ChallengeLeaderboard"><i class="icon-trophy"></i></a></li>
                        <li class=""><a href="/challenges/sudoku/submissions" class="backbone"><i class="icon-list-bullet-small"></i></a></li>
                    </ul>
                    <div class="pull-left challenge-body">
                        <header class="clearfix">
                            <!--<p class="title no-flow">Tutorial</p>-->
                            <h2 class="small pull-left">Sudoku</h2>

                            <div class="pull-right">
                                <p class="no-flow">Max score: <strong>100</strong></p>
                            </div>
                        </header>
                        <p class="question-text body-text no-flow">Complete the sudoku puzzles!!</p>

                        <div class="question-sub clearfix">

                                  <a class="cursor stats" rel="tooltip" title="0 total submissions">0</a>

                                  <div class="progress"><div class="bar"></div></div>

                                  <a href="/challenges/sudoku" data-slug="sudoku" class="btn btn-white backbone start pull-right span2" data-analytics="TryAgain">Try Again</a>

                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
