<div class="container">

<div class="row">
    <div class="span16" style="background:#ccc;">Span16</div>
</div>
<div class="row">
    <div class="span15" style="background:#ccc;">Span15</div><div class="span1" style="background:#ccc;">Span1</div>
</div>
<div class="row">
    <div class="span14" style="background:#ccc;">14</div><div class="span2" style="background:#ccc;">2</div>
</div>
<div class="row">
    <div class="span13" style="background:#ccc;">13</div><div class="span3" style="background:#ccc;">3</div>
</div>
<div class="row">
    <div class="span12" style="background:#ccc;">12</div><div class="span4" style="background:#ccc;">4</div>
</div>
<div class="row">
    <div class="span11" style="background:#ccc;">11</div><div class="span5" style="background:#ccc;">5</div>
</div>
<div class="row">
    <div class="span4" style="background:#ccc;">4</div>
    <div class="span4" style="background:#ccc;">4</div>
    <div class="span4" style="background:#ccc;">4</div>
    <div class="span4" style="background:#ccc;">4</div>
</div>
<div class="row">
    <div class="span1" style="background:#ccc;">1</div>
    <div class="span1" style="background:#ccc;">1</div>
    <div class="span1" style="background:#ccc;">1</div>
    <div class="span1" style="background:#ccc;">1</div>
    <div class="span1" style="background:#ccc;">1</div>
    <div class="span1" style="background:#ccc;">1</div>
    <div class="span1" style="background:#ccc;">1</div>
    <div class="span1" style="background:#ccc;">1</div>
    <div class="span1" style="background:#ccc;">1</div>
    <div class="span1" style="background:#ccc;">1</div>
    <div class="span1" style="background:#ccc;">1</div>
    <div class="span1" style="background:#ccc;">1</div>
    <div class="span1" style="background:#ccc;">1</div>
    <div class="span1" style="background:#ccc;">1</div>
    <div class="span1" style="background:#ccc;">1</div>
    <div class="span1" style="background:#ccc;">1</div>
</div>
</div>
<section class="style_buttons">
    <div class="row">
        <div class="span4">
            <a href="" class="btn">
                Button
            </a>
        </div>
        <div class="span4">
            <a href="" class="btn btn-green">
                Button
            </a>
        </div>
        <div class="span4">
            <a href="" class="btn btn-dark">
                Button
            </a>
        </div>
        <div class="span4">
            <a href="" class="btn btn-grey">
                Button
            </a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="span2">
            <a href="" class="btn btn-mini">
                Button
            </a>
        </div>
        <div class="span2">
            <a href="" class="btn btn-small">
                Button
            </a>
        </div>
        <div class="span2">
            <a href="" class="btn">
                Button
            </a>
        </div>
        <div class="span2">
            <a href="" class="btn btn-large">
                Button
            </a>
        </div>
        <div class="span2">
            <a href="" class="btn btn-xlarge">
                Button
            </a>
        </div>
    </div>
</section>

</div>