<body>
    <div class="container content_wrap">
        <div class="row">
            <div class="light-wrap span8 track_card">
                <div class="body padded">
                    <header class="track_card-header">
                        <h3 class="beta">Machine Learning</h3>
                        <p class="track_card-meta">422 challenges &bull; 6,769 submissions</p>
                    </header>
                    <p class="track_card-description">From Quora, to Amazon, to Google, the worlds most popular sites are powered by complex algorithms to sort through the countless data they serve. Learn and apply combinatorics and logic to solve these problems.</p>
                    <p class="text-center margin-large top bottom"><a href="" class="btn track_card-button">View Challenges</a></p>
                </div>
                <footer class="padded track_card-footer">
                    <div class="row">
                        <div class="span6 track_progress pull-left">
                            <div style="height:10px; width:90%; background: #dfe0e1; border-radius: 25px; margin-top: 8px;">
                                <div style="height:10px; width: 75%; background: #979FAF; border-radius: 25px;">
                                </div>
                            </div>
                            <p class="margin-mini top">
                                <small class="aside alpha margin-mini top">Your progress</small>
                                <!--<small class="track_percentage">75%</small>-->
                            </p>
                        </div>
                        <ul class="pull-right unstyled challenge-links">
                            <li class="pull-left separator"></li>
                            <li class="pull-left"><a href=""><i class="icon-trophy"></i></a></li>
                            <li class="pull-left"><a href=""><i class="icon-list-bullet-small"></i></a></li>
                        </ul>
                    </div>
                </footer>
            </div>
            <div class="light-wrap span8 track_card">
                <div class="body padded">
                    <header class="track_card-header">
                        <h3 class="beta">Artificial Intelligence</h3>
                        <div class="clearfix">
                            <p class="track_card-meta">122 challenges &bull; 3,994 submissions</p>
                        </div>
                    </header>
                    <p class="track_card-description">From Quora, to Amazon, to Google, the worlds most popular sites are powered by complex algorithms to sort through the countless data they serve. Learn and apply combinatorics and logic to solve these problems.</p>
                    <p class="text-center margin-large top bottom"><a href="" class="btn track_card-button">View Challenges</a></p>
                </div>
                <footer class="padded track_card-footer">
                    <div class="row">
                        <div class="span6 track_progress pull-left">
                            <div style="height:10px; width:90%; background: #dfe0e1; border-radius: 25px; margin-top: 8px;">
                                <div style="height:10px; width: 100%; background: #979FAF; border-radius: 25px;">
                                </div>
                            </div>
                            <p class="margin-mini top">
                                <small class="aside alpha">Completed <i class="icon-ok"></i></small>
                                <!--<small class="track_percentage">22%</small>-->
                            </p>
                        </div>
                        <ul class="pull-right unstyled challenge-links">
                            <li class="pull-left separator"></li>
                            <li class="pull-left"><a href=""><i class="icon-trophy"></i></a></li>
                            <li class="pull-left"><a href=""><i class="icon-list-bullet-small"></i></a></li>
                        </ul>
                    </div>
                </footer>
            </div>

        </div>
    </div>
</body>
