<div class="container light-wrap dashboard">
    <div class="clearfix dashboardHead dashboard-section">
        <div class="pull-left"
        <div><img src="/assets/staticChart.png"></div>
        <div class="dashboardStatistics span5 pull-right no-flow">
            <div class="row text-center">
                <div class="span2">
                    <p class="">Current Rank</p>
                    <p class="number">627</p>
                </div>
                <div class="span3">
                    <p class="">Current Score</p>
                    <p class="number">10,532</p>
                </div>
            </div>
            <div class="statisticsSmall">
                <p class="stat-line">Javascript Rank<span class="pull-right">#38 / 4833</span></p>
                <p class="stat-line">Harvard Rank<span class="pull-right">#113 / 234</span></p>
                <a href="" class="btn btn-white pull-right">Edit Statistics</a>
            </div>
        </div>
    </div>
    <div class="dashboardProgress dashboard-section clearfix">
        <p class="section-heading">Your Progress</p>
        <img src="/assets/staticGuage.png" class="pull-left progressGraph">
        <div class="pull-left track-progress">
            <span class="clearfix">
                <p class="alpha pull-left">All Tracks: 17% Complete</p>
                <div id="dashboard_trackSelect" class="dropdown pull-left">
                    <a class="dropdown-toggle" href="" data-toggle="dropdown"><i class="icon-down-dir"></i></a>
                    <ul class="unstyled dropdown-menu">
                        <li><a href="">Track 1: Track Nam</a></li>
                        <li><a href="">Track 2: Track Nam</a></li>
                        <li><a href="">Track 3: Track Nam</a></li>
                        <li><a href="">Track 4: Track Nam</a></li>
                    </ul>
                </div>
            </span>
            <p class="no-flow">12 Challenges of 70 completed</p>
            <p class="no-flow">Languages used: <strong>Java</strong>, PHP, C++</p>
        </div>
    </div>
    <div class="dashboardSubmissions dashboard-section">
        <p class="section-heading">Recent Submissions</p>
    </div>
</div>
