<div id="secondary-email-list" class=""></div>
  <small class="error"><%= _.map(errors, function (e) { return _.escape(e); }).join("<br>") %></small>
  <% if (input) { %>
    <input id="secondary-email-input" value="<%= input %>" type="text" class="wide" \>
  <% } else { %>
    <input style="display: none" id="secondary-email-input" type="text" class="wide" \>
  <% } %>
  <div class="add-email">
  </div>
    <p><a class="cursor btn btn-small margin-small top settings_content-addemail" id="btn-add-sec-email"><i class="icon-plus"></i>Add another email</a></p>


