<div class="padded settings_content-pane">
    <h3>Change Your Password</h3>
    <p class="aside block-margin margin-large bottom">Enter your current HackerRank password along with a new one to change it.</p>
    <div class="horizontal error-div hide" style="margin-top: 5px">
        <div class="alert error"></div>
    </div>
    <div class="formgroup horizontal">
        <label for="current_password" class="span3">Current Password</label>
        <div class="block span8">
            <input id="current_password" type="password" class="wide with-help" value=""/>
            <div class="sub-help">Your current HackerRank password</div>
            <div class="error"><%= (model.errors || {}).name || '' %></div>
        </div>
    </div>
    <div class="formgroup horizontal">
        <label for="new_password" class="pull-left span3">New Password</label>
        <div class="block span8">
            <input id="new_password" type="password" class="wide with-help" value=""/>
            <div class="sub-help">Desired password (at least 6 characters long)</div>
            <div class="error"><%= (model.errors || {}).name || '' %></div>
        </div>
    </div>
    <div class="formgroup horizontal">
        <label for="confirm_password" class="pull-left span3">Confirm Password</label>
        <div class="block span8">
            <input id="confirm_password" type="password" class="wide with-help" value=""/>
            <div class="sub-help">Confirm your desired password</div>
            <div class="error"><%= (model.errors || {}).name || '' %></div>
        </div>
    </div>
</div>
