<div class="padded settings_content-pane">
  <div class="settings_content-group">
    <h3>Campus Rep Program</h3>
    <p class="aside msT mlB">Performance statistics for Campus Rep Program</p>
    <div class="formgroup horizontal">
      <label for="name" class="span3">Total Referrals</label>
      <div class="block span8"><p class="like-label-like-p"><%= referral.total %></p></div>
    </div>
    <div class="formgroup horizontal">
      <label for="name" class="span3">University Referrals</label>
      <div class="block span8"><p class="like-label-like-p"><%= referral.university %></p></div>
    </div>
  </div>
</div>
