<header class="page-title">
    <h1>Settings &#47; Change Password</h1>
</header>
<div>
    <div class="clearfix">
        <form>
            <div class="horizontal error-div hide" style="margin-top: 5px">
                <div class="error-block"></div>
            </div>
            <div class="formgroup horizontal">
                <label for="current_password" class="pull-left span3">Current Password</label>
                <div class="block span7 profile-input">
                    <input id="current_password" type="password" class="span6" value=""/>
                    <small class="sub-help">Your current hackerrank password</small></br>
                    <small class="error"><%= (model.errors || {}).name || '' %></small>
                </div>
            </div>
            <div class="formgroup horizontal">
                <label for="new_password" class="pull-left span3">New Password</label>
                <div class="block span7 profile-input">
                    <input id="new_password" type="password" class="span6" value=""/>
                    <small class="sub-help">Desired password (At least 6 characters long)</small></br>
                    <small class="error"><%= (model.errors || {}).name || '' %></small>
                </div>
            </div>
            <div class="formgroup horizontal">
                <label for="confirm_password" class="pull-left span3">Confirm Password</label>
                <div class="block span7 profile-input">
                    <input id="confirm_password" type="password" class="span6" value=""/>
                    <small class="sub-help">Confirm your desired password</small></br>
                    <small class="error"><%= (model.errors || {}).name || '' %></small>
                </div>
            </div>
        </form>
    </div>
</div>
