<div class="padded settings_content-pane">
    <h3>Change Your Password</h3>
    <p class="aside block-margin margin-large bottom">Enter your current HackerRank password along with a new one to change it.</p>
    <div class="horizontal error-div hide" style="margin-top: 5px">
        <div class="error-block"></div>
    </div>
    <div class="formgroup horizontal">
        <label for="current_password" class="pull-left span3">Current Password</label>
        <div class="block span8 profile-input">
            <input id="current_password" type="password" class="span6" value=""/>
            <small class="sub-help">Your current HackerRank password</small></br>
            <small class="error"><%= (model.errors || {}).name || '' %></small>
        </div>
    </div>
    <div class="formgroup horizontal">
        <label for="new_password" class="pull-left span3">New Password</label>
        <div class="block span8 profile-input">
            <input id="new_password" type="password" class="span6" value=""/>
            <small class="sub-help">Desired password (at least 6 characters long)</small></br>
            <small class="error"><%= (model.errors || {}).name || '' %></small>
        </div>
    </div>
    <div class="formgroup horizontal">
        <label for="confirm_password" class="pull-left span3">Confirm Password</label>
        <div class="block span8 profile-input">
            <input id="confirm_password" type="password" class="span6" value=""/>
            <small class="sub-help">Confirm your desired password</small></br>
            <small class="error"><%= (model.errors || {}).name || '' %></small>
        </div>
    </div>
</div>
