<!-- I have commented out the status updates. What should happen is, show QUEUED if queued, then show progress bar, and only then show submitted on...games played...etc, which is currently shown
     If it is not a game, just show the p class stats with the 'submitted on' date -->
<%
win_percentage =  Math.round((model.game_won / model.game_played )* 1000)/10;
if (isNaN(win_percentage))
    win_percentage = 0;
if (model.kind=='game') { %>
<div class="row">
    <h5 class="stats span10">Submitted <a title=""><%= moment(model.created_at_epoch*1000).fromNow() %></a>
        <% if (model.startLock && !singlePlayer) { %>
            &bull; <strong class="submission-stat game-played"><%= model.game_played %></strong> games played &bull; <strong class="submission-stat"><%= model.score %> points scored</strong>
        <% } %>
    </h5>

    <div class="pull-right">
    <% if (!model.startLock) { %>
        <% if (model.percent == 0) { %>
            <p class="margin-small top">Queued</p>
        <% } else if (model.percent == 100) { %>
            <p class="margin-small top">Processed</p>
        <% } else { %>
            <div class="progress-bar clearfix">
                <div class="gutter">
                    <div class="progress-bar-status" style="width: <%= model.percent %>%;">&nbsp;</div>
                </div>
                <p class="play-count"><%= model.game_played %>/<%= model.game_total %> games played</p>
            </div>
        <% } %>
    <% } else {%>
        <div class="select-wrap large pull-right">
            <input type="hidden" value="" id="submissions-filter"/>
        </div>
    <% } %>
    </div>
</div>
<% } else  { %>
<div class="clearfix">
    <p class="span9 ">Submitted <%= moment(model.created_at_epoch*1000).fromNow() %>
        <% if (model.status_code !== "Queued" && model.status !== "Processing") { %>
            <% if (model.language !='text') { %> &bull; <strong>Score:</strong> <%= model.score %><% } %>
        <% } %>
    </p>
    <% if (model.status == "Accepted") { %>
        <p class="status pull-right success">
    <% } else if (model.status == "Wrong Answer") { %>
        <p class="status pull-right error">
    <% } else { %>
        <p class="status pull-right info">
    <% } %>
    <strong>Status:</strong> <%= model.status %></p>

</div>
    <% if (model.status != "Queued") { %>
        <div class="light-wrap margin-large top">
            <% if (model.language !='text' && !_.isEmpty(model.testcase_message)){ %>
            <div class=" submission_testcases-results testcases-results">
                <% for(var i=0; i<model.testcase_message.length; i+=1) { %>
                <p><span class="testcase-num"># <%= i %></span>
                <% if (model.testcase_status[i] == 1) { %><i class="icon-ok success"></i><% } else { %><i class="icon-cancel-large error"></i> <% } %>
                <%= Math.round(parseFloat(model.codechecker_time[i])*100)/100 %>s : <%= model.testcase_message[i] %>
                <% if (model.downloadable_test_cases == true) { %>
                    <small><a href="#" class="js-download-test-case small" testcase-num="<%=i%>" data-analytics="TestCase Purchase" rel="tooltip" title="Download testcase #<%= i %>"><i class="icon-download" testcase-num="<%=i%>"></i></a></small>
                <%}%>
                </p>
                <% } %>
            </div>
            <% } %>
            <% if (model.compile_status == 255){ %>
            <p class=""><strong>Compilation Message:</strong> <%= model.compile_message %></p>
            <% } %>
        </div>
    <% } %>
<% } %>
