<div class="clearfix row row-btn row-clear submissions_item">
    <div class="span4 submissions-title">
	    <p ><a class="challenge-slug backbone root" href="<%= challenge.pageURL() %>"><%= challenge.get('name') %></a></p>
    </div>
    <div class="span2 submissions-language">
	    <p class="small"><%= lang_display_mapping[model.get('language')] || model.get('language') %></p>
    </div>
    <div class="span2 submissions-time">
	    <p class="small"><%= model.get('time_ago') %> ago</p>
    </div>
    <div class="span3">
        <% if (model.get('status') == 'Accepted') { %>
            <p class="small accepted">
                <%= model.get('status') %>
                <i class="icon-ok"></i>
            </p>
        <% } else if (model.get('status') == 'Compilation error') { %>
            <p class="small error"> <%= model.get('status') %> </p>
        <% } else if (model.get('status') == 'Queued') { %>
            <p class="small queued">
                <%= model.get('status') %>
                <img src="/assets/queued.gif" />
            </p>
        <% } else if (model.get('status') == 'Processed' || model.get('status') == 'Processing') { %>
            <p class="small"> <%= model.get('status') %> </p>
        <% } else { %>
            <p class="small declined">
                <%= model.get('status') %>
                <i class="icon-cancel-large"></i>
            </p>
        <% } %>
    </div>
    <div class="span1">
	  <p class="small"><%= model.get('score') %></p>
    </div>
    <div class="span3 pull-right btn-wrap">
	    <p class="btn-wrap"><a href="<%= model.pageURL() %>" class="btn btn-inverse view-results backbone">View Results</a></p>
    </div>
</div>
