<section class="submissions-details container">
    <% if (model.view_by_owner === false) { %>
        <div>
            <p class="margin-large top padded light-wrap lifted">This <%= model.name %> submission belongs to <b><%= model.hacker_username %></b></p>
        </div>
    <% } %>
    <header class="page_title container">
        <% if (model.code != null) { %>
        <% if (model.slug) { %>
        <div class="breadcrumbs clearfix"></div>
        <% } %>
        <% } %>
        <h1>Submission Details</h1>
    </header>
    <% if (model.company) { %><div class="apply-blob"></div><% } %>
    <div id="submission-stats-wrapper"></div>
    <div id="submission-manual-game-play-wrapper"></div>
    <% if (model.kind == 'game') { %>
        <br>
        <div id="submission-game-set-wrapper"></div>
    <% } %>
    <br>
    <% if (model.code != null) { %>
    	<h3>Submitted Code</h3>
        <div class="submission_code-wrap light-wrap">
            <div class="submission_code-header clearfix">
                <div class="pull-left">
                    <p class="submission_code-language">Language: <%= lang_display_mapping[model.language] %></p>
                </div>
                <div class="pull-right submissions_code-copy">
                    <button class="btn btn-green copy_to_clipboard"><i class="icon-edit"></i> Open in editor</button>
                </div>
            </div>
            <div id="submission-code"></div>
        </div>
    <% } %>
    <% if (!model.slug) { %>
        <div class='gray'>
          <div style='background: url(/assets/ajax-view-loader.gif); height: 32px; width: 32px; display: inline-block;'></div>
          <p class="msg m"></p>
        </div>
    <% } %>
</section>
