<style>
    .game-grid p {
        margin: 0px;
    }
    h3 {
        margin: 0px;
    }
    .m {
        text-align: center !important;
    }
    .translucent {
    }
    .playgame-row {
        position: fixed;
    }
    .playgame-row .btn {
        margin-top: 70px;
        z-index: 999;
    }
    .game-message {
        font-weight: bold;
    }
</style>
<div class="game-grid" style="display: block; margin: auto; border-radius: 10px;">
    <table style="margin: 20px auto;">
        <tr style="text-align: center">
            <td style="text-align: center" class="canvasPlaceholder">
                <canvas id="tronCanvas" width="260" height="260" style="border: 10px solid">
                </canvas>
            </td>
        </tr>
    </table>
</div>
