<div class="span15 block-center" style="margin-top:20px;">
  <ul class="nav nav-tabs unstyled">
    <li class="active">
      <a href="#profile-<%= index %>" data-toggle='tab'>Profile</a>
    </li>
    <% _.each(model.challenges, function(challenge){ %>
      <li>
        <a class="change-tab" data-id="<%= challenge.id %>" href="#<%= challenge.slug %>-<%= index %>" data-toggle='tab'><%= challenge.name %></a>
      </li>
    <% }) %>
  </ul>
  <div class="span15 block-center tab-content" style="border-left: 1px solid #DDD; border-right: 1px solid #DDD; border-bottom: 1px solid #DDD; overflow:visible;">
    <div class="tab-pane active" id="profile-<%= index %>" style="padding:15px; overflow:auto;">
      <div class="span11">
          <p>
            <a class="btn btn-small pull-right" style="margin-top:-3px;" target="_blank" href="<%= model.resume.url %>">Download Resume</a>
            <h3><%= model.hacker_name %>
              <small>(<%= model.hacker_username %>)</small>
            </h3>
            <hr/>
            <div class="row">
              <h5 class="span5"><strong>Country:</strong> <%= model.hacker_country %></h5>
            </div>
          </p>
      </div>
      <div class="span3 pull-right light-wrap text-center">
          <h6>Contest Rank</h6>
          <h1><%= model.rank %></h1>
          <h5><strong>Score: </strong><%= Math.round(model.score*100)/100  %></h5>
      </div>
      <div class="span14">
        <div class="row">
          <h6 class="span6"><strong>Email:</strong> <%= model.email %></h6>
          <h6 class="span6"><strong>Contact Number:</strong> <%= model.contact_number %></h6>
        </div>
        <div class="row">
          <h6 class="span6"><strong>Visa Status:</strong> <%= visa_status %></h6>
          <h6 class="span6"><strong>Role:</strong> <%= role %></h6>
        </div>
        <div class="row">
          <h6 class="span13"><strong>Languages Used:</strong>
            <% _.each( model.languages, function(lang){ %>
              <%= lang_display_mapping[lang] %>,
            <% }) %>
          </h6>
        </div>
        <div class="row">
          <h6 class="span13"><strong>Biggest Hack:</strong>
            <%= model.hacker_hack %>
          </h6>
        </div>
      </div>
    </div>
    <% _.each(model.challenges, function(challenge){ %>
      <div class="tab-pane" id="<%= challenge.slug %>-<%= index %>" style="padding:15px;">
        <div class='throbber text-center' style='padding: 95px 0; height: 64px;'>
          <img src='https://d3rpyts3de3lx8.cloudfront.net/hackerrank/hackerrank_spinner_64x64.gif'>
        </div>
      </div>
    <% }) %>
  </div>
</div>
