<section class="container">
    <header class="page-title">
        <h1>Contest & Challenge Admin</h1>
        <p class="aside padding-large top bottom">HackerRank allows you to create custom challenges and contests.</p>
    </header>
    <p class="text-center margin-large bottom"><a href="/manage/challenge" class="span5 block-center btn btn-xlarge btn-inverse backbone">Manage Challenges</a></p>
    <p class="text-center margin-large top"><a href="/manage/contest" class="span5 block-center btn btn-xlarge btn-inverse backbone">Manage Contests</a></p>
</section>
