<div class="row">
  <div class="span2">
    <p><%= index %></p>
  </div>
  <div class="span2">
    <p><a href="/manage/challenges/<%= challenge.id %>/download_testcase?case_type=input&testcase_id=<%= model.id %>"><%= model.input %></a></p>
  </div>
  <div class="span2">
    <p><a href="/manage/challenges/<%= challenge.id %>/download_testcase?case_type=output&testcase_id=<%= model.id %>"><%= model.output %></a></p>
  </div> 
  <div class="span2">
    <p class="score-edit" style="cursor:text"><%= model.score %></p>
    <p class="score-wrapper hide" style="padding-top:0px;"><input type="text" class="score" style="width:20px;" value="<%= model.score %>" /></p>
  </div>
  <div class="span1">
    <p><input type="checkbox" class="sample" <%= model.sample == 0 ? "" : "checked='checked'" %> /></p>
  </div>
  <div class="span3">
    <a class="edit btn btn-medium" href="#">Edit</a>
    <a class="delete btn btn-medium" href="#">Delete</a>
  </div>
</div>
