<div class="test-case-table table-wrap text-center span12 light-wrap block-center row" style="margin-left:23px;">
  <div class="table-head row">
    <div class="span2">
      <p>Index</p>
    </div>
    <div class="span2">
      <p>Input</p>
    </div>
    <div class="span2">
      <p>Output</p>
    </div>
    <div class="span2">
      <p>Score</p>
    </div>
    <div class="span1">
      <p>Sample
    </div>
    <div class="span3">
      <p>Actions</p>
    </div>
  </div>
  <div class="testcase-list-wrapper">
  </div>
  <div class="row text-center" style="padding-top: 20px; padding-bottom: 20px;">
    <div class="span11">
      <a class="btn btn-blue addnew" href="#" style="color: #fff;">Add TestCase</a>
      <a class="btn btn-blue uploadZip" href="#" style="color: #fff;">Upload Zip</a>
    </div>
  </div>
</div>
