<div class="test-case-table table-wrap text-center span12 block-center row">
  <header>
    <div class="span1">
      <p>Index</p>
    </div>
    <div class="span2">
      <p>Input</p>
    </div>
    <div class="span2">
      <p>Output</p>
    </div>
    <div class="span2">
      <p>Score</p>
    </div>
    <div class="span1">
      <p>Sample
    </div>
    <div class="span3">
      <p>Actions</p>
    </div>
  </header>
  <div class="testcase-list-wrapper table-body">
  </div>
  <div class="row text-left padding-large top bottom">
    <div class="span11">
      <a class="margin-small right btn btn-inverse addnew" href="#">Add TestCase</a>
      <a class="btn btn-text uploadZip" href="#">Upload Zip</a>
    </div>
  </div>
</div>
