<div class="top-fixed-bar">
    <h3 class="topbar-h3 mjL">Companies Dashboard</h3>
    <a href="#" id="toggle-table-type" class="c-dash-button-resize btn <% if(tableType == 'compact') { %> active <% } %>">
        <i class="<% if(tableType == 'compact') { %> icon-resize-full <% } else { %> icon-resize-small <% } %>"></i>
    </a>
</div>
<div class="overflow-content" id="control-overflow">
    <div class="actions-row mjA">

        <div class="msT span4 label-group">
            <div class="label-text">View Type</div>
            <div class="custom-select-container">
                <select id="view-type-change">
                    <option value="dataUsage" <% if(viewType == 'dataUsage') { %> selected<% } %>>Data Usage</option>
                    <option value="licenseUsage" <% if(viewType == 'licenseUsage') { %> selected <% } %> >License Usage</option>
                </select>
                <i class="icon-down-open"></i>
            </div>
            <div class="clearfix"></div>
        </div>


        <div class="msT span4 label-group">
            <div class="label-text">Company Type</div>
            <div class="custom-select-container">
                <select id="payment-type-change">
                    <option value="paid" <% if(paymentType == 'paid') { %> selected<% } %>>Paid</option>
                    <option value="active_trials" <% if(paymentType == 'active_trials') { %> selected <% } %> >Active Trials</option>
                    <option value="expired_trials" <% if(paymentType == 'expired_trials') { %> selected <% } %> >Expired Trials</option>
                    <option value="locked" <% if(paymentType == 'locked') { %> selected <% } %> >Locked</option>
                </select>
                <i class="icon-down-open"></i>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="msT span4 label-group">
            <div class="label-text">Duration</div>
            <div class="custom-select-container">
                <select id="duration-change">
                    <option value="daily" <% if(duration == 'daily') { %> selected<% } %>>Yesterday</option>
                    <option value="weekly" <% if(duration == 'weekly') { %> selected <% } %> >Last 7 days</option>
                    <option value="monthly" <% if(duration == 'monthly') { %> selected <% } %> >Last 30 days</option>
                    <option value="quarterly" <% if(duration == 'quarterly') { %> selected <% } %> >Last 90 days</option>
                    <option value="custom" <% if(duration == 'custom') { %> selected <% } %> >Custom</option>
                </select>
                <i class="icon-down-open"></i>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

        <div class="msT date-range-container parallel <% if(duration != 'custom') { %> hidden <% } %>">
            <form class="form-horizontal msL mjT">
                <fieldset class="plR">
                    <div class="control-group">
                        <label class="control-label" for="date-range-select">Select Duration:</label>

                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on"><i class="icon-calendar"></i></span><input type="text" name="date-range-select" id="date-range-select" value="<%= startDate + ' - ' + endDate %>"/>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <hr>


    <div class="main-content">
        <table cellpadding="0" cellspacing="0" border="0" class="dash-table hidden table dt-sleektable">
            <% if(tableType == 'full') { %>
                <col class="small">
            <% } %>

            <col class="large">

            <% if(tableType == 'full') { %>
                <col class="jumbo">
                <col class="large">
            <% } %>

            <col class="small">
            <col class="small">
            <col class="small">
            <col class="small">
            <col class="small">
            <col class="small">
            <col class="small">
            <col class="small">
            <% if(viewType == 'licenseUsage') { %>
                <col class="small">
                <col class="small">
            <% } %>

            <% if(tableType == 'full') { %>
                <col class="mid">
                <% if(paymentType == 'paid') { %>
                    <col class="mid">
                <% } %>
            <% } %>
            <thead>
            <tr>
                <% if(tableType == 'full') { %>
                    <td rowspan="2" colspan="1">ID</td>
                <% } %>
                <td rowspan="2" colspan="1">Name</td>
                <% if(tableType == 'full') { %>
                    <td rowspan="2" colspan="1">Email</td>
                    <td rowspan="2" colspan="1">Plan</td>
                <% } %>
                <% if(viewType == 'dataUsage') { %>
                    <td rowspan="1" colspan="2" class="taC">Tests</td>
                    <td rowspan="1" colspan="2" class="taC">Invites</td>
                    <td rowspan="1" colspan="2" class="taC">Attempts</td>
                    <td rowspan="1" colspan="2" class="taC">Interviews</td>
                <% } %>
                <% if(viewType == 'licenseUsage') { %>
                    <td rowspan="1" colspan="2" class="taC">Teams</td>
                    <td rowspan="1" colspan="2" class="taC">Admin</td>
                    <td rowspan="1" colspan="2" class="taC">Recruiters</td>
                    <td rowspan="1" colspan="2" class="taC">Developers</td>
                    <td rowspan="1" colspan="2" class="taC">Users</td>
                <% } %>

                <% if(tableType == 'full') { %>
                    <td colspan="1" rowspan="2">Creation Date</td>
                    <% if(paymentType == 'paid') { %>
                        <td colspan="1" rowspan="2">Activity Level</td>
                    <% } %>
                <% } %>
            </tr>
            <tr>
                <td rowspan="1" colspan="1">Count</td>
                <td rowspan="1" colspan="1">Growth</td>
                <td rowspan="1" colspan="1">Count</td>
                <td rowspan="1" colspan="1">Growth</td>
                <td rowspan="1" colspan="1">Count</td>
                <td rowspan="1" colspan="1">Growth</td>
                <td rowspan="1" colspan="1">Count</td>
                <td rowspan="1" colspan="1">Growth</td>
                <% if(viewType == 'licenseUsage') { %>
                    <td rowspan="1" colspan="1">Count</td>
                    <td rowspan="1" colspan="1">Growth</td>
                <% } %>
            </tr>

            </thead>
            <tbody>
            <% _.each(companies, function(company) { %>
            <tr data-company-id="<%= company.id %>">
                <% if(tableType == 'full') { %>
                    <td><%= company.id %></td>
                <% } %>
                <td><%= HR.util.htmlEncode(company.name) %></td>
                <% if(tableType == 'full') { %>
                    <td><%= HR.util.htmlEncode(company.email) %></td>
                    <td><%= company.plan %></td>
                <% } %>

                <% if(viewType == 'dataUsage') { %>
                    <td><%= company.tests_count %></td>
                    <td><%= company.tests_diff %></td>
                    <td><%= company.invites_count %></td>
                    <td><%= company.invites_diff %></td>
                    <td><%= company.attempts_count %></td>
                    <td><%= company.attempts_diff %></td>
                    <td><%= company.interviews_count %></td>
                    <td><%= company.interviews_diff %></td>
                <% } %>

                <% if(viewType == 'licenseUsage') { %>
                    <td><%= company.teams_count %></td>
                    <td><%= company.teams_diff %></td>
                    <td><%= company.admins_count %></td>
                    <td><%= company.admins_diff %></td>
                    <td><%= company.recruiters_count %></td>
                    <td><%= company.recruiters_diff %></td>
                    <td><%= company.developers_count %></td>
                    <td><%= company.developers_diff %></td>
                    <td><%= company.users_count %></td>
                    <td><%= company.users_diff %></td>
                <% } %>

                <% if(tableType == 'full') { %>
                    <td><%= company.created_at %></td>
                    <% if(paymentType == 'paid') { %>
                        <td><%= company.score_text %></td>
                    <% } %>
                <% } %>
            </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
</div>