<div class="data-section-title mlT mlB">
    <h3>License Usage</h3>
</div>

<div class="basic-info-container mlL">
    <div class="mjT">
        <div class="btn-group">
            <a href="#" class="btn graph-type-change <% if(graphType == 'teams_time') { %> active btn-primary <% } %>"
               data-graph-type="teams_time">Teams vs Time</a>
            <a href="#" class="btn graph-type-change <% if(graphType == 'users_time') { %> active btn-primary <% } %>"
               data-graph-type="users_time">Users vs Time</a>
        </div>
    </div>

    <div class="section mlT">
        <div id="data-sub-section-container">

        </div>
    </div>
</div>