<div class="data-section-title mlT mlB">
    <h3>Data Usage</h3>
</div>

<div class="basic-info-container mlL">
    <div class="mjT">
        <div class="btn-group">
            <a href="#" class="btn graph-type-change <% if(graphType == 'tests_time') { %> active btn-primary <% } %>"
               data-graph-type="tests_time">Tests vs Time</a>
            <a href="#" class="btn graph-type-change <% if(graphType == 'invites_time') { %> active btn-primary <% } %>"
               data-graph-type="invites_time">Invites vs Time</a>
            <a href="#" class="btn graph-type-change <% if(graphType == 'attempts_time') { %> active btn-primary <% } %>"
               data-graph-type="attempts_time">Attempts vs Time</a>
            <a href="#" class="btn graph-type-change <% if(graphType == 'interviews_time') { %> active btn-primary <% } %>"
               data-graph-type="interviews_time">Interviews vs Time</a>
        </div>
    </div>

    <div class="section mlT">
        <div id="data-sub-section-container">

        </div>
    </div>
</div>