<div class="top-fixed-bar">
    <h3 class="topbar-h3 mjL">Duplicate Question from HR Challenge</h3>
</div>

<div class="overflow-content" id="control-overflow">
    <form id="duplicate-from-hr-form" class="mjA">
        <div class="msT msB">
            <div class="span2 msT">Challenge: </div>
            <div class="span14"></div>
            <input type="hidden" id="challenge-select2" class="wide">
        </div>

        <div class="msT msB">
            <div class="span2">Search By :</div>
            <div class="span14 search-radio-grp">
                <label class="span1">
                    <input id="search-fields-id" name="search-field" type="radio" value="id" <% if(searchBy == 'id') {
                    %> checked='checked' <% } %>/>ID
                </label>
                <label class="span3">
                    <input id="search-fields-name" name="search-field" type="radio"
                           value="name" <% if(searchBy == 'name') { %> checked='checked' <% } %> />Name
                </label>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="msT msB">
            <div class="span2 msT">User:</div>
            <div class="span14"></div>
            <input type="hidden" id="user-select2" class="wide">
        </div>

        <div class="msT msB">
            If you do not select a user, questions@interviewstreet.com will become the owner of the new question
        </div>

        <button type="submit" class="btn btn-primary">Duplicate</button>
    </form>

    <div class="message-box hidden mlA"></div>
</div>
