<div class="top-fixed-bar">
    <h3 class="topbar-h3 mjL">Switch User</h3>
</div>

<div class="overflow-content" id="control-overflow">
    <form id="su-form" class="mjA">
        <div class="msT msB">
            <div class="span13">
                <input type="text" class="wide" name=email id="su-email" placeholder="Enter Email Address">
            </div>
        </div>

        <div class="row no-margin plT">
            <div class="span-xs-16 span-md-16">
                <button type="submit" id="su-submit" class="btn btn-primary btn-mid">Skadoosh !!
                </button>
            </div>
        </div>
    </form>

    <div class="mjA hidden message-box">
    </div>
</div>
